<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/materialManagement.css" />
</head>
<body>
<div class="upload-vue">
    <div class="upload-top">
        <p>上传文件大小<=20M</p>
        <div class="upload-top-btn" id="uploadFile2">
            <span>上传文件</span>
        </div>
        <div class="upload-top-btn" id="uploadFileFont">
            <span>上传图文素材</span>
        </div>
        <a href="javascript:;"
           title="重命名组"
           v-show="currentGroupId == null || currentGroupId != groups[0].groupid"
           @click="renameGroup();">
            重命名组
        </a>
        <a href="javascript:;"
           title="删除分组"
           v-show="currentGroupId == null || currentGroupId != groups[0].groupid"
           @click="delGroup();">
            删除分组
        </a>
    </div>
    <div class="upload-left">
        <a v-for="group in groups"
           href="javascript:;"
           title="{{ group.groupname }}"
           v-bind:class="{ 'on': group.groupid == currentGroupId }"
           @click="getMaterial(group);">
            {{ group.groupname }}（{{ group.jl }}）
        </a>
        <p class="upload-left-add-group" @click="createGroup();">新建分组</p>
    </div>
    <div class="upload-right">
        <div class="upload-right-top-btns">
            <label>
                <input type="checkbox" @change="selectAllFile();" v-model="selectedAll">
                <span>选择全部</span>
            </label>
            <a href="javascript:;" title="移动分组" id="move-group" @click="moveGroup();">移动分组</a>
            <a href="javascript:;" title="删除" id="del-group" @click="delMaterial();">删除</a>
        </div>
        <ul class="upload-list">
            <template v-for="material in materials">
                <li>
                    <div v-if="material.materialtype == 'media'"
                         @click="playAudio(material.picurl, material.realname)"
                         title="点击播放"
                         class="upload-list-img upload-list-audio"
                         v-bind:style="{ background: 'url(images/img_voice_off.jpg) center center no-repeat' }"></div>
                    <div v-if="material.materialtype == 'video'"
                         @click="playVideo(material.picurl, material.realname)"
                         title="点击播放"
                         class="upload-list-img upload-list-audio"
                         v-bind:style="{ background: 'url(images/img_video.jpg) center center no-repeat' }"></div>
                    <div v-if="material.materialtype != 'media' & material.materialtype != 'video'"
                         class="upload-list-img"
                         v-bind:style="{ background: 'url(' + material.picurl + ') center center no-repeat' }"></div>
                    <div class="upload-list-btns">
                        <a href="javascript:;"
                           title="修改"
                           @click="renameMaterial(material)"
                           class="upload-list-edit"></a>
                        <a href="javascript:;"
                           title="移动分组"
                           @click="moveGroup(material.picid)"
                           class="upload-list-move"></a>
                        <a href="javascript:;"
                           title="删除"
                           @click="delMaterial(material.picid);"
                           class="upload-list-del"></a>
                    </div>
                    <label>
                        <input type="checkbox" value="{{ material.picid }}" v-model="selectedMaterials" />
                        <span>{{ material.realname }}</span>
                    </label>
                </li>
            </template>
        </ul>
    </div>
</div>
<div class="upload-pager-box">
    <div id="upload-pager">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<div class="popup-hidden">
    <div class="group-create">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>创建分组</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>名称</p>
                        <input type="text" id="create-group-name" />
                        <span class="red-link">*</span>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].material.createGroup();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- group rename -->
    <div class="group-rename">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>编辑分组名称</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>当前名称</p>
                        <input type="text" id="rename-group-name" />
                        <span class="red-link">*</span>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].material.renameGroup();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- material rename -->
    <div class="material-rename">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>编辑素材名称</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>当前名称</p>
                        <input type="text" id="rename-material-name" />
                        <span class="red-link">*</span>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].material.renameMaterial();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- move group -->
    <div class="move-group">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>移动分组</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>移动至</p>
                        <select id="group-list"></select>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].material.moveGroup();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- audio preview -->
    <div class="audio-preview">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>音频预览</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p id="audio-preview-name"></p>
                        <audio src="" id="audio-preview-player" controls></audio>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="关闭" class="popup-btns-ok" onclick="Common.popupClose();">关闭</a>
                </div>
            </div>
        </div>
    </div>
    <!-- video preview -->
    <div class="video-preview">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>视频预览</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p id="video-preview-name"></p>
                        <video src="" id="video-preview-player" controls></video>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="关闭" class="popup-btns-ok" onclick="Common.popupClose();">关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 创建图文素材 -->
<div class="create">
    <div class="create-title">
        <a href="javascript:;" title="返回">返回</a>
        <span>|</span>
        <p>图文素材上传</p>
    </div>
    <ul class="create-left">
        <li>
            <p class="create-left-row-name">素材名称</p>
            <input type="text" id="create-left-name" class="create-left-title">
            <span class="red">*</span>
        </li>
        <li>
            <p class="create-left-row-name">图片素材</p>
            <div class="create-left-icons"></div>
            <a href="javascript:;" title="选择图片" id="create-left-upload-icon" class="create-left-upload-icon">选择图片</a>
            <span class="red">*</span>
        </li>
        <li>
            <p class="create-left-row-name">文字素材</p>
            <script id="create-left-editor" type="text/plain" style="width:626px;height:208px;"></script>
        </li>
        <li>
            <div class="create-left-btns">
                <a href="javascript:;" title="保存" id="create-save">保存</a>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/ajaxupload.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="js/materialManagement.js"></script>
</body>
</html>