<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <base href="/"> -->
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"/>
    <meta http-equiv="cache-control" content="private"/>
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <meta charset="utf-8"/>
    <title>昆明市住房公积金管理中心</title>
    <meta name="description"
          content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <#include "/template/resource.html"/>
</head>
<body>
<!--header-->
<#include "/template/header.html"/>

<div class="container content-wrap view-page">
    <!--左边信息-->
    <div class="item-left-content-wrap pull-left mr-20">
        <div>
            <#include "/template/sidebar.html"/>
        </div>
    </div>

    <!--右边财政预决算列表-->
    <div class="item-bigger-wrap pull-left">
        <div class="content-title">
            <span>当前位置
                <img src="../resource/img/left_item/icon_arrow_sel.png" alt="">
                <a href="./index.html">网站首页</a>
                <img src="../resource/img/left_item/icon_arrow_sel.png" alt="">
                <a href="./government-budget.html"> 财政预决算公开</a>
            </span>
        </div>
        <div class="border-e8 list-big border-none-top">
            <div id="budgetListWrap">
                <div class="list-text-big row cursor hide">
                    <a class="href">
                        <div class=" col-sm-9 ellipsis">
                            <img src="../resource/img/index/icon_list.png" alt=">">
                            <span class="title"></span>
                        </div>
                        <div class="col-sm-3 time text-right"></div>
                    </a>
                </div>
            </div>

            <!--分页-->
            <div id="pagination"></div>

        </div>
    </div>
</div>


<!--footer-->
<#include "./template/footer.html"/>


<!-- jQuery -->

<script src="../resource/js/governmentBudget.js"></script>
</body>
</html>