<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>table_building</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css"/>
    <link rel="stylesheet" type="text/css" href="css/analysis.css"/>
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css"/>
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css"/>
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" href="css/channelState.css">
    <link rel="stylesheet" href="css/channelService.css">
    <link rel="stylesheet" type="text/css" href="css/bussinessLog.css"/>
</head>
<body>

<div class="channelAnalysis-tab">
    <a href="javascript:;" title="APP业务日志信息" class="on">APP业务日志信息</a>
    <a href="javascript:;" title="MI中心前置业务日志信息">MI中心前置业务日志信息</a>
</div>
<div class="channelAnalysis-chats bussiness-log">
    <div id="views">
        <div class="channelAnalysis-top">
            <form id="logForm" method="post">
                <p class="channelAnalysis-top-name">中心名称</p>
                <select class="channelAnalysis-select" name="centerid" id="customerName"></select>
                <span class="red-required">*</span>

                <p class="channelAnalysis-top-name">设备区分</p>
                <select class="channelAnalysis-select" id="equipmentDivision" name="devtype"></select>
                <span class="red-required">*</span>

                <p class="channelAnalysis-top-name">软件版本</p>
                <select class="channelAnalysis-select" id="versionType" name="versionno"></select>
                <span class="red-required">*</span>
                <br>
                <p class="channelAnalysis-top-name">处理状态</p>
                <select class="channelAnalysis-select" id="proccess-status" name="freeuse1">
                    <option value="">请选择...</option>
                    <option value="0">正常完毕</option>
                    <option value="1">错误异常</option>
                    <option value="2">无应答</option>
                </select>
                <span class="red-required">&nbsp;</span>


                <p class="channelAnalysis-top-name">业务类型</p>
                <select class="channelAnalysis-select" id="serviceType" name="transtype"></select>
                <span class="red-required">*</span>

                <p class="channelAnalysis-top-name">用户ID</p>
                <input type="text" class="channelAnalysis-input" id="channel-userid" name="channeluser"/>
                <br>
                <p class="channelAnalysis-top-name">业务日期</p>
                <input type="text" class="channelAnalysis-top-endTime" id="channelAnalysis-top-endTime"
                       name="transdate"/>
                <span class="red-required">&nbsp;</span>
                <p class="channelAnalysis-top-name">设备标识</p>
                <input type="text" class="channelAnalysis-input" id="equipmentDevice" name="devid"/>
                <span class="red-required">&nbsp;</span>

                <a href="javascript:;" title="查询" class="channelAnalysis-top-queryBtn" id="querybtn">查询</a>
            </form>
        </div>
    </div>
    <div id="activity">
        <div class="channelAnalysis-top">
            <form method="post">
            <p class="channelAnalysis-top-name">中心名称</p>
            <select class="channelAnalysis-select" id="customerName-mi" name="micenterid"></select>
            <span class="red-required">*</span>

            <p class="channelAnalysis-top-name">业务类型</p>
            <select class="channelAnalysis-select" id="mi-serviceType" name="mitranstype"></select>
            <span class="red-required">*</span>

            <p class="channelAnalysis-top-name">处理状态</p>
            <select class="channelAnalysis-select" id="proccess-status-mi" name="mifreeuse1">
                <option value="">请选择...</option>
                <option value="0">正常完毕</option>
                <option value="1">错误异常</option>
                <option value="2">无应答</option>
            </select>
            <br>
            <p class="channelAnalysis-top-name">用户ID</p>
            <input type="text" class="channelAnalysis-input" id="channel-userid-mi" name="miuserid"/>
            <span class="red-required">&nbsp;</span>

            <p class="channelAnalysis-top-name">设备标识</p>
            <input type="text" class="channelAnalysis-input" id="equipmentDevice-mi" name="midevid"/>
            <span class="red-required">&nbsp;</span>

            <p class="channelAnalysis-top-name">业务日期</p>
            <input type="text" class="channelAnalysis-top-endTime" id="channelAnalysis-top-startTime" name="mitransdate"/>
            <span class="red-required">&nbsp;</span>

            <a href="javascript:;" title="查询" class="channelAnalysis-top-queryBtn" id="querybtn-mi">查询</a>
            </form>
        </div>


    </div>
</div>

<div class="orgManage-box channelBox">
    <div class="orgManage-table-btns buiManageBtns">
        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
    </div>
    <table id="setTable"></table>
    <div id="orgManage-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>

<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/businessLog.js"></script>
</body>
</html>
