<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/systemManagement.css" />
</head>
<body>
<div class="sysMgmt-customerFn-top">
    <p>待分配客户</p>
    <div id="customerFn-droplist">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
</div>
<div class="common-btns sysMgmt-customerFn-saveContent">
    <a href="javascript:;" title="保存" class="common-btns-save">保存</a>
</div>
<div class="customerFn-table-header">
    <p>功能</p>
    <div>选择</div>
</div>
<ul class="customerFn-table">
    <template v-for="item in func">
        <li>
            <h2>{{ item.funcname }}</h2>
            <dl v-if="item.children">
                <dd v-for="child in item.children">
                    <p>{{ child.funcname }}</p>
                    <div>
                        <input v-if="child.funcid.length > 8" type="checkbox" value="{{ child.funcid.substring(0,8)+'_' + centerid + '_' + Math.pow(2, (8-substring(0,8))) }}" v-model="postData" />
                        <input v-else type="checkbox" value="{{ child.funcid + '_' + centerid + '_0' }}" v-model="postData" />
                    </div>
                </dd>
            </dl>
        </li>
    </template>
</ul>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/systemManagement.js"></script>
</body>
</html>