<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/systemManagement.css" />
</head>
<body>
<div class="sysMgmt-rolePermission-top">
    <p>客户名称</p>
    <div id="rolePermission-droplist">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <p id="rolePermission-name">角色</p>
    <div id="rolePermission-droplist-role">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <a href="javascript:;" class="disabled" title="确定">确定</a>
</div>
<div class="common-btns sysMgmt-customerFn-saveContent rolePermission-btns">
    <a href="javascript:;" title="保存" class="common-btns-save">保存</a>
</div>
<div class="rolePermission-table-box">
    <div class="customerFn-table-header">
        <p>菜单</p>
        <div v-for="role in roles">{{ role.rolename }}</div>
    </div>
    <ul class="customerFn-table rolePermission-table">
        <template v-for="item in menu">
            <li>
                <h2>{{ item.funcname }}</h2>
                <dl v-if="item.children">
                    <dd v-for="child in item.children">
                        <p>{{ child.funcname }}</p>
                        <div v-for="role in roles">
                            <input v-if="child.funcid.length > 8" type="checkbox" value="{{ child.funcid.substring(0,8)+'_' + role.roleid + '_' + Math.pow(2, (8-child.funcid.substring(0,8))) }}" v-model="postData" />
                            <input v-else type="checkbox" value="{{ child.funcid + '_' + role.roleid + '_0' }}" v-model="postData" />
                        </div>
                    </dd>
                </dl>
            </li>
        </template>
    </ul>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/systemManagement.js"></script>
</body>
</html>