<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>serviceLevel</title>
	<link rel="stylesheet" type="text/css" href="css/hx.core.css" />
	<link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
	<link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
	<link rel="stylesheet" href="css/3rd/main.css">
	<link rel="stylesheet" href="css/3rd/960.css">
	<link rel="stylesheet" href="css/3rd/mmGrid.css">
	<link rel="stylesheet" href="css/3rd/mmPaginator.css">
	<link rel="stylesheet" type="text/css" href="css/serviceLevel.css">
</head>
<body>
<div class="serviceWrap">
	<div class="servSearch">
		<ul>
			<li>客户名称
				<select class="uidSelect" id="uidSelect">
				</select>
			</li>
			<li>开始时间
				<input type="text" placeholder="" class="servText inputDate" id="serviceStart">
			</li>
			<li>结束时间
				<input type="text" placeholder="" class="servText inputDate" id="serviceEnd">
			</li>
			<a href="javascript:;" title="查询" class="servSearchBtn" onclick="">查询</a>
		</ul>
	</div>
	<div class="servForm" id="servForm"></div>
</div>


<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/3rd/echarts.common.min.js"></script>
<script type="text/javascript" src="js/serviceLevel.js"></script>
</body>
</html>
