.hx-droplist{width:218px;height:28px;border:1px solid #cecece;position:relative;background:#fff;}
.hx-droplist-placeholder{width:186px;padding-right:32px;height:28px;overflow:hidden;line-height:28px;text-indent:8px;background:url(../images/droplist.png) 192px center no-repeat;text-overflow:ellipsis;white-space: nowrap;word-break: normal;word-wrap: normal;font-size:13px;}
.hx-droplist:hover{cursor: pointer;border-color:#4A9FD0}
.hx-droplist:focus{cursor: pointer;border-color:#237FB5}
.hx-droplist-ul{position:absolute;border:1px solid #cecece;left:-1px;width:100%;background:#fff;z-index:99;max-height:160px;overflow-x:hidden;top:29px;}
.hx-droplist-ul li{padding:0 10px;height:28px;line-height:28px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;font-size:13px;color:#666}
.hx-droplist-ul li:hover{background:#e5e5e5}
.hx-droplist-ul li.on{background:#ccc}
/* customer */
#test, #test2{margin:20px;width:220px;float:left}
/* alpha-placeholder-bg */
.toppestZindex{z-index:9999}