.custom-message-box,.bulk-message-box{margin:0 10px;padding:10px 0;}
.custom-message-box .common-btns,.bulk-message-box .common-btns{min-height:76px;height:auto;}
.bulk-message-box .common-btns a,.custom-message-box .common-btns a{margin-bottom:4px;}
.message-hidden{display: none;}
/* create */
.pic-and-font{display:none;margin:20px;font-size:0;}
.create-title{width:100%;height:42px;font-size:0;margin:14px auto;}
.create-title a{display:inline-block;font:14px/42px "microsoft yahei";color:#666;padding-left:28px;background:url(../images/goback.jpg) 0 center no-repeat;}
.create-title span{font:16px/42px "microsoft yahei";color:#c8c7cc;margin:0 14px;}
.create-title p{display:inline-block;font:18px/42px "microsoft yahei";color:#333;text-indent:0;}
.create{font-size:0;}
.create-left{display:inline-block;height:auto;width:746px;vertical-align: top}
.create-left li{padding-bottom:14px;}
.create-left-icons{width:138px;height:77px;background:url(../images/upload_placeholder.jpg) center center no-repeat;display:inline-block;background-size:cover}
.create-left-icons img{background:#fff;}
.create-left-row-name{width:88px;height:30px;padding-right:8px;text-align:right;font:14px/30px "microsoft yahei";color:#333;display:inline-block;text-indent:0;vertical-align: top}
.create-left-columns{display:inline-block;width:290px;height:30px;border:1px solid #dadbdd;font:14px/30px "microsoft yahei";color:#333;background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow:0;padding:0 5px;}
.create-left-columns::-ms-expand{display: none;}
.red{font-size:14px;line-height:30px;display:inline-block;margin-left:14px;color:red;}
.create-left-upload-icon{display:inline-block;vertical-align: bottom;width:93px;height:30px;text-align:center;font:14px/30px "microsoft yahei";color:#fff;background:#66cc66;margin-left:14px;}
.release-date{display:inline-block;width:170px;height:30px;background:url(../images/date.jpg) 160px center no-repeat #fff;border:1px solid #dadbdd;font-size:14px;padding:0 5px;display:none;}
.create-left-title{width:614px;height:28px;border:1px solid #dadbdd;padding:0 5px;display:inline-block;}
#create-left-summary{display:inline-block;border:1px solid #dadbdd;resize: none;width:614px;height:68px;padding:0 5px;}
#create-left-editor{width:604px;height:340px;display:inline-block;position:relative;z-index:1;}
.ke-container{display:inline-block;width:624px !important;}
.create-send-channel,.create-left-type{display:inline-block;font:14px/30px "microsoft yahei";}
.create-send-channel input,.create-left-type input{vertical-align: middle;margin-top:-2px;margin-right:2px;}
.create-send-channel label,.create-left-type label{padding-right:14px;}
.create-left-btns{width:100%;height:auto;text-align:center;}
.create-left-btns a{display:inline-block;width:98px;height:31px;text-align:center;border:1px solid #66cc66;font:14px/31px "microsoft yahei";color:#fff;background:#66cc66;margin:0 5px;}
.create-left-btns a:hover{background:#fff;color:#666}
.create-right{display:inline-block;height:auto;width:calc(100% - 746px);vertical-align: top;}
.create-right-title{width:100%;height:35px;border-bottom:2px solid #66cc66;background:#d2d2d2;overflow:hidden;}
.create-right-title a{display:block;float:left;width:50%;height:35px;text-align:center;font:12px/35px "microsoft yahei";color:#fff;}
.create-right-title a.on{background:#66cc66;}
.create-right-search-box{border:1px solid #ccc;height:40px;padding-top:10px;background:#fff;overflow:hidden;text-align:center;}
#create-right-search-val{width:170px;padding:0 5px;height:30px;border:1px solid #ccc;display:inline-block;margin-left:10px;vertical-align: middle;border-radius:2px 0 0 2px;}
#create-right-search-btn{display:inline-block;width:30px;height:30px;background:url(../images/info_icon.jpg) center center no-repeat #f3f3f3;border:1px solid #ccc;border-left:0;box-shadow:1px 1px 1px #fff inset;vertical-align: middle;border-radius: 0 2px 2px 0;}
#create-right-search-refresh{display:inline-block;width:30px;height:30px;background:url(../images/info_refresh.jpg) center center no-repeat #f3f3f3;border:1px solid #ccc;border-radius:2px;vertical-align: middle;margin:0 4px;}
#create-right-search-set{display:inline-block;width:30px;height:30px;background:url(../images/info_set.jpg) center center no-repeat #f3f3f3;border:1px solid #ccc;border-radius:2px;vertical-align: middle;}
.create-right-groups{border:1px solid #ccc;border-top:0;height:439px;overflow-x: hidden;}
.create-right-group-title{display:block;width:100%;height:36px;font:14px/36px "microsoft yahei";color:#666;text-indent:10px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.create-right-group-title.on{background:#f1f1f2}
.material-box{width:100%;height:166px;overflow-y:hidden;font-size:0;}
.material-li{width:96px;height:166px;display:inline-block;}
.material-pic{width:68px;height:68px;margin:16px auto 0;border:1px solid #ccc;}
.material-li p{width:96px;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font:12px/36px "microsoft yahei";color:#666666;height:36px;margin:0 auto;text-indent:0;}
.material-li a{width:64px;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font:12px/20px "microsoft yahei";color:#999;height:20px;border:1px solid #e3e4e4;margin:0 auto;display:block;}
.create-left-row-textarea{width:614px;height:114px;display:inline-block;resize:none;border:1px solid #dadbdd;padding:5px;}
/* preview */
.preview{display:none;}
/* create more */
.created-more{width:calc(100% - 758px);margin-right:10px;height:auto;min-height:720px;background:#f4f5f9;border:1px solid #eee;display:inline-block;}
.created-main{background:#fff;padding:10px;position:relative;border:1px solid transparent;border-bottom:1px solid #eee;}
.created-main img{display:block;width:100%;}
.created-main p{position:absolute;bottom:10px;left:10px;right:10px;background:rgba(0,0,0,.4);font:14px/40px "microsoft yahei";color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;height:40px;padding:0 10px;text-indent:0;}
.created-sub{padding:10px;background:#fff;border:1px solid transparent;border-bottom:1px solid #eee;height:auto;overflow:hidden;vertical-align: middle;font-size:14px;position:relative;}
.created-main.on,.created-sub.on{border-color:#66cc66}
.created-sub img{float:right;width:20%;}
.created-sub-title{display:inline-block;position:absolute;left:10px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;top:50%;margin-top:-10px;width:60%;}
.created-add{border:1px dashed #c9c9c9;height:93px;margin:10px;cursor: pointer;text-align:center;font:14px/93px "microsoft yahei";color:#999;background:url(../images/add_icon.jpg) 112px center no-repeat;}
/* table */
.color-green{color:#44b549}
.color-org{color:#ff8800}
#bulk-message-table-pages{display:none;}
/* message view */
.custom-view-title{width:100%;text-align:center;height:54px;margin-top:13px;font:18px/54px "microsoft yahei";color:#666;}
.custom-view-title span{display:inline-block;border-bottom:2px solid #66cc66;padding:0 18px;}
.custom-message-view{margin:20px;display:none;}
.custom-message-view .common-btns{height:36px;}
.small-create-right{position:fixed;z-index:997;top:10px;right:0;height:auto;}
.small-create-right a{width:13px;height:62px;border:1px solid #66cc66;padding:28px 10px 0;font:14px/1 "microsoft yahei";color:#666;display:block;background:#fff;}
.small-create-right a.on{background:#66cc66;color:#fff;}
.small-create-right a.small-create-close{background:#ff6666;color:#fff;border-color:#ff6666;}
.small-create-right.on{right:300px}
.create-fixed{right:0;position:fixed;width:300px;top:10px;z-index:997;background:#fff;}
#GJJKBS-setjs-box{border:1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.created-sort,.created-preview-send-btn{padding:10px;font-size:0;}
.created-sort a{display:inline-block;width:66px;height:24px;background:#66cc66;color:#fff;text-align:center;font:12px/24px "microsoft yahei";margin:0 5px;}
.created-sort a.red-del{background:#ff6666}
.media-box{display:inline-block;min-height:36px;vertical-align: top;}
.media-box p{font-size:12px;line-height:30px;text-indent:0;}
/* select popup */
.select-user-area{display:none;}
.created-preview-send-btn a{display:inline-block;width:96px;height:24px;background:#66cc66;color:#fff;text-align:center;font:12px/24px "microsoft yahei";margin:0 5px 5px 5px;}