/* top */
html,body{background:#fff;}
body{min-width:899px;}
.userview-top{margin:16px;min-height:83px;border:1px solid #eee;background:#f4f5f9;overflow:hidden;line-height:83px;min-width:900px}
.userview-top-title{display:inline-block;font:12px/83px "microsoft yahei";color:#666666;padding:0 6px 0 24px;}
.userview-top-input{width:162px;height:28px;border:1px solid #dadbdd;background:#fff;padding:0 5px;}
.userview-top-btn{display:inline-block;width:92px;height:30px;text-align:center;background:#66cc66;color:#fff;font:14px/30px "microsoft yahei";margin-left:20px;}
#userview-custom{display:inline-block;font:14px/28px "microsoft yahei";color:#666;border:solid 1px #ddd;background:#fff;width:174px;padding:0px 20px 0 10px;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow: 0; margin-left:5px;background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;height:28px;}
#userview-custom::-ms-expand{display: none;}
/* content */
.userview-content{width:100%;min-width:900px;background:url(../images/userview_bg.jpg) center center no-repeat;height:568px;margin:0 auto;position:relative;overflow:hidden;opacity: 0;}
.userview-center{width:475px;height:452px;margin:49px auto;position:relative;left:-43px;}
.userview-center-btns{position:absolute;width:65px;height:65px;border-radius:65px;font-size:12px;line-height:65px;color:#333333;white-space:nowrap}
#userview-center-btn1{left:97px;top:0;text-indent:-36px;}
#userview-center-btn2{left:313px;top:0;text-indent:75px;}
#userview-center-btn3{left:410px;top:141px;text-indent:74px;}
#userview-center-btn4{left:361px;top:312px;text-indent:74px;}
#userview-center-btn5{left:199px;top:387px;text-indent:0;text-align:center;line-height:168px}
#userview-center-btn6{left:39px;top:311px;text-indent:-56px;}
#userview-center-btn7{left:0;top:140px;text-indent:-56px;}
.userview-center-box-bg{width:330px;height:330px;overflow:hidden;border-radius:330px;position:absolute;background:#000;top:46px;left:73px;box-shadow: 0 0 10px #999;}
#userview-center-box1{background:#31cc75;display:none;}
#userview-center-box2{background:#ea2323;display:none;}
#userview-center-box3{background:#e5ac23;display:none;}
#userview-center-box4{background:#f02f81;display:none}
#userview-center-box5{background:#9b59b6;display:none;}
#userview-center-box6{background:#3498db;display:none;}
#userview-center-box7{background:#22ba9d;display:none;}
#userview-center-box-main{background:#8bccef}
#userview-center-box1 h2{width:248px;height:85px;border-bottom:1px solid #66d999;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons1.png) center 0 no-repeat;}
.userview-center-box1-company{width:248px;height:96px;overflow:hidden;font:14px/24px "microsoft yahei";color:#fff;margin:0 auto}
#userview-center-box1 p,#userview-center-box2 p,#userview-center-box3 p,#userview-center-box4 p,#userview-center-box7 p{width:248px;font-size:0;margin:0 auto;text-align:center;}
#userview-center-box1 p a,#userview-center-box2 p a,#userview-center-box3 p a,#userview-center-box4 p a,#userview-center-box7 p a{display:inline-block;width:90px;height:26px;margin:0 4px;text-align:center;font:12px/26px "microsoft yahei";color:#666666;background:#fff;border-radius:3px;margin-top:8px;}
.userview-font-center{text-align:center;}
#userview-center-box2 h2{width:248px;height:85px;border-bottom:1px solid #ef5c5c;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons2.png) center 0 no-repeat;}
#userview-center-box3 h2{width:248px;height:85px;border-bottom:1px solid #ecc15c;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons3.png) center 0 no-repeat;}
#userview-center-box4 h2{width:248px;height:85px;border-bottom:1px solid #f465a2;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons4.png) center 0 no-repeat;}
#userview-center-box5 h2{width:248px;height:85px;border-bottom:1px solid #b584c9;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons5.png) center 0 no-repeat;}
#userview-center-box6 h2{width:248px;height:85px;border-bottom:1px solid #69b3e4;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons6.png) center 0 no-repeat;}
#userview-center-box7 h2{width:248px;height:85px;border-bottom:1px solid #5bccb6;overflow:hidden;margin:27px auto;font:18px/132px "microsoft yahei";color:#fff;text-align:center;background:url(../images/userview_icons7.png) center 0 no-repeat;}
.userview-center-vip{width:248px;height:55px;padding-top:77px;border-bottom:1px solid #a9d9f3;text-align:center;margin:0 auto;}
.userview-vip{font-size:18px;line-height:26px;background:url(../images/userview_vip.png) right center no-repeat;padding-right:32px;color:#fff;}
.userview-center-vip p {text-align:center;font-size:12px;line-height:24px;color:#fff;}
.userview-center-vip p span{margin-right:8px;background:url(../images/userview_check.png) 0 center no-repeat;padding-left:16px;}
#userview-center-box5 ul,
#userview-center-box6 ul{width:248px;height:auto;overflow:hidden;margin:0 auto;}
#userview-center-box5 ul li,
#userview-center-box6 ul li{width:100%;height:65px;}
#userview-center-box5 ul li p,
#userview-center-box6 ul li p{float:left;width:160px;height:26px;text-align:right;font:14px/26px "microsoft yahei";color:#fff;padding-right:9px;}
#userview-center-box6 ul li p{width:120px;}
#userview-center-box5 ul li a,
#userview-center-box6 ul li a{float:left;width:69px;height:26px;text-align:center;font:12px/26px "microsoft yahei";color:#666666;background:#fff;border-radius:3px;}
.userview-center-bus{width:100%;text-align:center;font:14px/100px "microsoft yahei";color:#fff;}
.userview-center-bus span{margin:0 18px;}
.userview-center-info{width:218px;height:auto;padding-left:34px;font:14px/22px "microsoft yahei";color:#fff;padding-top:8px;margin:0 auto;}
/* sub */
.userview-sub-title{margin:30px 14px 20px;height:28px;}
.userview-sub-title a{display:inline-block;background:url(../images/goback.jpg) 0 center no-repeat;padding-left:26px;font:12px/28px "microsoft yahei";color:#666;}
.userview-sub-title span{display:inline-block;font:14px/28px "microsoft yahei";color:#c8c7cc;margin:0 14px;}
.userview-sub-title-icons1{background:url(../images/userview_title1.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons2{background:url(../images/userview_title2.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons3{background:url(../images/userview_title3.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons4{background:url(../images/userview_title4.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons5{background:url(../images/userview_title5.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons6{background:url(../images/userview_title6.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
.userview-sub-title-icons7{background:url(../images/userview_title7.png) 0 center no-repeat;padding-left:35px;font:18px/28px "microsoft yahei";color:#333333;display:inline-block;}
/* sub 1 */
.userview-sub1-header{margin:0 14px;height:42px;border-bottom:1px solid #e0e0e0;overflow:hidden;font-size:0;}
.userview-sub1-header a{display:inline-block;border:1px solid #e0e0e0;background:#fff;margin-left:14px;border-bottom:0;height:42px;font:12px/40px "microsoft yahei";color:#333333;text-align:center;padding:0 24px;}
.userview-sub1-header a.on{border-top:2px solid #ff814c}
.userview-sub1-info,.userview-sub1-view{margin:12px 14px;}
.userview-sub1-info td,.userview-sub1-view td{border:1px solid #eee;font-size:12px;color:#666666;padding:0 10px;}
.userview-sub1-table-title{background:#f4f5f9}
.userview-sub1-view{display:none;}
#userView1-page{margin:14px;display:none;}
/* sub 2 */
.userview-sub2{margin:14px;overflow:hidden;}
.userview-sub2-table{float:left;width:498px;border:1px solid #eee;margin:0 10px 10px 0}
.userview-sub2-table td{border:1px solid #eee;font-size:12px;color:#666666;padding:0 10px;}
.userview-sub2-title{background:#f4f5f9}
.userview-sub2-title td{border-color:#f4f5f9}
.userview-sub2-title a{display:inline-block;width:100px;height:30px;background:#66cc66;text-align:center;color:#fff;font:14px/30px "microsoft yahei";}
.userview-sub2-title td.userview-sub2-green{border-left:1px solid #44b549;font-size:16px;}
/* sub 3 */
.userview-sub3-gjj,.userview-sub3-dk{display:none;}
.userview-sub3-btns a {display:inline-block;height:33px;padding:0 14px;background:#66cc66;color:#fff;font-size:13px;line-height:33px;margin:0 4px;}
#userView3-page{margin:14px;display:none;}
#userView3-page2, #userView3-page-plan, #userView5-page{margin:14px;}
.userview-sub3-search{background:#f4f5f9;border:1px solid #eee;height:83px;margin:14px 14px 0;}
.userview-sub3-search p{display:inline-block;padding:0 8px 0 34px;font:12px/83px "microsoft yahei";color:#666666;}
.userview-sub3-date{width:162px;height:28px;border:1px solid #dadbdd;padding:0 5px;background:url(../images/date.jpg) 152px center no-repeat #fff;}
#userview-sub3-query1, #userview-sub3-query2{display:inline-block;width:92px;height:30px;background:#66cc66;text-align:center;font:14px/30px "microsoft yahei";color:#fff;margin-left:14px;}
#userview-sub3-search1{display:none;}
.userview-sub3-header{margin:0 14px;height:42px;border-bottom:1px solid #e0e0e0;overflow:hidden;font-size:0;}
.userview-sub3-header a{display:inline-block;border:1px solid #e0e0e0;background:#fff;margin-left:14px;border-bottom:0;height:42px;font:12px/40px "microsoft yahei";color:#333333;text-align:center;padding:0 24px;}
.userview-sub3-header a.on{border-top:2px solid #ff814c}
#userview-sub3-viewInfo, #userview-sub3-plan{display:none;}
#userview-sub3-viewInfo-block,.userview-block{display:block;}
.userview-sub3-viewInfo-top{margin:14px;overflow:hidden;}
.userview-sub3-viewInfo-top li{float:left;height:40px;padding-top:4px;border-right:1px solid #e2e2e2;width:282px;margin-right:42px;}
.userview-sub3-viewInfo-top li:last-child{border-right:0;}
.userview-sub3-viewInfo-top li div{float:left;width:50%;height:44px;}
.userview-sub3-viewInfo-top li div h2{font:21px/1 "impact";color:#44b549;}
.userview-sub3-viewInfo-top li div h3{font:21px/1 "impact";color:#ffcc33;}
.userview-sub3-viewInfo-top li div p{font:14px/20px "microsoft yahei";color:#333333;}
.sub3-plan-title{background:url(../images/title_bar.jpg) 0 center no-repeat;font:14px/50px "microsoft yahei";color:#333333;padding-left:14px;margin:0 14px;}
#userview-sub3-plan-table{display:block !important;}
/* sub 5 */
.userview-sub5-header{margin:0 14px;height:42px;border-bottom:1px solid #e0e0e0;overflow:hidden;font-size:0;}
.userview-sub5-header a{display:inline-block;border:1px solid #e0e0e0;background:#fff;margin-left:14px;border-bottom:0;height:42px;font:12px/40px "microsoft yahei";color:#333333;text-align:center;padding:0 24px;}
.userview-sub5-header a.on{border-top:2px solid #ff814c}
.userview-block a{color:#66cc66}
.userview-sub5-input{width:162px;height:28px;border:1px solid #dadbdd;padding:0 5px;background: #fff;}
#userview-sub5-query{display:inline-block;width:92px;height:30px;background:#66cc66;text-align:center;font:14px/30px "microsoft yahei";color:#fff;margin-left:14px;}
.userview-sub5-box2{display:none;margin:14px;}
.userview-sub5-view-title-box{width:100%;text-align:center;height:52px;}
.userview-sub5-view-title{height:52px;border-bottom:2px solid #66cc66;margin:0 auto;display:inline-block;padding:0 8px;font:18px/52px "microsoft yahei";color:#333333;}
.userview-sub5-view-header{margin:14px 14px 0;border:1px solid #eee;background:#f4f5f9;height:58px;}
.userview-sub5-view-header-left{float:left;background:url(../images/green_phone.png) 0 center no-repeat;padding-left:20px;margin-left:20px;font:14px/58px "microsoft yahei";color:#666666;}
.userview-sub5-view-header-right{float:right;height:40px;margin-top:9px;padding-right:20px;overflow:hidden;}
.userview-sub5-view-header-right h3{font:12px/20px "microsoft yahei";color:#666;}
.userview-sub5-view-header-right p{font:12px/20px "microsoft yahei";color:#666;}
.userview-sub5-view-con{margin:0 14px;border-left:1px solid #eee;background:#fff;border-right:1px solid #eee;overflow:hidden;}
.userview-sub5-view-qus,
.userview-sub5-view-anw{margin:10px 14px;background:url(../images/qus1.png) 0 2px no-repeat;padding-left:32px;min-height:24px;}
.userview-sub5-view-anw{background-image:url(../images/qus2.png);}
.userview-sub5-view-qus h4,.userview-sub5-view-anw h4{font:14px/22px "microsoft yahei";color:#666;}
.userview-sub5-view-qus div,.userview-sub5-view-anw div{font:12px/16px "microsoft yahei";color:#999999;}
.userview-sub5-view-bottom{margin:0 14px;border:1px solid #eee;height:42px;padding:0 14px;text-align:right;font:12px/42px "microsoft yahei";color:#999999;}
.userview-sub5-view-bottom span{margin-left:22px;}
.userview-sub5-view{display:none;}
/* sub 6 */
.userview-sub6-header{margin:0 14px;height:42px;border-bottom:1px solid #e0e0e0;overflow:hidden;font-size:0;}
.userview-sub6-header a{display:inline-block;border:1px solid #e0e0e0;background:#fff;margin-left:14px;border-bottom:0;height:42px;font:12px/40px "microsoft yahei";color:#333333;text-align:center;padding:0 24px;}
.userview-sub6-header a.on{border-top:2px solid #ff814c}
.userview-sub6-current{font:16px/48px "microsoft yahei";color:#666666;margin:14px;}
.userview-sub6-line-bg{margin:14px;height:140px;background:url(../images/green_line.png) 0 70px repeat-x;position:relative;}
.userview-sub6-arrow{position:absolute;right:0;background:url(../images/step_arrow.png) 0 0 no-repeat;width:9px;height:12px;top:65px;}
.userview-sub6-step li{float:left;width:102px;text-align:center;}
.userview-sub6-step li h2{width:100%;text-align:center;font:18px/58px "impact";color:#999;height:58px;}
.userview-sub6-step-icon{width:31px;height:25px;margin:0 auto;}
.userview-sub6-step-done{background:url(../images/step_done.png) center center no-repeat;}
.userview-sub6-step-none{background:url(../images/step_none.png) center center no-repeat;}
.userview-sub6-step li p{width:100%;text-align:center;font:14px/46px "microsoft yahei";color:#666;}
.userview-sub6-box2{display:none;}
/* sub 7 */
.userview-sub7-header{margin:0 14px;height:42px;border-bottom:1px solid #e0e0e0;overflow:hidden;font-size:0;}
.userview-sub7-header a{display:inline-block;border:1px solid #e0e0e0;background:#fff;margin-left:14px;border-bottom:0;height:42px;font:12px/40px "microsoft yahei";color:#333333;text-align:center;padding:0 24px;}
.userview-sub7-header a.on{border-top:2px solid #ff814c}
#userView7-page1,#userView7-page2,#userView7-page3{margin:14px;}
.userview-sub7-box2, .userview-sub7-box3{display:none;}
/* sub 5 list */
.userview-sub5-box2{font-size:0;}
.sub5-list{display:inline-block;width:270px;border:1px solid #eee;height:480px;overflow-x:hidden;background:#fff; vertical-align: top}
.sub5-content{display:inline-block;width:calc(100% - 274px);height:480px;border:1px solid #eee;background:#fff;border-left:0;vertical-align: top;overflow-x:hidden;}
.sub5-list li{width:254px;height:78px;border-bottom:1px solid #eee;background:#f4f5f9;overflow:hidden;font-size:0;cursor: pointer}
.sub5-list li.on{background:#fff;}
.sub5-list-icon{display:inline-block;width:30px;height:30px;margin:23px 12px 0 16px;vertical-align: top;}
.sub5-list-icon-web{background:url(../images/chat_icon5.png) 0 0 no-repeat;}
.sub5-list-no{display:inline-block;width:188px;margin-top:14px;vertical-align: top}
.sub5-list-no>div{width:100%;height:28px;}
.sub5-list-no>div p{float:left;font:16px/28px "microsoft yahei";color:#333;}
.sub5-list-no>div span{float:right;font:12px/28px "microsoft yahei";color:#666;}
.sub5-list-no>h4{width:100%;height:22px;}
.sub5-list-no>h4 .sub5-list-time{float:left;font:12px/22px "microsoft yahei";color:#666666;}
.sub5-list-no>h4 .sub5-list-evaluate{float:right;font:12px/22px "microsoft yahei";color:#666666;}
.sub5-content ul{padding:0 18px;overflow:hidden;}
.sub5-content ul li{width:100%;overflow:hidden;height:auto;padding:14px 0;}
.sub5-chat-q{width:565px;float:left;height:auto;overflow:hidden;}
.sub5-chat-q .sub5-chat-q-left{background:url(../images/aws_photo1.png) 0 0 no-repeat;width:111px;height:78px;float:left;}
.sub5-chat-a .sub5-chat-a-right{background:url(../images/que_photo1.png) 0 0 no-repeat;width:111px;height:78px;float:right;}
.sub5-chat-q-content{float:left;width:452px;height:auto;min-height:72px;border:1px solid #eee;background:#f4f5f9;overflow:hidden;border-radius:4px;}
.sub5-chat-a-content{float:right;width:452px;height:auto;min-height:72px;border:1px solid #eee;background:#f4f5f9;overflow:hidden;border-left:0;border-radius:4px;}
.sub5-chat-q-content p{padding:14px 16px 0;font:12px/20px "microsoft yahei";color:#999999;}
.sub5-chat-q-content div{padding:0 16px 14px;font:14px/22px "microsoft yahei";color:#666666;}
.sub5-chat-a-content p{padding:14px 16px 0;font:12px/20px "microsoft yahei";color:#999999;text-align:right}
.sub5-chat-a-content div{padding:0 16px 14px;font:14px/22px "microsoft yahei";color:#666666;text-align:right}