<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/reservation.css" />
</head>
<body>
<div class="reservation-box">
    <div class="reservation-table-btns">
        <a href="javascript:;" title="新建" id="reservation-btn-add">新建</a>
        <a href="javascript:;" title="修改" id="reservation-btn-edit">修改</a>
        <a href="javascript:;" title="删除" id="reservation-btn-del">删除</a>
    </div>
    <table id="reservation-table"></table>
    <div id="reservation-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<div class="reservation-hidden">
    <!-- popup create -->
    <div class="reservation-create">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>预约业务类型-增加</span>
                </h2>
                <div class="reservation-popup-title">预约业务类型</div>
                <div class="reservation-type-popup-content">
                    <div class="reservation-create">
                        <p>预约业务名称</p>
                        <input type="text" />
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].reservationType.add()">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- popup edit -->
    <div class="reservation-edit">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>预约业务类型-修改</span>
                </h2>
                <div class="reservation-popup-title">预约业务类型</div>
                <div class="reservation-type-popup-content">
                    <div class="reservation-edit edit-box">
                        <p>预约业务编号</p>
                        <input type="text" value="" />
                        <p>预约业务名称</p>
                        <input type="text" value="" />
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].reservationType.edit()">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/reservation.js"></script>
</body>
</html>