<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" href="css/3rd/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link rel="stylesheet" type="text/css" href="css/reservation.css" />
</head>
<body>
<div class="netQuery-left">
    <div class="netQuery-area">
        <span>预约网点</span>
        <div id="netQuery-netList">
            <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
        </div>
    </div>
    <div class="netQuery-area">
        <span>预约业务</span>
        <div id="netQuery-busList">
            <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
        </div>
    </div>
    <div class="netQuery-area">
        <span>预约月份</span>
        <div class="netQuery-month">
            <a href="javascript:;" title="减少" id="netQuery-month-sub"></a>
            <input type="text" id="netQuery-month" value="">
            <a href="javascript:;" title="增加" id="netQuery-month-add"></a>
        </div>
    </div>
    <div class="netQuery-area">
        <a href="javascript:;" title="查询" id="netQuery-btn">查询</a>
    </div>
    <!-- hidden area -->
    <input type="hidden" id="appodate" name="appodate" hidden="true"/>
    <div class="calendar-box">
        <div id="fullCalendar" style="border:0;width:302px;height:336px;"></div>
    </div>
</div>
<!--<div class="netQuery-top">-->
    <!--<div class="netQuery-area">-->
        <!--<span>预约网点1</span>-->
        <!--<div id="netQuery-netList">-->
            <!--<droplist :items="items" :selectedValue.sync="selectedValue"></droplist>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="netQuery-area">-->
        <!--<span>预约业务</span>-->
        <!--<div id="netQuery-busList">-->
            <!--<droplist :items="items" :selectedValue.sync="selectedValue"></droplist>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="netQuery-area">-->
        <!--<span>预约月份</span>-->
        <!--<div class="netQuery-month">-->
            <!--<a href="javascript:;" title="减少" id="netQuery-month-sub"></a>-->
            <!--<input type="text" id="netQuery-month" value="">-->
            <!--<a href="javascript:;" title="增加" id="netQuery-month-add"></a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="netQuery-area">-->
        <!--<a href="javascript:;" title="查询" id="netQuery-btn">查询</a>-->
    <!--</div>-->
<!--</div>-->
<div class="netQuery-table-box">
    <h2 class="netQuery-table-title">网点预约情况查询结果</h2>
    <div id="netQuery-table"></div>
    <div id="netQuery-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/3rd/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/3rd/jquery.fullcalendar.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/reservation.js"></script>
</body>
</html>