<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>综合服务管理系统</title>
		<link rel="stylesheet" type="text/css" href="css/master.css"/>
		<link rel="stylesheet" type="text/css" href="css/hx.core.css"/>
		<script src="js/lib/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/login.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/aes.js"></script>
		<script type="text/javascript" src="js/pad-zeropadding-min.js"></script>
	</head>
	<body>
		<div class="loginTopBox">
			<a href="javascript:;"><img class="db fl" src="images/toplogo.gif"/></a>
		</div>
		<div class="loginBoxWrapper">
			<div class="loginBox" id="login">
				<p class="loginTitleText">登　录</p>
				<p class="errmsg">您输入的<span>帐号或者密码不正确</span>，请重新输入。</p>
				<input type="text" class="loginInputType loignIconUser" placeholder="请输入用户名" v-model="postData.username" />
				<input type="password" class="loginInputType loignIconPwd" placeholder="请输入密码" v-model="postData.password" />
				<div class="loginInputBox">
					<input type="text" id="loginPinInput" class="loginInputType loignIconVer" placeholder="请输入验证码" v-model="postData.rancode" />
					<div class="verCbox">
						<img src="vericode.html" title="点击刷新" name="valimg" id="valimg" onmouseover="this.style.cursor='pointer'"/>
						<span class="rVerCodeBtn"></span>
						<script type="text/javascript">
							$('#valimg, .rVerCodeBtn').click(function() {
								$('#valimg')[0].src ='vericode.html?' + Math.random();
							});

						</script>
					</div>
				</div>
				<input type="button" class="loginBtn" @click="loginAjaxPost" value="登　录" />
			</div>
		</div>
		<p class="copy">版权所有 &copy; 2016 华信永道（北京）科技股份有限公司</p>
	</body>
</html>
