<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>table_building</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/channelFlowControl.css">
</head>
<body>

<div class="orgManage-box channelBox">	
    <div class="jtree">
    	<a href="javascript:;"
           v-for="item in centers"
           :class="{ 'on': item.centerid == select }"
           @click="checkCenter(item.centerid)">{{ item.centername }}</a>
    </div>
    <div class="contentRight">
    	<div class="controlTitle">渠道流量控制</div>
    	<div class="orgManage-table-btns channelStateBtns channelFlowBtns">
	        <a href="javascript:;" title="新建" id="orgManage-btn-add">新建</a>
	        <a href="javascript:;" title="修改" id="orgManage-btn-modify">修改</a>
	        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
	    </div>
	    <div class="totleNumbers">
            <!--20161109 业务量上限替换为访问量上限  用户量上限隐藏 -->
            <!--<ul>
                &lt;!&ndash; <li class="totalIco1"><p>100,000</p><span>用户量上限</span></li> &ndash;&gt;
                &lt;!&ndash; <li class="totalIco2"><p>100,000</p><span>业务量上限</span></li> &ndash;&gt;
                <li class="totalIco2"><p>100,000</p><span>访问量上限</span></li>
            </ul>-->
			<!--2018年3月24日 如果有数据 修改成列表-->

		    <table id="fcTable"></table>
		    <div id="fcPages">
			    <pages :items="items" :current.sync="current"></pages>
		    </div>

	    </div>
	    <div class="flowSet">
	    	<img src="images/cf_ico3.png">
	    	<p>暂未设置流量控制！</p>
	    	<a href="#" title="立即设置">立即设置</a>
	    </div>
    </div>
    <div class="clear"></div>
</div>




<div class="orgManage-popup-hidden">
    <!-- add & edit common Vue:orgManageEdit -->
    <div class="orgManage-popup-edit-container">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>渠道流量控制 - 增加</span>
                </h2>
                <span class="orgNameReshow">渠道流量控制</span>
                <ul class="orgManage-popup-from channelShortForm">
                    <!--20161109 业务量上限替换为访问量上限  用户量上限隐藏 -->
                    <!-- <li>
                        <p class="orgManage-popup-text">用户量上限</p>
                        <input type="number" class="orgManage-popup-longInput" min="1" max="9999999" id="buiCode" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        <span class="red-required">*</span>
                    </li> -->

	                <!--新增和修改，新增【渠道】【开关】两个字段，渠道是获取来-->
	                <li>
		                <!-- <p class="orgManage-popup-text">业务量上限</p> -->
		                <p class="orgManage-popup-text">渠道应用</p>
		                <select id="channelList" class="channelSelect">

		                </select>
		                <span class="red-required">*</span>
	                </li>
                    <li>
                        <!-- <p class="orgManage-popup-text">业务量上限</p> -->
                        <p class="orgManage-popup-text">访问量上限</p>
                        <input type="number" class="orgManage-popup-longInput" min="1" max="9999999" id="buiDeve"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        <span class="red-required">*</span>
                    </li>
	                <li>
		                <!-- <p class="orgManage-popup-text">业务量上限</p> -->
		                <p class="orgManage-popup-text">监控开关</p>
		                <select id="isopen" class="channelSelect">
			                <option value="1">开</option>
			                <option value="0">关</option>
		                </select>
		                <span class="red-required">*</span>
	                </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="window.frames['main'].folwControl.add();" v-if="isAdd">保存</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">关闭</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="orgManage-popup-edit-container1">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>渠道流量控制 - 修改</span>
                </h2>
                <ul class="orgManage-popup-from">
                    <!--20161109 业务量上限替换为访问量上限  用户量上限隐藏 -->
                    <!-- <li>
                        <p class="orgManage-popup-text">用户量上限</p>
                        <input type="number" class="orgManage-popup-longInput" id="buiCode1"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        <span class="red-required">*</span>
                    </li> -->

	                <li>
		                <p class="orgManage-popup-text">渠道应用</p>
		                <select id="channelListEdit" class="channelSelect">

		                </select>
		                <span class="red-required">*</span>
	                </li>
                    <li>
                        <p class="orgManage-popup-text">用户量上限</p>
                        <input style="width:320px;" type="number" class="orgManage-popup-longInput" id="buiName1"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                        <span class="red-required">*</span>
                    </li>
	                <li>
		                <p class="orgManage-popup-text">监控开关</p>
		                <select id="isopenEdit" class="channelSelect">
			                <option value="1">开</option>
			                <option value="0">关</option>
		                </select>
		                <span class="red-required">*</span>
	                </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="window.frames['main'].folwControl.edit();" v-if="isAdd">确定</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>



<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/channelFlowControl.js"></script>


</body>
</html>
