
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>用户满意度</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" type="text/css" href="css/analysis.css" />
</head>
<body>
<div class="channelAnalysis-top" id="filter-form">
    <p v-show="cu.hide" class="channelAnalysis-top-name" style="display: none;">客户名称</p>
    <select v-show="cu.hide" name="" class="cn" v-model="cu.selected" style="display: none;">
        <option v-for="option in cu.options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <p class="channelAnalysis-top-name added" style="display:inline-block">年份</p>
    <select name="" id="year" class="added" style="display:inline-block">
    </select>
    <p class="channelAnalysis-top-name added" style="display:inline-block">月份</p>
    <select name="" id="month" class="added" style="display:inline-block">
    </select>
    <a href="javascript:;" title="查询" @click="filter" class="channelAnalysis-top-queryBtn">查询</a>
</div>
<h2 id="totalnum"></h2>
<div id="canvas" style="width:976px;height:350px;margin:0 auto;"></div>
<style>
    #totalnum{text-align:center;font-size:16px;color:#333;line-height:40px;height:40px;}
</style>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/3rd/echarts.common.min.js"></script>
<script type="text/javascript" src="js/customerSatisfaction.js"></script>
</body>
</html>