<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link rel="stylesheet" type="text/css" href="css/password.css" />
</head>
<body>
<div class="password-bg">
    <h2 class="password-title">密码修改</h2>
    <ul class="pwd-container">
        <li>
            <p class="pwd-input-name">用户名</p>
            <div>{{ userName }}</div>
        </li>
        <li>
            <p class="pwd-input-name">原始密码</p>
            <input type="password" v-model="oldPwd">
            <span>*</span>
        </li>
        <li>
            <p class="pwd-input-name">新密码</p>
            <input type="password" v-model="newPwd" placeholder="由数字、字母、特殊符号组成，区分大小写">
            <span>*</span>
        </li>
        <li>
            <p class="pwd-input-name">确认新密码</p>
            <input type="password" v-model="newPwdAgain">
            <span>*</span>
        </li>
        <li>
            <p class="pwd-input-name"></p>
            <a href="javascript:;" title="确认" @click="verify();">确认</a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/password.js"></script>
</body>
</html>