<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/userView.css" />
</head>
<body>
<div class="userview-sub-title">
    <a href="userView.html" title="返回">返回</a>
    <span>|</span>
    <p class="userview-sub-title-icons6">客服记录</p>
</div>
<div class="userview-sub6-header">
    <a href="javascript:;" title="提取进度查询" class="on">提取进度查询</a>
    <a href="javascript:;" title="贷款进度查询">贷款进度查询</a>
</div>
<div class="userview-sub6-box1">
    <h2 class="userview-sub6-current">当前进度：{{ selectValue }}</h2>
    <div class="userview-sub6-line-bg">
        <div class="userview-sub6-arrow"></div>
        <ul class="userview-sub6-step" id="userview-sub6-step1">
            <template v-for="item in step">
                <li>
                    <h2>{{ item.apprflagID }}</h2>
                    <div class="userview-sub6-step-icon userview-sub6-step-done"
                         v-bind:class="{'userview-sub6-step-none': parseInt(item.apprflagID) > parseInt(select)}"></div>
                    <p>{{ item.apprflagMSG }}</p>
                </li>
            </template>
        </ul>
    </div>
</div>
<div class="userview-sub6-box2">
    <h2 class="userview-sub6-current">当前进度：{{ selectValue }}</h2>
    <div class="userview-sub6-line-bg">
        <div class="userview-sub6-arrow"></div>
        <ul class="userview-sub6-step" id="userview-sub6-step2">
            <template v-for="item in step">
                <li>
                    <h2>{{ item.apprflagID }}</h2>
                    <div class="userview-sub6-step-icon userview-sub6-step-done"
                         v-bind:class="{'userview-sub6-step-none': parseInt(item.apprflagID) > parseInt(select)}"></div>
                    <p>{{ item.apprflagMSG }}</p>
                </li>
            </template>
        </ul>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/userView.js"></script>
</body>
</html>