<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/userView.css" />
</head>
<body>
<div class="userview-sub-title">
    <a href="userView.html" title="返回">返回</a>
    <span>|</span>
    <p class="userview-sub-title-icons2">关联人</p>
</div>
<div class="userview-sub2">
    <table class="userview-sub2-table" v-for="item in list">
        <tr class="userview-sub2-title">
            <td height="48" width="88" class="userview-sub2-green">{{ relationType[item.relation] }}</td>
            <td width="368" align="right">
                <a href="javascript:;" v-if="item.freeuse1 == '1'" @click="pageJump(item.relationpersonalid)" title="关联账户">关联账户</a>
            </td>
        </tr>
        <tr>
            <td height="38" width="88" align="right">姓名</td>
            <td width="368">{{ item.username }}</td>
        </tr>
        <tr>
            <td height="38" width="88" align="right">证件类型</td>
            <td width="368">身份证号</td>
        </tr>
        <tr>
            <td height="38" width="88" align="right">身份证号</td>
            <td width="368">{{ item.certinum }}</td>
        </tr>
        <tr>
            <td height="38" width="88" align="right">邮箱地址</td>
            <td width="368">{{ item.email }}</td>
        </tr>
        <tr>
            <td height="38" width="88" align="right">预留手机号</td>
            <td width="368">{{ item.tel }}</td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/userView.js"></script>
</body>
</html>