<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>table_building</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/channelService.css">
</head>
<body>
<div class="channelSearch">
	客户名称 <select id="searchCustomer"></select> 
    栏目名称<input type="text" id="itemval" />
    服务名称<input type="text" id="servicename" />
    <a href="javascript:;" title="查询" id="btnquery">查询</a>
</div>

<div class="orgManage-box channelBox">	
    <div class="orgManage-table-btns buiManageBtns">
        <a href="javascript:;" title="新建" id="orgManage-btn-add">新建</a>
        <a href="javascript:;" title="修改" id="orgManage-btn-modify">修改</a>
        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
    </div>
    <table id="setTable"></table>
    <div id="orgManage-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>


<div class="orgManage-popup-hidden">
    <div class="orgManage-popup-edit-container">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit" id="cam">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span id="addTitltSpan">栏目与服务 - 增加</span>
                </h2>
                <ul class="orgManage-popup-from channelShortForm">
                    <li>
                        <p class="orgManage-popup-text">客户名称</p>
                        <select class="channelShortSelect" id="centerid"></select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">栏目名称</p>
                        <select class="channelShortSelect" id="lanname">
                        </select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">服务名称</p>
                        <select class="channelShortSelect" id="servname">
                        </select>
                    </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="window.frames['main'].msgTheme.add();" >确定</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="orgManage-popup-edit-container1">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit" id="cam">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span id="addTitltSpan">栏目与服务 - 修改</span>
                </h2>
                <ul class="orgManage-popup-from channelShortForm">
                    <li>
                        <p class="orgManage-popup-text">客户名称</p>
                        <select class="channelShortSelect" id="centerid1" disabled="disabled"></select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">栏目名称</p>
                        <select class="channelShortSelect" id="lanname1"></select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">服务名称</p>
                        <select class="channelShortSelect" id="servname1">
                        </select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="window.frames['main'].msgTheme.edit();" >确定</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/page70702.js"></script>
</body>
</html>
