/**
* 公共短消息页面样式表
*/
/*30201*/
#tb {height: auto}
#tb div {margin-bottom: 5px}
/* 3020102 */
#d_dlg .panel{padding:2px;}
td .combo-arrow {margin-top:0px;}
#d_dlg .panel-header, #d_dlg .panel-body {width:auto !important;}
/*页面*/
#title {width:99%;}
#detail{height: 240px; width: 99%;}
#file {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; opacity: 0;}
#info-buttons {margin-bottom: 15px; text-align: right;}
#addImg {position: relative;}
#showImg {overflow:hidden;}
#showImg div{height:300px; width:300px; float:left; text-align: center;padding:5px;}
#showImg span{width:16px;height:16px; float:right;position: relative; top: -296px;left:-2px;}
#showImg img,#phoneImg img{width:300px;height:300px;}

#showImg1 {overflow:hidden;}
#showImg1 div{height:300px; width:300px; float:left; text-align: center;padding:5px;}
#showImg1 span{width:16px;height:16px; float:right;position: relative; top: -296px;left:-2px;}
#showImg1 img,#phoneImg img{width:300px;height:300px;}

span.icon {display: block;height: 16px;background-repeat: no-repeat;background-position: left middle;}
span.icon_del {background-image: url(../consult/icon_del.png);cursor: pointer;}
#dlg-phoneShow {display:none;}
#pinfoShow {margin:5px;}
/*手机背景 */ 
.phonebg {background: url(../consult/bg_phone2.png) no-repeat; width: 350px;height: 480px;margin: 0 auto;padding: 0;}
/*手机屏 */ 
.screenbg{position: relative;background:#C6C6C6;top:43px;height: 400px;margin-right:10px;margin-left:9px;}
/*一级标题 */ 
h1.item-title{position: relative;top:0px;background:#84CBC8;text-align: center;padding:5px;color:#ffffff;font: 16px 微软雅黑,宋体;font-weight: bold;}
/*内容 */ 
.item-content{top:0px;overflow: auto;overflow-y: auto;overflow-x: hidden;height: 369px;}
.item-content div{margin: 6px 8px;padding: 0;display:block;background:#eeeeee;overflow: hidden;}
.item-content div h2 {margin: 2px;font: 14px 微软雅黑,宋体;font-weight: bold;word-break:break-all; overflow:auto;}
.item-content div h3 {margin: 2px;font: 14px 微软雅黑,宋体;word-break:break-all; overflow:auto;}
#phoneNo {text-align: center;background-color: #F7B551;font: 14px 微软雅黑,宋体;}
#phoneImg li{margin: 3px 8px;display:block;overflow: hidden;}
#phoneImg {text-align: center;}
/* 3020101 */

#detailContent {width:200px; height:170px; overflow-y: auto; overflow-x:hidden;}
#detailContent ul{margin:2px 4px;}
#tsmsgContent {width:100px; height:170px; overflow-y: auto; overflow-x:hidden;}
li label {font: 13px 微软雅黑,宋体;font-weight: bold;}