<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>节假日管理</title>
	<link rel="stylesheet" type="text/css" href="css/hx.core.css" />
	<link rel="stylesheet" href="css/3rd/main.css">
	<link rel="stylesheet" href="css/3rd/960.css">
	<link rel="stylesheet" href="css/3rd/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/master.css" />
	<link rel="stylesheet" type="text/css" href="css/holiday.css" />
</head>
<body>
<div class="searchYear">
	<span>管理年度</span>
	<strong class="minus" onclick="auto('add')">+</strong>
	<input type="number" class="yearNumber" id="year">
	<strong class="plus" onclick="auto('sub')">-</strong>
	<a href="javascript:;" title="确定" id="date-query-btn">确定</a>
</div>
<div class="datebox">
	<div region="west" id="fullCalendar" style="width:600px;height:400px;border:0" ></div>
	<ul class="date-right">
		<li>
			<p>日期</p>
			<input type="text" id="date" disabled="disabled" />
		</li>
		<li>
			<p>是否休息</p>
			<label>
				<span>是</span>
				<input type="radio" id="isRest-1" name="isRest" value="1" />
			</label>
			<label>
				<span>否</span>
				<input type="radio" id="isRest-0" name="isRest" value="0" checked/>
			</label>
		</li>
		<li>
			<p>备注</p>
			<textarea id="remarks" maxlength="38"></textarea>
		</li>
		<li>
			<p></p>
			<a href="javascript:;" title="保存" id="save">保存</a>
		</li>
	</ul>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/3rd/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/3rd/jquery.fullcalendar.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/holiday.js"></script>
</body>
</html>