<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>渠道运行指标栏目内容更新量</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/analysis.css" />
</head>
<body>
<div class="channelAnalysis-top">
    <p class="channelAnalysis-top-name cn">客户名称</p>
    <select class="cn" id="searchCustomer"></select>
    <p class="channelAnalysis-top-name">开始时间</p>
    <input type="text" class="startTime" id="channelAnalysis-top-startTime" />
    <p class="channelAnalysis-top-name">结束时间</p>
    <input type="text" class="endTime" id="channelAnalysis-top-endTime" />
    <a href="javascript:;" title="查询" class="channelAnalysis-top-queryBtn" id="btnQuery">查询</a>
</div>
<div style="margin:10px;">
    <div id="table">
        <template v-if="result.length > 0" v-for="item in result">
            <p class="table-title">{{item.itemval}}:</p>
            <p>{{item.cnt}}</p>
        </template>
        <p v-if="result.length == 0" class="no-data">暂无数据.</p>
    </div>
</div>
<style>
    #table{border-left: 1px solid #eee;overflow:hidden;}
    #table p{float:left;width:16.6%;height:46px;line-height:46px;border-right: 1px solid #eee;border-top: 1px solid #eee;border-bottom: 1px solid #eee;box-sizing:border-box;color:#333;text-indent:16px;font-size:14px;}
    #table p.table-title{background: #f4f5f9;}
    #table p.no-data{width:100%;font-size:14px;text-align:center;}
</style>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/channelUpdateAmount.js"></script>
</body>
</html>