<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/userView.css" />
</head>
<body>
<div class="userview-sub-title">
    <a href="userView.html" title="返回">返回</a>
    <span>|</span>
    <p class="userview-sub-title-icons3">关联账户</p>
</div>
<div class="userview-sub2">
    <template v-for="item in list">
        <table class="userview-sub2-table" v-if="item.accounttype == '01'">
            <tr class="userview-sub2-title">
                <td height="48" width="88" class="userview-sub2-green">公积金</td>
                <td width="368"></td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">公积金账号</td>
                <td width="368">{{ item.accountcode }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">账户状态</td>
                <td width="368">{{ state }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">余额</td>
                <td width="368">{{ balance }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">个人姓名</td>
                <td width="368">{{ userName }}</td>
            </tr>
            <tr>
                <td colspan="2" height="78" class="userview-sub3-btns">
                    <a href="javascript:;" @click="queryGJJBaseInfo();" title="公积金账户基本信息" id="userview-sub3-gjj-btn">公积金账户基本信息</a>
                    <a href="javascript:;" @click="queryGJJViewInfo();" title="账户明细" id="userview-sub3-gjj-view-btn">账户明细</a>
                </td>
            </tr>
        </table>
        <table class="userview-sub2-table" v-if="item.accounttype == '03'">
            <tr class="userview-sub2-title">
                <td height="48" width="88" class="userview-sub2-green">贷款</td>
                <td width="368"></td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">贷款账号</td>
                <td width="368">{{ item.accountcode }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">借款合同号</td>
                <td width="368">{{ loanNumber }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">贷款金额</td>
                <td width="368">{{ loanAmount }}</td>
            </tr>
            <tr>
                <td height="38" width="88" align="right">当前余额</td>
                <td width="368">{{ currentBalance }}</td>
            </tr>
            <tr>
                <td colspan="2" height="78" class="userview-sub3-btns">
                    <a href="javascript:;" @click="dkBaseInfo();" title="贷款基本信息" id="dk-baseInfo-btn">贷款基本信息</a>
                    <a href="javascript:;" @click="dkView();" title="还款明细" id="dk-viewInfo-btn">还款明细</a>
                    <a href="javascript:;" @click="dkPlan();" title="还款计划" id="dk-plan-btn">还款计划</a>
                </td>
            </tr>
        </table>
    </template>
    <h4 v-if="noDataMsg != ''">暂无贷款信息</h4>
</div>
<div class="userview-sub3-gjj">
    <div class="userview-sub1-header">
        <a href="javascript:;" title="公积金基本信息" class="on">公积金基本信息</a>
        <a href="javascript:;" title="公积金详细信息">公积金详细信息</a>
    </div>
    <table cellpadding="0" class="userview-sub1-info" id="gjj-base-info">
        <template v-for="item in infoList">
            <tr v-if="$index % 3 == 0">
                <td height="46" width="128" align="right" class="userview-sub1-table-title">{{ item.title }}</td>
                <td width="204">{{ item.info }}</td>
                <td width="98" align="right" class="userview-sub1-table-title">{{ infoList[$index+1].title }}</td>
                <td width="140">{{ infoList[$index+1].info }}</td>
                <td width="116" align="right" class="userview-sub1-table-title">{{ infoList[$index+2].title }}</td>
                <td width="284">{{ infoList[$index+2].info }}</td>
            </tr>
        </template>
    </table>
    <div class="userview-sub3-search" id="userview-sub3-search1">
        <p>开始时间</p>
        <input type="text" class="userview-sub3-date" id="userview-sub3-date1">
        <p>结束时间</p>
        <input type="text" class="userview-sub3-date" id="userview-sub3-date2">
        <a href="javascript:;" title="查询" id="userview-sub3-query1">查询</a>
    </div>
    <table cellpadding="0" class="userview-sub1-view" id="gjj-view-info">
        <template v-for="item in viewVuer">
            <tr height="46" v-if="$index == 0" align="center" class="userview-sub1-table-title">
                <td height="46" width="400" v-for="header in item">{{ header.title }}</td>
            </tr>
            <tr height="46" align="center">
                <td v-for="value in item">{{ value.info }}</td>
            </tr>
        </template>
    </table>
    <div id="userView3-page">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<div class="userview-sub3-dk">
    <div class="userview-sub3-header">
        <a href="javascript:;" title="贷款账户基本信息" class="on">贷款账户基本信息</a>
        <a href="javascript:;" title="贷款还款详细信息">贷款还款详细信息</a>
        <a href="javascript:;" title="还款计划">还款计划</a>
    </div>
    <table cellpadding="0" class="userview-sub1-info" id="userview-sub3-baseInfo">
        <tr v-for="item in info" v-if="$index % 4 == 0">
            <td height="46" width="68" align="right" class="userview-sub1-table-title">{{ item.title }}</td>
            <td width="228">{{ item.info }}</td>
            <td width="94" align="right" class="userview-sub1-table-title">{{ info[$index+1].title }}</td>
            <td width="130">{{ info[$index+1].info }}</td>
            <td width="148" align="right" class="userview-sub1-table-title">{{ info[$index+2].title }}</td>
            <td width="168">{{ info[$index+2].info }}</td>
            <td width="98" align="right" class="userview-sub1-table-title">{{ info[$index+3].title }}</td>
            <td width="88">{{ info[$index+3].title }}</td>
        </tr>
    </table>
    <div id="userview-sub3-viewInfo">
        <div class="userview-sub3-search">
            <p>开始时间</p>
            <input type="text" class="userview-sub3-date" id="userview-sub3-date3">
            <p>结束时间</p>
            <input type="text" class="userview-sub3-date" id="userview-sub3-date4">
            <a href="javascript:;" title="查询" id="userview-sub3-query2">查询</a>
        </div>
        <table cellpadding="0" class="userview-sub1-view" id="userview-sub3-viewInfo-block">
            <tr v-for="item in view" v-if="$index == 0" height="48" align="center" class="userview-sub1-table-title">
                <td width="400" v-for="name in item">{{ name.title }}</td>
            </tr>
            <tr v-for="item in view" align="center" height="48">
                <td v-for="value in item">{{ value.info }}</td>
            </tr>
        </table>
        <div id="userView3-page2">
            <pages :items="items" :current.sync="current" :size.sync="size"></pages>
        </div>
    </div>
    <div id="userview-sub3-plan">
        <table cellpadding="0" class="userview-sub1-view userview-block" id="userview-plan-table">
            <tr v-for="item in plan" v-if="$index == 0" align="center" height="48" class="userview-sub1-table-title">
                <td width="58">序号</td>
                <td width="400" v-for="header in item">{{ header.title }}</td>
            </tr>
            <tr v-for="item in plan" align="center" height="48">
                <td height="48" width="58">{{ $index + 1 }}</td>
                <td width="400" v-for="name in item">{{ name.info }}</td>
            </tr>
        </table>
        <div id="userView3-page-plan">
            <pages :items="items" :current.sync="current" :size.sync="size"></pages>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/userView.js"></script>
</body>
</html>