/**
* 在线留言页面样式表
*/
html {
	-ms-text-size-adjust: 10%;
}

body {
	line-height: 1.6;
}

input,textarea,button,a {
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

fieldset,legend,textarea,input {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

ul,ol {
	padding-left: 0px;
	list-style-type: none;
}

a img,fieldset {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

button,input,select,textarea {
	font-family: inherit;
	font-size: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

button,select {
	text-transform: none;
}

button,html input[type='button'],input[type='reset'],input[type='submit']
	{
	cursor: pointer;
}

input[type='checkbox'],input[type='radio'] {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	box-sizing: border-box;
}

body {
	color: #222;
	line-height: 1.6;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 14px;
}

textarea,input {
	color: #222;
}

textarea:-ms-input-placeholder,input:-ms-input-placeholder {
	color: #a3a3a3;
}

a {
	color: #459ae9;
	text-decoration: none;
}

.container_box {
	min-height: 440px;
}

.cell_layout.container_box .col_side,.cell_layout.container_box .col_main
	{
	vertical-align: top;
	display: table-cell;
	word-break: break-all;
	word-wrap: break-word;
}

.cell_layout.container_box .col_main {
	width: 1000px;
	height: 440px;
}

.container_hd,.main_hd {
	line-height: 40px;
}

.container_hd h2,.main_hd h2 {
	font-style: normal;
	font-weight: 400;
}

.container_hd .extra_info,.main_hd .extra_info {
	text-align: right;
	margin-top: -40px;
}

.body {
	width: 1000px;
	padding-top: 36px;
	padding-right: 0px;
	padding-bottom: 88px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.container_box {
	border-top-color: #d9dadc;
	border-right-color: #d9dadc;
	border-bottom-color: #d9dadc;
	border-left-color: #d9dadc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: rgb(255, 255, 255);
}

.container_hd h2,.main_hd h2 {
	line-height: 75px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
	font-size: 16px;
}

.container_hd a,.main_hd a {
	color: #222;
}

.container_hd .extra_info,.main_hd .extra_info {
	line-height: 43px;
	padding-right: 30px;
	margin-top: -43px;
}

.container_hd .title_tab,.main_hd .title_tab {
	margin-top: -14px;
}

.container_bd,.main_bd {
	padding-bottom: 30px;
}

.icon_checkbox {
	width: 16px;
	height: 16px;
	margin-top: -0.2em;
	vertical-align: middle;
	display: inline-block;
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -78px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.selected.icon_checkbox,.selected .icon_checkbox {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -104px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.frm_label {
	width: 5em;
	font-size: 14px;
	margin-top: 0.3em;
	margin-right: 1em;
	float: left;
}

.frm_input,.frm_textarea {
	width: 100%;
	border-top-color: currentColor;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
	background-color: transparent;
}

.frm_input {
	height: 22px;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}

.frm_input_box {
	width: 278px;
	height: 30px;
	line-height: 30px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 14px;
	vertical-align: middle;
	border-top-color: #e7e7eb;
	border-right-color: #e7e7eb;
	border-bottom-color: #e7e7eb;
	border-left-color: #e7e7eb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	display: inline-block;
	position: relative;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	background-color: rgb(255, 255, 255);
}

.frm_input_box .frm_input_append {
	font-size: 0px;
}

.search.frm_input_box {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.append.frm_input_box {
	padding-right: 30px;
}

.append.frm_input_box .frm_input_append {
	top: 0px;
	right: 0.8em;
	position: absolute;
}

.frm_radio,.frm_checkbox {
	left: -999em;
	position: absolute;
}

.frm_radio_label,.frm_checkbox_label {
	text-align: left;
	margin-right: 1em;
	display: inline-block;
	cursor: pointer;
}

.icon_checkbox {
	margin-right: 4px;
}

.icon_radio,.icon_checkbox {
	margin-top: -2px;
	margin-right: 3px;
}

.search.frm_input_box .frm_input_append {
	width: 30px;
	text-align: center;
	right: 0px;
	border-left-color: #e7e7eb;
	border-left-width: 1px;
	border-left-style: solid;
}

.search.frm_input_box .search_gray {
	margin-top: -0.2em;
}

.icon_checkbox {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -286px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.selected.icon_checkbox,.selected .icon_checkbox {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -312px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.tab_navs {
	text-align: center;
	line-height: 30px;
	border-bottom-color: #e7e7eb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.tab_navs::after {
	height: 0px;
	clear: both;
	display: block;
	content: "\200B";
}

.tab_nav {
	font-size: 14px;
	float: left;
}

.tab_nav a {
	color: #222;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-decoration: none;
	display: block;
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
}

.selected.tab_nav {
	background-color: rgb(212, 213, 213);
}

.title_tab .tab_navs {
	line-height: 40px;
	border-bottom-color: #e7e7eb;
}

.title_tab .tab_nav {
	margin-bottom: -1px;
}

.title_tab .tab_nav a {
	padding-top: 0px;
	padding-right: 21px;
	padding-bottom: 0px;
	padding-left: 21px;
}

.title_tab .first.tab_nav a {
	padding-left: 30px;
}

.title_tab .selected.tab_nav {
	border-bottom-color: #44b549;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0px;
	background-position-y: center;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.msg_box {
	text-align: center;
	line-height: 36px;
}

.msg_box .inner {
	background-color: rgb(200, 231, 252);
}

.msg_box a {
	color: #6d7f8b;
	display: block;
}

.msg_box {
	display: none;
}

.tool_area::after {
	height: 0px;
	clear: both;
	display: block;
	content: "\200B";
}

.sub_title_bar {
	line-height: 38px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.sub_title_bar::after {
	height: 0px;
	clear: both;
	display: block;
	content: "\200B";
}

.sub_title_bar .info {
	float: left;
}

.sub_title_bar h3 {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.sub_title_bar {
	line-height: 55px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}

.tool_area {
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}

.btn {
	height: 30px;
	min-width: 60px;
	text-align: center;
	line-height: 30px;
	overflow: visible;
	padding-top: 0px;
	padding-right: 22px;
	padding-bottom: 0px;
	padding-left: 22px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	display: inline-block;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.btn_default {
	color: #222;
	border-top-color: #e6e7ec;
	border-right-color: #e6e7ec;
	border-bottom-color: #e6e7ec;
	border-left-color: #e6e7ec;
	background-image: linear-gradient(rgb(255, 255, 255) 0px,
		rgb(255, 255, 255) 100% );
	background-color: rgb(255, 255, 255);
}

.btn button {
	height: 100%;
	overflow: visible;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-color: currentColor;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display: block;
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
	background-color: transparent;
}

/*.btn_input.btn {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgb(68, 181, 73);
}
*/
.btn_primary {
	color: #fff;
	border-top-color: #44b549;
	border-right-color: #44b549;
	border-bottom-color: #44b549;
	border-left-color: #44b549;
	background-image: linear-gradient(rgb(68, 181, 73) 0px, rgb(68, 181, 73)
		100% );
	background-color: rgb(68, 181, 73);
}

.btn_primary button {
	color: blue/9;
	background-color: rgb(68, 181, 73);
}

/*.btn {
	min-width: 60px;
}

.btn_input.btn {
	min-width: 104px;
}*/

.btn_input.btn button {
	min-width: 80px;
	background-color: rgb(68, 181, 73);
}

.icon32_loading {
	width: 32px;
	height: 32px;
	line-height: 100px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

.light.icon32_loading {
	background-image:
		url("/mpres/htmledition/images/icon/common/icon32_loading_light1e5b3a.gif")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.icon14_common {
	width: 14px;
	height: 14px;
	line-height: 100px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

.edit_gray.icon14_common {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -4089px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.icon16_common {
	width: 16px;
	height: 16px;
	line-height: 100px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

.search_gray.icon16_common {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -4824px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.icon18_common {
	width: 18px;
	height: 18px;
	line-height: 100px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

.reply_gray.icon18_common {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -5706px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.star_gray.icon18_common {
	background-image:
		url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z1f13ef.png")
		;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -5762px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

body {
	min-width: 1000px;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}

.page_message .main_bd,.page_message_send .main_bd {
	padding-bottom: 140px;
}

.page_message .main_bd {
	padding-top: 30px;
}

.page_message .extra_info {
	margin-top: -50px;
}

.page_message .message_list {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.page_message .tool_area {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.page_message .msg_box {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.message_item {
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-top: 20px;
	border-top-color: #e7e7eb;
	border-right-color: #e7e7eb;
	border-bottom-color: #e7e7eb;
	border-left-color: #e7e7eb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	min-height: 46px;
	overflow: hidden;
}

:first-child.message_item {
	margin-top: 0px;
}

.message_info {
	margin-right: 160px;
}

.message_info::after {
	height: 0px;
	display: block;
	content: "\200B";
}

.news_message_info {
	clear:both;
	margin-right: 160px;
	margin:10px 0;
}

.news_message_info::after {
	height: 0px;
	display: block;
	content: "\200B";
}
.message_opr {
	margin-right: 20px;
	float: right;
}

.message_opr a {
	margin-left: 14px;
}

.user_info {
	margin-right: 215px;
	margin-left: 80px;
	position: relative;
}

.user_info .avatar {
	left: -60px;
	top: 0px;
	position: absolute;
}

.user_info .avatar img {
	width: 48px;
	height: 48px;
}

.user_info .remark_name {
	color: #222;
}

.user_info .icon14_common {
	margin-top: -0.2em;
	margin-left: 4px;
}

.message_status {
	width: 100px;
	color: #8d8d8d;
	margin-top: 0px;
	float: right;
	min-height: 1em;
}

.message_status .tips {
	color: #e15f63;
	font-style: normal;
	font-weight: 400;
	margin-left: 1em;
	display: none;
}

.message_status .tips i {
	font-style: normal;
	font-weight: 400;
}

.message_status .tipsRes {
	color: #e4e4e4;
	font-style: normal;
	font-weight: 400;
	margin-left: 1em;
}

.message_time {
	width: 180px;
	color: #8d8d8d;
	margin-top: 0px;
	float: right;
}

.message_content {
	color: #8d8d8d;
	padding-top: 6px;
	margin-right: 200px;
	margin-left: 80px;
	word-break: break-all;
	word-wrap: break-word;
}

.text.message_content {
	padding-top: 2px;
	padding-bottom: 2px;
}

.quick_reply_box {
	margin: 20px 20px 0;
	border-top: 1px solid #e4e4e4;
	background-color: #fff;
	padding-left: 80px;
	padding-top: 6px;
	padding-right: 40px;
}

.quick_reply_box .frm_label {
	padding-bottom: 8px;
	float: none;
	display: block;
}

.quick_reply_box_tool_bar {
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.quick_reply_box_tool_bar .pickup {
	margin-left: 16px;
}

.search_more {
	text-align: center;
	display: none;
}

.search_more .msg_box {
	display: block;
}

.search_more i {
	display: none;
}

.sub_title_bar h3 {
	margin-right: 15px;
	float: left;
}

.sub_title_bar .frm_radio_label,.sub_title_bar .frm_checkbox_label {
	float: left;
}

.pagination_wrp {
	text-align: right;
}

.page_nav_area,.goto_area {
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
}

.page_nav_area {
	letter-spacing: 4px;
}

.page_nav_area .btn {
	letter-spacing: normal;
}

/*.page_prev.btn,.page_next.btn {
	width: auto;
	height: 30px;
	color: #222;
	line-height: 30px;
	letter-spacing: -5px;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 0px;
	border-top-color: #e6e7ec;
	border-right-color: #e6e7ec;
	border-bottom-color: #e6e7ec;
	border-left-color: #e6e7ec;
	position: relative;
	background-image: linear-gradient(rgb(255, 255, 255) 0px,
		rgb(255, 255, 255) 100% );
	background-color: rgb(255, 255, 255);
}

.page_prev.btn .arrow,.page_next.btn .arrow {
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -3px;
	position: absolute;
}

.page_first.btn,.page_last.btn,.page_go.btn {
	width: auto;
	height: 30px;
	color: #222;
	line-height: 30px;
	padding-right: 0px;
	padding-left: 0px;
	border-top-color: #e6e7ec;
	border-right-color: #e6e7ec;
	border-bottom-color: #e6e7ec;
	border-left-color: #e6e7ec;
	background-image: linear-gradient(rgb(255, 255, 255) 0px,
		rgb(255, 255, 255) 100% );
	background-color: #44B549;
}
*/
.page_next .arrow {
	width: 0px;
	height: 0px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #919191;
	border-top-width: 6px;
	border-right-width: 0px;
	border-bottom-width: 6px;
	border-left-width: 6px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	display: inline-block;
}

.page_prev .arrow {
	width: 0px;
	height: 0px;
	border-top-color: transparent;
	border-right-color: #919191;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-width: 6px;
	border-right-width: 6px;
	border-bottom-width: 6px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: dashed;
	display: inline-block;
}

.page_num {
	letter-spacing: normal;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
}

.goto_area {
	margin-left: 8px;
}

.goto_area input[type='text'] {
	width: 75px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-size: 14px;
	margin-right: 4px;
	vertical-align: middle;
	border-top-color: #e7e7eb;
	border-right-color: #e7e7eb;
	border-bottom-color: #e7e7eb;
	border-left-color: #e7e7eb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: none;
}

.pagination .btn {
	min-width: 0px;
}

.emotion_editor .edit_area {
	height: 188px;
	padding-top: 14px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 20px;
	word-break: break-all;
	word-wrap: break-word;
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background-color: rgb(255, 255, 255);
}

.editor_toolbar {
	line-height: 36px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	border-top-color: #e7e7eb;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: rgb(255, 255, 255);
}

.editor_toolbar::after {
	height: 0px;
	clear: both;
	display: block;
	content: "\200B";
}

.editor_tip {
	color: #8d8d8d;
	float: right;
}

.editor_tip em {
	font-style: normal;
	font-weight: 400;
	margin-right: 3px;
	margin-left: 3px;
}

.emotion_switch {
	height: 28px;
	line-height: 999em;
	overflow: hidden;
	margin-top: 8px;
	float: left;
}

.emotion_wrp {
	left: 20px;
	top: 100%;
	width: 421px;
	display: none;
	position: absolute;
}

.emotions {
	overflow: hidden;
	border-top-color: #e7e7eb;
	border-right-color: #e7e7eb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	background-color: rgb(231, 231, 235);
}

.emotions_item {
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	font-size: 0px;
	border-bottom-color: #e7e7eb;
	border-left-color: #e7e7eb;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	float: left;
	background-color: rgb(255, 255, 255);
}

.emotions_item i {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	background-image:
		url("/mpres/htmledition/images/icon/emotion/default1e5b3a.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}

.emotions_preview {
	top: 0px;
	width: 80px;
	height: 80px;
	text-align: center;
	right: -81px;
	line-height: 80px;
	font-size: 0px;
	border-top-color: #e7e7eb;
	border-right-color: #e7e7eb;
	border-bottom-color: #e7e7eb;
	border-left-color: #e7e7eb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	display: block;
	position: absolute;
	background-color: rgb(255, 255, 255);
}

.page_box {
	float: right;
}

.page_btn {
	padding-top: 20px;
}

.num {
	padding: 0 10px;
}

.btn_upload {
	display: inline-block;
	white-space: nowrap;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#ccc) );
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/ 2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
}

.item1{width:980px; display:block; padding:10px 0;}
.inf1{width:888px;  float:left; line-height:20px;}
.inf2{float:left; width:800px; }
.inf2 a{color:#222;}
.inf2 a:hover{color:#459ae9}
.status1{width:80px;}
.status3{width:150px;}
.wxMsg1{width:600px; float:left; height:auto; padding:5px 0; display:block;}
.info2{margin-right:5px; height:auto; padding:5px 0;text-align:right;}
.status2{width:50px; margin-right:10px;}
.tips2{display:block; float:left; width:50px;}
.opr2{height:24px;  float:left; top:2em; position:relative;}
.opr2 img{ margin-left:10px;}