
<div class="content-wrap footer">

    <!--其他链接-->
    <div class="other-link mt-15">
        <ul>
            <li><a href="./index.html">网站首页 </a>|</li>
            <li><a href="./agency-profile.html">机构简介 </a>|</li>
            <li><a href="./regulation-list.html">政策法规 </a>|</li>
            <li><a href="./bussiness-guide-list.html">业务指南 </a>|</li>
            <li><a href="./party-building.html">党建工作 </a>|</li>
            <li><a href="./politically-popular.html">政风行风 </a>|</li>
            <li><a href="./download-file.html">下载中心 </a>|</li>
            <li><a href="./news-list.html">新闻动态 </a>|</li>
            <li><a href="./announcement.html">通知公告 </a>|</li>
            <li><a href="./service-channel.html">服务渠道 </a></li>
        </ul>
        <div>
            COPYRIGHT @ ALL RIGHTS RESERVED. 昆明市住房公积金管理中心. 技术支持：华信永道（北京）科技有限公司
        </div>
        <img src="../resource/img/index/footer_img01.png" alt="" class="mt-15 margin-bottom-15">
        <div>
            滇公网安备53010202000054号 <img src="../resource/img/index/footer_img02.jpg" alt=""> 滇ICP备0700700
        </div>
    </div>
</div>
