<script src="../resource/js/jquery/jqeury-1.9.1.js"></script>
<script src="../resource/js/jquery/jquery-migrate-1.1.0.js"></script>
<script src="../resource/js/jquery/jquery.cookie.js" async></script>
<script src="../resource/js/jquery/bootstrap.min.js" async></script>
<script src="../resource/js/jquery/json2.min.js" async></script>
<script src="../resource/js/jquery/html5shiv.min.js" async></script>
<script src="../resource/js/common.js"></script>
<script src="../resource/js/interface.js"></script>
<script id="GJJCHAT-setjs" src="http://service.yondervision.com.cn/YDNMC/km/js/plugin.set.js?v=1476151430486&id=1&visitor=1&cmode=in&f=small&theme=c81d1f&fflag=0" type="text/javascript" charset="utf-8"></script>
<script src="../resource/js/header.js"></script>