/**
* 登录页面样式表
*/

body {
	background-color: #eef;
}
.bg {
	background: #4649a1 url(bg_login.jpg) no-repeat; 
	width: 1024px;
	height: 638px;
	margin: 0 auto; 
	padding: 0;
	border: 5px solid #6c7fc0;
}
.form {
	position: absolute;
	top: 560px;
	height: 40px;
	width: 1024px;
	padding: 0;
	background-color: #6c7fc0;
}
.form p {
	float: left;
	padding: 0;
	margin: 0;
	line-height: 40px;
}
.form p.username {
	margin-left: 200px;
}
.form p label {
	font-family: 宋体;
	font-size: 14px;
	font-weight: bold;
	color: #fefefe;
	margin-left: 20px;
}
.form p input {
	width: 70px;
	height: 22px;
	border: 0;
	background-color: #eee;
}
.form p img {
	position: relative;
	top: 7px;
	width: 60px;
	height: 22px;
	border: 1px solid #95B8E7;
}
.form .buttons a, .form .buttons a:visited {
	display: block;
	height: 40px;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	background-color: #ffa300;
	border: 0;
	width: 100px;
	font-family: 宋体;
	font-size: 14px;
	font-weight: bold;
	color: #fefefe;
}
.form .buttons a:hover {
	background-color: #FFC140;
}
.form .buttons a:active {
	background-color: #E59300;
	padding: 1px 0 0 1px;
	width: 99px;
	height: 39px;
}
.footer {
	font-family: 宋体;
	font-size: 12px;
	color: #eef;
	position: absolute;
	top: 610px;
	width: 1024px;
	text-align: center;
}
.footer span {
	font-family: Arial;
	font-size: 14px;
	margin: 0 3px;
}
#reloadImg {
	color:#000000;
	padding:2px 4px;
	line-height: 50px;
	cursor:pointer hand;
	text-decoration: underline;
}
#reloadImg:hover {
	text-decoration: underline;
}