.btn-area{width: 100%;text-align: center;margin: 20px auto 20px;}
.mui-btn{
	font-size: 1em;
	font-weight: 400;
	/*line-height: 1.42;*/
	line-height: 1.42;
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	/*padding: 6px 12px;*/
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	background-clip: padding-box;
	color: #fff;
	border: 1px solid #007aff;
	background-color: #007aff;
	border-radius: 5px;
	height: 2.7em;
	width: 49%;
}
.mui-btn:active{
	color: #fff;
	border: 1px solid #0062cc;
	background-color: #0062cc
}
