.mui-table-view-cell div {
	width: 53%;
	font-size: .9em;
	color: #999;
}
.mui-table-view-cell span {
	color: #333333;
	font-size: .9em;
	font-weight: bold;
}
.mui-table-view-cell span:last-child {
	width: 10%;
}
.mui-pull-right {
	text-align: right;
}
.d_title {
	margin: 10px;
	font-size: 0.9em;
}
.d_title span {
	color: #0089e6;
	font-size: .7em;
}
.mui-btn {
	width: 94%;
}
input,
input[type=text],
input[type=number],
input[type=tel],
input[type=radio] {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	height: 25px;
	font-size: .95em;
	width: 80%;
	text-align: right;
	margin-right: 10px;
}
input[type=radio] {
	width: auto;
	height: auto;
}
select {
	width: 100%;
	height: 25px;
}
@media(max-width:414px) {
	#lxjc {
		width: 46%;
	}
	#csn {
		width: 24%;
	}
	#s_year_info {
		width: 65%
	}
	input[type=number] {
		width: 85%;
	}
	#ddlFWAreaList {
		width: 93%;
		word-break: break-word;
	}
}
@media(max-width:384px) {
	#lxjc {
		width: 50%;
	}
	#csn {
		width: 27%;
	}
	#ddlFWAreaList {
		width: 100%;
		word-break: break-word;
	}
}
@media(max-width:375px) {
	#lxjc {
		width: 51%;
	}
}
@media(max-width:360px) {
	#lxjc {
		width: 54%;
	}
	#csn {
		width: 29%;
	}
	#ddlFWAreaList {
		width: 100%;
		word-break: break-word;
		font-size: .85em;
	}
}
@media(max-width:320px) {
	#lxjc {
		width: 60%;
	}
	#csn {
		width: 32%;
	}
	#s_year_info {
		width: 64%;
	}
	input[type=number] {
		width: 70%;
	}
	#ddlFWAreaList {
		width: 100%;
		word-break: break-word;
		font-size: .6em;
	}
}