html,body,ul,select{
	padding: 0;
	margin: 0;
}
body{
	font-family:"Microsoft YaHei";
}
li{list-style: none;}
a {
	color: #666;
	text-decoration:none;
}
a:after {
	color: #333;
}
a:active,
a:hover {
	outline: 0
}