@charset "utf-8";
#mainbody {
	width: 1040px;
}

#piccontentbody {
	float: left;
	width: 800px;
	min-height: 1050px;
	margin: 20px 0 40px 20px;
	border: 1px solid #E7E7EB;
}

#groupbody {
	float: left;
	width: 200px;
	min-height: 1050px;
	margin: 20px 0 40px 0px;
	border: 1px solid #E7E7EB;
}

.stylep {
	font-size: 15px;
	color: black;
	width: 190px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	cursor: pointer;
}

.stylepchange {
	background-color: #F4F5F9;
}

#groupbody p:hover {
	background-color: #F4F5F9;
}

.hide {
	display: none;
}

.styleli {
	font-size: 15px;
	color: black;
	margin-left: 10px;
}

#newgroupdiv {
	width: 200px;
	height: 180px;
	line-height: 60px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	position: fixed;
	z-index: 999;
	text-align: center;
}
.buttonstyle1 {
	width: 70px;
	height: 30px;
	background-color: #44B549;
	border: 0;
	color:white;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 3px;
}

.buttonstyle2 {
	width: 70px;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	margin-left: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 3px;
}

#groupname {
	width: 170px;
	height: 30px;
	border: 1px solid #E7E7EB !important;
}

.guize {
	width: 380px;
	height: 37px;
	background-color: #FFF;
	text-align: center;
	line-height: 35px;
	border: 1px solid #E7E7EB;
	color: #8D8DA9;
	font-size: 15px;
	margin: 15px 0px 0px 120px;
	float: left;
}

#changegroupname {
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	color: black;
	font-size: 15px;
	margin: 20px 0 0 0px;
	float: left;
}
.changegroupname {
	width: 80px;
	height: 30px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	color: #45A6EE;
	font-size: 15px;
	margin: 20px 0 0 0px;
	float: left;
	position: relative;
	cursor: pointer;
}
#test{
	float: left;
	margin: 15px 0 0 10px;
}
.lanmu{
	margin-top: 60px;
	width: 800px;
	height: 60px;
	background-color: #F4F5F9;
	border-bottom: 1px solid #E7E7EB;
}
.lanmuli{
	padding: 20px 0 0 40px;
	font-size: 14px;
	color: black;
	float:left;
}
.lanmulidiv{
	width:90px;
	height: 35px;
	margin-top: -10px;
	border: 1px solid #E7E7EB;
	background-color: #E7E7EB;
	text-align: center;
	color:#ABBCDA;
	font-size: 14px;
	border-radius: 3px;	
}
.newlanmulidiv{
	background-color: white;
	color:black;
	cursor: pointer;
}
.oldlanmulidiv{
	background-color: #E7E7EB;
	color:#ABBCDA;
}
#checkall{
	width:18px;
	height: 18px;
	border: none;
	vertical-align:middle;  
	margin-right: 1px;
}
.picdiv{
	margin-top: 20px;
	width: 800px;
	min-height: 400px;
	overflow:hidden;
}
.picstyle{
	height: 256px;
	width: 185px;
	margin-left: 11px;
	font-size:15px;
	float: left;
	border: 1px solid #E7E7EB;
	margin-top: 10px;
}
.picstyle img{
	height: 185px;
	width: 185px;
}
.piccheckbox{
	margin: 10px 1px 0 30px;
	width:18px;
	height: 18px;
	border:none;
	vertical-align:bottom;
}
.picedit{
	margin-top:10px;
	width:185px;
	height: 35px;
	background-color: rgb(244,245,249);
	border-top: 1px solid #E7E7EB;
}
.picedit img{
	width: 25px;
	height: 25px;
	margin: 5px 0 0 25px;
	cursor: pointer;
}
.nopicstyle{
	font-size: 15px;
	color: #8D8D8D;
	margin: 150px 0 0 350px;
}
#renameinput{
	width: 170px;
	height: 30px;
	border: 1px solid #E7E7EB !important;
}
#renamediv{
	width: 300px;
	height: 180px;
	line-height: 60px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	position: fixed;
	left:0px;
	top:70px;
	z-index: 999;
	text-align: center;
}
#deletediv{
	width: 300px;
	height: 180px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	position: fixed;
	left:80px;
	top:70px;
	z-index: 999;
	text-align: center;
}
.deteledivdetail {
	width:200px;
	height:80px;
	margin:20px 0 0 50px;
	font-size: 15px;
	color: black;
	text-align: left;
	
}
#deletepichide{
	width: 300px;
	height: 120px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	position: fixed;
	left:165px;
	top:135px;
	z-index: 999;
	text-align: center;
}
.deletepichide {
	width:200px;
	height:60px;
	line-height:60px;
	margin:0px 0 0 50px;
	font-size: 15px;
	color: black;
	text-align: center;
}
#movepichide{
	width: 350px;
	min-height: 120px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	position: fixed;
	left:15px;
	top:135px;
	z-index: 999;
	text-align: center;
} 
.radiostyle{
	margin:20px 0 0 0px;
	width: 13px;
	height: 13px;
}
.radiolable{
	margin:20px 0 0 5px;
	font-size: 15px;
	color: black;
}
.radiodivstyle{
	width: 120px;
	height:50px;
	float: left;
	line-height:50px;
	text-align:left;
	margin: 0px 0 0 40px;
}
.nogroupinfo{
	font-size: 15px;
	color: #000;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.movegroupbuttonstyle{
	clear:both;
	width: 350px;
	margin-top: 20px;
}
#altpositon{
	width:68px;
	height: 24px;
	background: url("../image/tip.png") no-repeat;
	font-size: 12px;
	color:white;
	text-align: center;
}
#editpicnamediv{
	width: 300px;
	height: 180px;
	line-height: 60px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	text-align: center;
}
#renamepicname{
	width: 170px;
	height: 30px;
	border: 1px solid #E7E7EB !important;
}
#movepicbyone{
	width: 350px;
	min-height: 120px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	text-align: center;
}
#deletepicbyone{
	width: 300px;
	height: 120px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7EB;
	text-align: center;
}
.currentpage{
	width: 280px;
	height: 30px;
	margin-top: 40px;
	margin-left: 515px;
}
.currentpageleft{
	width: 25px;
	height: 25px;
	background-color:#FFFFFF;
	border: 1px solid #E7E7EB;
	float: left;
	text-align: center;
	cursor: pointer;
}
.currentpageleft img{
	height: 17px;
	width: 14px;
	margin-top: 4px;
}
.currentpageleft:hover {
	background-color: #E6E7EC;
}
.currentpagenum{
	font-size: 14px;
	line-height:25px;
	margin:0 10px 0 10px;
	float: left;
}
#currentpagenum{
	margin-right: 5px;
}
#allpagenum{
	margin-left: 5px;
}
.systempagenum{
	float: left;
	margin-left: 10px;
	*margin-left: 5px;
}
#systempagenum{
	width: 80px;
	height: 27px;
	*height: 25px;
	border: 1px solid #E7E7EB !important;
	line-height:27px;
	text-align:center;
}
.gotonewpage{
	width: 60px;
	height: 26px;
	background-color:#FFFFFF;
	border: 1px solid #E7E7EB;
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
}
.currentpage .gotonewpage:hover {
	background-color: #E6E7EC;
}


/*调用图片库通用样式*/
.mainbodyhide{
	width:100%;
	min-width:1000px;
	height: 100%;
	min-height:580px;
	*min-height:620px;
	position: absolute;  
	top: 0;  
	left: 0;  
	z-index:9999;
	background-color: #3D3E3F;
	/*filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6*/
}
.thidebody{
	width:85%;
	min-width:700px;
	height: 100%;
	min-height:580px;
	*min-height:620px;
	margin-left: 10%;
}
.tthidehead{
	width:99.6%;
	height:50px ;
	overflow: hidden;
	border: 1px solid #E7E7EB;
	background-color: #D8E0F7;
}
.fontstyle{
	font-family: 宋体;
	font-size: 15px;
	color:black;
	line-height: 50px;
	font-weight: 300;
	margin-left: 20px;
	float: left;
}
.bagpic{
	width: 20px;
	height: 20px;
	background: #D8E0F7 url("../image/cancle.png") no-repeat;
	float: left;
	margin: 15px 0 0 86%;
}
.ttleft{
	width:18%;
	height:80%;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #E7E7EB;
	float: left;
}
.ttright{
	width:81.5%;
	height:80%;
	background-color: white;
	border: 1px solid #E7E7EB;
	float: left;
	border-left: none;
}
.ttrighthead{
	width:100%;
	min-width:500px;
	height:12%;
	min-height:50px;
	border-bottom: 1px solid #E7E7EB;
}
.tthideend{
	width:99.6%;
	height:10.5%;
	background-color: #D8E0F7;
	border: 1px solid #E7E7EB;
	border-top:none;
	float: left;
}
.ttstylep {
	font-size: 15px;
	color: black;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.ttstylepchange {
	background-color: #D8E0F7;
}
#ttleft p:hover {
	background-color: #D8E0F7;
}
.newguize {
	width: 380px;
	height: 37px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	border: 1px solid #E7E7EB;
	color: #8D8DA9;
	font-size: 15px;
	margin-top: 15px;
	margin-left:80px;
	float: left;
}
#grouppicdiv{
	margin-top: 10px;
	width: 100%;
	min-width:700px;
	height:330px;
	overflow:hidden;
	float: left;
}
.groupnopic{
	font-size: 15px;
	color: #8D8D8D;
	margin: 100px 0 0 250px;
}
.grouppicstyle{
	height: 148px;
	width: 125px;
	margin-left: 11px;
	font-size:15px;
	float: left;
	border: 1px solid #E7E7EB;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
}
.grouppicstyle img{
	height: 125px;
	width: 125px;
}
.currentpagehide{
	height:40px;
	width:300px;
	float: left;
	margin-left: 390px;
	margin-top:30px;
}
.currentpagehideleft{
	width: 25px;
	height: 25px;
	background-color:#FFFFFF;
	border: 1px solid #E7E7EB;
	float: left;
	text-align: center;
	cursor: pointer;
}
.currentpagehideleft img{
	height: 17px;
	width: 14px;
	margin-top: 4px;
}
.currentpagehideleft:hover {
	background-color: #E6E7EC;
}
.currentpagenumhide{
	font-size: 14px;
	line-height:25px;
	margin:0 10px 0 10px;
	float: left;
}
.currentpagehide .gotonewpage:hover {
	background-color: #E6E7EC;
}
.tthideendchild{
	height: 40px;
	width:300px;
	float: left;
	margin: 10px 0 0 100px;
}
.tthideendchildspan{
	width:100px;
	height: 40px;
	text-align:center;
	margin-left: 30px;
}
.tthideendchildspancommit{
	border: 1px solid #E7E7EB;
	height: 37px;
	width: 102px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.tthideendchildspancancle{
	border: 1px solid #E7E7EB;
	background-color:white;
	height: 37px;
	width: 102px;
	border-radius: 3px;
	cursor: pointer;
}
.tthideendchildspan .tthideendchildspancancle:hover{
	background-color: #E6E7EC;
}
.tthideendzt{
	width:150px;
	height:40px;
	line-height:40px;
	font-size:14px;
	float: left;
	margin: 10px 0 0 50px;
}
.floatyes{
	height: 125px;
	width: 125px;
	background-color: #3D3E3F;
	filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6
}
.floatyes img{
	width:55px;
	height: 55px;
	margin: 35px 0 0 35px;
}
.buttoncolor{
	background-color:#44B549;
}