<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/message.css" />
</head>
<body>
<div class="bulk-message-box">
    <div class="common-btns">
        <a href="javascript:;" title="创建图文信息（单条）" class="common-btns-create" id="bulkMessage-btn-picFontOne">创建图文信息（单条）</a>
        <a href="javascript:;" title="创建图文信息（多条）" class="common-btns-create" id="bulkMessage-btn-picFontMore">创建图文信息（多条）</a>
        <a href="javascript:;" title="创建文本消息" class="common-btns-create" id="bulkMessage-btn-font">创建文本消息</a>
        <a href="javascript:;" title="创建图片消息" class="common-btns-create" id="bulkMessage-btn-pic">创建图片消息</a>
        <a href="javascript:;" title="创建音频消息" class="common-btns-create" id="bulkMessage-btn-aduio">创建音频消息</a>
        <a href="javascript:;" title="创建视频消息" class="common-btns-create" id="bulkMessage-btn-video">创建视频消息</a>
        <br />
        <a href="javascript:;" title="修改" class="common-btns-edit" id="bulkMessage-btn-edit">修改</a>
        <a href="javascript:;" title="删除" class="common-btns-del" id="bulkMessage-btn-del">删除</a>
    </div>
    <div id="bulk-message-table"></div>
    <div id="bulk-message-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<div class="message-hidden">
    <div class="message-import">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>消息导入</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>消息类型</p>
                        <select id="custom-message-type"></select>
                        <p>上传文件</p>
                        <div class="custom-message-upload">
                            <div class="custom-message-upload-btn">选择...</div>
                            <span>未选择文件</span>
                        </div>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].customMessage.upload();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pic-and-font" id="pic-and-font">
    <div class="create-title">
        <a href="javascript:;" title="返回">返回</a>
        <span>|</span>
        <p>创建图文信息</p>
    </div>
    <div class="created-more">
        <div class="created-main"
             v-if="subs.length > 0"
             @click="edit(subs[0], 0)"
             :class="{ 'on': selected == subs[0].msmscommsgid }">
            <img v-bind:src="imgBehandPath + mainImg + imgEndPath" height="174" alt="">
            <p>{{ subs[0].title }}</p>
        </div>
        <template v-for="sub in subs" v-if="$index > 0">
            <div class="created-sub"
                 :class="{ 'on': selected == sub.msmscommsgid }"
                 @click="edit(sub, $index)">
                <div class="created-sub-title">{{ sub.title }}</div>
                <img v-bind:src="imgBehandPath + sub.param2 + imgEndPath" height="70" alt="">
            </div>
        </template>
        <div class="created-add" @click="clearForm();">
            点击添加
        </div>
        <div class="created-sort" v-show="subs.length > 1">
            <!--indexForSort != ''-->
            <a href="javascript:;" title="上移" v-show="canUp" @click="moveUp();">上移</a>
            <a href="javascript:;" title="下移" v-show="canDown" @click="moveDown();">下移</a>
            <a href="javascript:;" class="red-del" title="删除" @click="subDel();">删除</a>
            <a href="javascript:;" title="保存顺序" @click="saveList();">保存顺序</a>
        </div>
        <div class="created-preview-send-btn" v-show="subs.length > 0">
            <a href="javascript:;" title="发送预览信息" @click="getUserList();">发送预览信息</a>
        </div>
    </div>
    <ul class="create-left">
        <!--<li>-->
            <!--<p class="create-left-row-name">消息主题</p>-->
            <!--<select id="create-left-columns" class="create-left-columns"></select>-->
            <!--<span class="red">*</span>-->
        <!--</li>-->
        <li>
            <p class="create-left-row-name">推送渠道</p>
            <div class="create-send-channel">
                <label>
                    <input type="checkbox" value="10">
                    <span>APP</span>
                </label>
                <label>
                    <input type="checkbox" value="20">
                    <span>微信</span>
                </label>
                <label>
                    <input type="checkbox" value="30">
                    <span>门户网站</span>
                </label>
                <label>
                    <input type="checkbox" value="40">
                    <span>网上业务大厅</span>
                </label>
                <label>
                    <input type="checkbox" value="50">
                    <span>自助终端</span>
                </label>
                <label>
                    <input type="checkbox" value="60">
                    <span>服务热线</span>
                </label>
                <label>
                    <input type="checkbox" value="70">
                    <span>手机短信</span>
                </label>
                <label>
                    <input type="checkbox" value="80">
                    <span>官方微博</span>
                </label>
            </div>
            <span class="red">*</span>
        </li>
        <li>
            <p class="create-left-row-name">推送方式</p>
            <div class="create-left-type">
                <label>
                    <input type="radio" value="0" name="type" onclick="$('#release-date').hide();" checked>
                    <span>手动</span>
                </label>
                <label>
                    <input type="radio" value="1" name="type" onclick="$('#release-date').show();">
                    <span>定时</span>
                    <input type="text" class="release-date" id="release-date">
                </label>
            </div>
            <span class="red">*</span>
        </li>
        <li id="isOpenComment">
            <p class="create-left-row-name">是否打开评论</p>
            <div class="create-left-type">
                <label>
                    <input type="radio" value="0" name="isOpenComment" onclick="$('#whoCanComment').hide();" checked>
                    <span>不打开</span>
                </label>
                <label>
                    <input type="radio" value="1" name="isOpenComment" onclick="$('#whoCanComment').show();">
                    <span>打开</span>
                </label>
            </div>
        </li>
        <li id="whoCanComment">
            <p class="create-left-row-name">谁可以评论</p>
            <div class="create-left-type">
                <label>
                    <input type="radio" value="0" name="whoCanComment" checked>
                    <span>所有人可以评论</span>
                </label>
                <label>
                    <input type="radio" value="1" name="whoCanComment">
                    <span>粉丝才可以评论</span>
                </label>
            </div>
        </li>
        <!-- 选中推送渠道为微博,并且新建/修改的是"单图文"或"文本"的时候才显示 -->
        <li id="isNormalWeibo">
            <p class="create-left-row-name">微博类型</p>
            <div class="create-left-type">
                <label>
                    <input type="radio" value="0" name="isNormalWeibo" onclick="$('#weibo-headleads').hide();" checked>
                    <span>普通微博</span>
                </label>
                <label>
                    <input type="radio" value="1" name="isNormalWeibo" onclick="$('#weibo-headleads').show();">
                    <span>头条文章</span>
                </label>
            </div>
        </li>
        <li>
            <p class="create-left-row-name">消息标题</p>
            <input type="text" id="create-left-title" class="create-left-title">
            <span class="red">*</span>
        </li>
        <li id="weibo-headleads">
            <p class="create-left-row-name">导语</p>
            <input type="text" id="headleads" class="create-left-title">
        </li>
        <li id="message-desc">
            <p class="create-left-row-name">消息摘要</p>
            <textarea cols="30" id="create-left-summary" maxlength="200" rows="10"></textarea>
        </li>
        <li id="message-icon">
            <p class="create-left-row-name">图片</p>
            <div class="create-left-icons"></div>
            <a href="javascript:;" title="选择图片" id="create-left-upload-icon" class="create-left-upload-icon">选择图片</a>
        </li>
        <li id="message-audio">
            <p class="create-left-row-name">音频</p>
            <div class="media-box" id="create-left-upload-audio-box"></div>
            <a href="javascript:;" title="选择音频" id="create-left-upload-audio" class="create-left-upload-icon">选择音频</a>
        </li>
        <li id="message-video">
            <p class="create-left-row-name">视频</p>
            <div class="media-box" id="create-left-upload-video-box"></div>
            <a href="javascript:;" title="选择视频" id="create-left-upload-video" class="create-left-upload-icon">选择视频</a>
        </li>
        <li id="message-content">
            <p class="create-left-row-name">正文</p>
            <script id="create-left-editor" type="text/plain" style="width:626px;height:208px;"></script>
            <textarea id="create-left-row-textarea" maxlength="600" class="create-left-row-textarea"></textarea>
        </li>
        <li>
            <div class="create-left-btns">
                <a href="javascript:;" title="保存" id="create-save">保存</a>
                <a href="javascript:;" title="预览" id="create-mobile">预览</a>
                <a href="javascript:;" title="发送预览信息" id="create-perview-btn">发送预览信息</a>
            </div>
        </li>
    </ul>
    <div class="create-right">
        <div class="create-right-title" v-show="!isMoreLines">
            <a href="javascript:;"
               title="知识库"
               :class="{'on': select == 0 }"
               @click="changeTag(0)"
               :style="{ width: isShow ? '50%' : '100%'}">知识库</a>
            <a href="javascript:;"
               title="素材库"
               :class="{'on': select == 1 }"
               @click="changeTag(1)"
               v-show="isShow">素材库</a>
        </div>
        <div class="small-create-right" :class="{'on': moreLinesIsShow }" v-show="isMoreLines">
            <div class="small-create-right-title">
                <a href="javascript:;"
                   title="知识库"
                   @click="changeTag(0)"
                   :class="{'on': select == 0 }">知识库</a>
                <a href="javascript:;"
                   :class="{'on': select == 1 }"
                   @click="changeTag(1)"
                   title="素材库">素材库</a>
                <a href="javascript:;"
                   class="small-create-close"
                   @click="closeRight();"
                   v-show="moreLinesIsShow">关 闭</a>
            </div>
        </div>
        <div :class="{'create-fixed': isMoreLines }" v-show="moreLinesIsShow">
            <div id="GJJKBS-setjs-box" v-show="select == 0">
                <!--<script id="GJJKBS-setjs" src="http://116.52.5.78:9999/kbs/km/js/doc.plugin.set.js?v=1477378377898&f=normal&w=auto&h=482"></script>-->
                <script type="text/javascript">
                    var inIP = "172.16.0.184"; // 内网IP
                    var outIP = "61.153.144.77"; // 外网IP
                    var centerIP = "172.16.0.184"; // test IP
                    var showIP = "172.16.0.184"; // 演示地址
                    var src = '';
                    if(window.location.hostname == inIP){//-----内网信息
                        src = 'http://172.16.0.183:8080/kbs/km/js/doc.plugin.set.js?v=1490621935225&f=normal&w=323&h=500';
                    } else if(window.location.hostname == outIP){//-----外网信息-------internet-----
                        src = 'http://172.16.0.183:8080/kbs/km/js/doc.plugin.set.js?v=1490621935225&f=normal&w=323&h=500';
                    } else if(window.location.hostname == showIP){//-----演示地址-------internet-----
                        src = 'http://172.16.0.183:8080/kbs/km/js/doc.plugin.set.js?v=1490621935225&f=normal&w=323&h=500';
                    } else {
                        src = 'http://172.16.0.183:8080/kbs/km/js/doc.plugin.set.js?v=1490621935225&f=normal&w=323&h=500';
                    }
                    var GJJKBS_JS = document.createElement('script');
                    GJJKBS_JS.id = 'GJJKBS-setjs';
                    GJJKBS_JS.src = src;
                    document.getElementById('GJJKBS-setjs-box').appendChild(GJJKBS_JS);
                    setTimeout(function(){
                        GJJKBS_set.GJJKBS_setCid(top.userInfo.centerid);
                    }, 1500);
                </script>
            </div>
            <div class="create-right-search-box" v-show="select == 1">
                <input type="text" placeholder="查询素材库" id="create-right-search-val" v-model="searchText">
                <a href="javascript:;" title="搜索" @click="search()" id="create-right-search-btn"></a>
                <a href="javascript:;" title="刷新" @click="reset()" id="create-right-search-refresh"></a>
            </div>
            <div class="create-right-groups" v-show="select == 1">
                <template v-for="group in groups" v-show="isShow">
                    <a href="javascript:;" class="create-right-group-title"
                       title="{{ group.groupname }}"
                       v-bind:class="{ 'on': group.groupid == currentGroupId }"
                       @click="getMaterial(group);">
                        {{ group.groupname }}（{{ group.jl }}）
                    </a>
                    <div class="material-box" v-show="group.groupid == currentGroupId" v-if="searchResult.length > 0">
                        <div v-bind:style="{ width: searchResult.length * 96 + 'px' }">
                            <template v-for="material in searchResult">
                                <div class="material-li">
                                    <div class="material-pic" v-bind:style="{ background: 'url(' + material.picurl + ') center center no-repeat' }"></div>
                                    <p>{{{ material.realname }}}</p>
                                    <a href="javascript:;" title="插入素材" @click="insetHtml(material);">插入素材</a>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
<div class="preview">
    <div class="mobile">
        <div class="popup-bg"></div>
        <div class="mobile-fixed">
            <div class="mobile-relative">
                <div class="popup-preview-fontImageOne">
                    <h2 class="mobile-list-title message-title"></h2>
                    <ul class="mobile-message-list" id="popup-preview-fontImageOne"></ul>
                    <div class="mobile-content">
                    </div>
                </div>
                <div class="popup-preview-fontImageMore">
                    <h2 class="mobile-list-title message-title"></h2>
                    <ul class="mobile-message-list" id="popup-preview-fontImageMore"></ul>
                    <div class="mobile-content">
                    </div>
                </div>
                <div class="popup-preview-font">
                    <h2 class="mobile-list-title message-title"></h2>
                    <div class="mobile-content"></div>
                </div>
                <div class="popup-preview-img">
                    <h2 class="mobile-list-title message-title"></h2>
                    <div class="mobile-content">
                    </div>
                </div>
                <div class="mobile-popup-btns">
                    <a href="javascript:;" id="popup-list" title="信息列表" class="on">信息列表</a>
                    <a href="javascript:;" id="popup-view" title="信息正文">信息正文</a>
                    <a href="javascript:;" id="popup-app" title="APP">APP</a>
                    <a href="javascript:;" id="popup-wechat" title="微信">微信</a>
                    <a href="javascript:;" id="popup-sms" title="手机短信">手机短信</a>
                    <a href="javascript:;" id="popup-weibo" title="官方微博">官方微博</a>
                    <a href="javascript:;" id="popup-close" title="关闭" class="popup-mobile-close">关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/3rd/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="js/3rd/ajaxupload.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/message.js"></script>
<!-- 推送预览选择用户界面 -->
<div class="select-user-area">
    <div class="select-user">
        <div class="popup-bg"></div>
        <div class="select-user-box">
            <div class="select-user-box-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <div id="select-user"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-list-html-template">
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/channelUserManagement.css">
    <div class="orgManage-box channelBox" id="main">
        <div class="channelMonitorSearch">
            <ul>
                <li>机构名称
                    <select id="searchCustomer"></select>
                </li>
                <li>姓名
                    <input type="text" class="channelUserText" id="username" placeholder="请输入姓名">
                </li>
                <li>身份证号
                    <input type="text" class="channelUserText" id="certinum" placeholder="请输入身份证号">
                </li>
                <li>手机号
                    <input type="text" class="channelUserText" id="tel" placeholder="请输入手机号">
                </li>
                <a href="javascript:;" title="查询" class="channelMonitorBtn" id="btnquery" >查询</a>
            </ul>
        </div>
        <div class="channelUserBtns">
            <span style="color:#999;font-size:12px;">点击选择用户发送预览信息</span>
        </div>
        <table id="channelSetTable"></table>
        <div id="orgManage-table-pages">
            <pages :items="items" :current.sync="current" :size.sync="size"></pages>
        </div>
    </div>
</script>
<textarea id="user-list-js-template" style="display:none">
    <script type="text/javascript" src="js/hx.droplist.js"></script>
    <script type="text/javascript" src="js/hx.pages.js"></script>
    <script type="text/javascript" src="js/message.userSelect.js"></script>
</textarea>
</body>
</html>