/**
* 主页面框架样式表
*/

/* 顶栏 */
#frame_header {
	height: 70px;
	background: #111e53 url(bg_header.jpg) no-repeat;
	border-bottom: 2px solid #c9e4f7;
}
/* 操作员信息 */
#header_info {
	float: right;
	list-style: none;
	margin: 7px 10px 0 0;
	padding: 0;
}
#header_info li{
	color:#fff;
	background-image: url('icon_list.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	line-height: 18px;
}
#header_info label {
	color:#e0effa;
}
#header_logo {
	padding:18px 0 0 15px;
}
/* 常用链接 */
#header_links {
	list-style: none;
	float: right;
	margin: 7px 10px 0 0;
}
#header_links li{
	padding: 3px 0 3px 20px;
	line-height: 18px;
}
#header_links li a{
	color:#fff;
	text-decoration: none;
}
#header_links li#homepage{
	background:url(icon_homepage.png) no-repeat left center;
}
#header_links li#logoff{
	background:url(icon_logoff.png) no-repeat left center;
}
/* 菜单 */
#frame_menu {
	width: 250px;
}
#menu {
	margin: 0;
}
/* 一级菜单 */
#menu dt {
	background: url(bg_menu1.jpg) repeat-x;
	padding:0 12px;
	cursor: pointer;
	font-weight:bold;
	height: 27px;
	line-height: 27px;
}
/* 一级菜单折叠状态 */
#menu dt.fold {

}
/* 二级菜单 */
#menu dd {
	background-color: #eef2f7;
	margin: 0;
	margin-bottom: 1px;
}
#menu dd a {
	display: block;
	padding: 4px 40px;
	margin: 0;
	color: #082547;
	text-decoration: none;
}
#menu dd.current {
	background:#dce5f3 url(icon_menu1.png) no-repeat right center;
}
/* 交易页面帧 */
#frame_main {
	padding: 5px;
}
iframe {
	width: 100%;
	height: 100%;
}
#page-running-overlay {
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	width: 100%; 
	height:100%;
	background: transparent url(running.gif) no-repeat center;
	text-align: center;
	z-index: 9999;
	display: none;
}
