<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link rel="stylesheet" type="text/css" href="css/reservation.css" />
</head>
<body>
<div class="busQuery-top">
    <p>预约凭证号</p>
    <input type="text" class="busQuery-top-input" id="apponum">
    <p>预约业务</p>
    <div class="busQuery-top-droplist" id="busQuery-droplist1">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <p>证件号</p>
    <input type="text" class="busQuery-top-input" id="certinum">
    <p>预约网点区域</p>
    <div class="busQuery-top-droplist" id="busQuery-droplist2">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <p>预约姓名</p>
    <input type="text" class="busQuery-top-input" id="accname">
    <p>预约状态</p>
    <div class="busQuery-top-droplist" id="busQuery-droplist3">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <p>渠道平台</p>
    <div class="busQuery-top-droplist" id="busQuery-droplist4">
        <droplist :items="items" :selectedValue.sync="selectedValue"></droplist>
    </div>
    <p>预约起始日期</p>
    <input type="text" class="busQuery-top-input" id="busQuery-beginTime">
    <p>预约终止日期</p>
    <input type="text" class="busQuery-top-input" id="busQuery-endTime">
    <p></p>
    <a href="javascript:;" title="查询" class="busQuery-query-btn">查询</a>
</div>
<div class="busQuery-table-box">
    <div class="common-btns busQuery-change-btn-box">
        <a href="javascript:;" title="预约状态变更" class="busQuery-change-btn common-btns-edit">预约状态变更</a>
    </div>
    <div id="busQuery-table"></div>
    <div id="busQuery-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
<div class="busQuery-popup">
    <div class="popup-bg"></div>
    <div class="popup-box">
        <div class="popup-relative">
            <div class="popup-close" onclick="Common.popupClose();"></div>
            <h2 class="popup-title">
                <span>预约状态变更</span>
            </h2>
            <div class="reservation-popup-title">状态变更</div>
            <div class="reservation-type-popup-content">
                <div class="reservation-edit">
                    <p class="busQuery-popup-margin">预约业务编号</p>
                    <label>
                        <input type="radio" value="04" name="status" class="radio" checked/>
                        <span>办结</span>
                    </label>
                    <label>
                        <input type="radio" value="08" name="status" class="radio" />
                        <span>撤销</span>
                    </label>
                </div>
            </div>
            <div class="popup-btns">
                <a href="javascript:;" title="确定" class="popup-btns-ok" onclick="window.frames['main'].busQuery.changeStatusFn();">确定</a>
                <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/reservation.js"></script>
</body>
</html>