<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>table_building</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/building.css">
</head>
<body>
<!--building search form-->
<div class="buildingSearch">
	<ul>
		<li><p>楼盘名称</p><span><input type="text" id="f-housesName"></span></li>
		<li><p>楼盘地址</p><span><input type="text" id="f-address"></span></li>
		<li><p>楼盘类型</p><span><input type="text" id="f-houseType"></span></li>
		<li><p>开发商名称</p><span><input type="text" id="f-developerName"></span></li>
		<li><p>合作银行</p><span><input type="text" id="f-bankNames"></span></li>
		<li><a href="javascript:;" title="查询" class="btnSearch" id="filterBtn">查询</a></li>
		<div class="clear"></div>
	</ul>
</div>
<p class="buiTitle">楼盘详细信息</p>

<div class="orgManage-box buildingBox">	
    <div class="orgManage-table-btns buiManageBtns">
        <a href="javascript:;" title="新建" id="orgManage-btn-add">新建</a>
        <a href="javascript:;" title="修改" id="orgManage-btn-modify">修改</a>
        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
        <a href="javascript:;" title="地图信息" id="orgManage-btn-mapinfo">地图信息</a>
        <a href="javascript:;" title="批量导入" id="orgManage-btn-import">批量导入</a>
        <a href="javascript:;" title="模板下载" id="orgManage-btn-download">模板下载</a>
    </div>
    <table id="buildingTable"></table>
    <div id="orgManage-table-pages">
        <pages :items="items" :size.sync="size"></pages>
    </div>
</div>

<!-- regional info -->
<div class="orgManage-popup-info-container">
    <h2 class="orgManage-popup-info-title">
        <span>区域信息维护</span>
    </h2>
    <div class="orgManage-table-btns">
        <a href="javascript:;" title="新建" id="orgManage-info-add">新建</a>
        <a href="javascript:;" title="删除" id="orgManage-info-del">删除</a>
        <a href="javascript:;" title="上移" id="orgManage-info-moveUp">上移</a>
        <a href="javascript:;" title="下移" id="orgManage-info-moveDown">下移</a>
        <a href="javascript:;" title="保存顺序" id="orgManage-info-save">保存顺序</a>
        <a href="javascript:;" title="返回" id="orgManage-info-goBack">返回</a>
    </div>
    <div id="orgManage-popup-info-table"></div>
</div>


<div class="orgManage-popup-hidden">
    <!-- add & edit common Vue:orgManageEdit -->
    <div class="orgManage-popup-edit-container">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>楼盘信息 - 增加</span>
                </h2>
                <ul class="orgManage-popup-from">
                    <li>
                        <p class="orgManage-popup-text">网点编码</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiCode" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘区域</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiArea" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘名称</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiName" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">开发商名称</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiDeve" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘地址</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiAddr" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘类型</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiType" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">联系人姓名</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiContacter" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">联系电话</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiTel" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">合作银行</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiBank" value="" />
                        <a href="#" title="选择..." class='selectBank selectBankAdd' onclick="window.frames['main'].showBank()">选择...</a>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="OrgManageEditFn.orgVerify(true);" v-if="isAdd">确定</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    
    <div class="orgManage-popup-edit-container1">

        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>楼盘信息 - 修改</span>
                </h2>
                <ul class="orgManage-popup-from">
                    <li>
                        <p class="orgManage-popup-text">楼盘编码</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiCode1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘区域</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiArea1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘名称</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiName1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">开发商名称</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiDeve1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘地址</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiAddr1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">楼盘类型</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiType1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">联系人姓名</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiContacter1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">联系电话</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiTel1" value="" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">合作银行</p>
                        <input type="text" class="orgManage-popup-longInput" id="buiBank1" value="" />
                        <a href="javascript:;" title="选择..." class='selectBank selectBankModify' onclick="window.frames['main'].showBank()">选择...</a>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="changeInfo();common.popupClose();" v-if="isAdd">确定</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <!---选择银行--->
    <div class="orgManage-popup-edit-container2">
        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>选择合作银行</span>
                </h2>
                
                <div class="selectBankWrap">
                	<div class="selectLeft">
                		<span class="selectCommonTitle"><input type="text" placeholder="请输入要添加的银行" id="bankText"></span>
                		<div class="toSelect1" id="selectLeft">
                			<select multiple="multiple">
                				<option>中国炒饭银行</option>
                				<option>中国麻辣银行</option>
                				<option>中国午餐银行</option>
                				<option>中国猪肉银行</option>
                				<option>中国炒粉银行</option>
                				<option>中国鸡蛋银行</option>
                				<option>中国牛肉银行</option>
                				<option>中国冷面银行</option>
                				<option>中国生煎银行</option>
                				<option>中国喂猪银行</option>
                				<option>中国灌饼银行</option>
                				<option>中国花卷银行</option>
                			</select>
                		</div>
                	</div>
                	<div class="selectRight">
                		<span class="selectCommonTitle bgGray">与添加合作银行列表</span>
                		<div class="toSelect1" id="selectRight">
                			<select multiple="multiple">
                				
                			</select>
                		</div>
                	</div>
                	<div class="selectOption">
                		<a href="javascript:;" title="添加" id="moveToRight">添加</a>
                		<a href="javascript:;" title="删除" id="moveToLeft">删除</a>
                	</div>
                	<div class="clear"></div>
                </div>
                <div class="orgManage-popup-btns">
                    <p class="orgManage-popup-btns-ok" onclick="getBank()">确定</p>
                    <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                </div>
            </div>
        </div>
    </div>
    
    <!--地图-->
    <div class="orgManage-popup-edit-container4">
        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <div class="hei12"></div>
                <div class="mapTItle">
                	<input type="text" class="mapCity">
                	<input type="text" class="mapFullAddr">
                	<a href="#" title="" class="mapPosition">定位</a>
                	<span class="mapPictext">图片</span>
                	<a href="javascript:void(0);" class="mapViews" title="">浏览...</a>
                	<a href="#" title="" class="mapViewBigimg"><img src="images/ico_pic.png"></a>
                	<div class="clear"></div>
                </div>
               	<div class="mapWrap" id="mapWrap">
               		
               	</div>
                <div class="orgManage-popup-btns">
                    <p class="orgManage-popup-btns-ok" onclick="Common.popupClose();">确定</p>
                    <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript">
		// 百度地图API功能
	    var map = new BMap.Map("mapWrap");
	    map.centerAndZoom(new BMap.Point(120.025138,40.096584), 18);
	    var marker1 = new BMap.Marker(new BMap.Point(120.025138,40.096584));  // 创建标注
	    map.addOverlay(marker1);              // 将标注添加到地图中
	    marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	    //创建信息窗口
	    var infoWindow1 = new BMap.InfoWindow("");
	    marker1.openInfoWindow(infoWindow1);
	</script>
	
	<!--批量导入-->
	
	<div class="orgManage-popup-edit-container5">
        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <div class="import">
                	<h3>楼盘信息批量导入</h3>
                	<div class="importFile">上传路径：<a class="importChooseFileBtn" href="javascript:;">选择...</a> 未选择文件<input type="file"></div>
                </div>
                <div class="orgManage-popup-btns">
                    <p class="orgManage-popup-btns-ok" onclick="Common.popupClose();">确定</p>
                    <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                </div>
            </div>
        </div>
    </div>
	
</div>


<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/building.js"></script>
</body>
</html>