<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>客户投诉</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css"/>
    <link rel="stylesheet" type="text/css" href="css/analysis.css"/>
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css"/>
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css"/>
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" href="css/channelState.css">
    <link rel="stylesheet" href="css/channelService.css">
    <link rel="stylesheet" type="text/css" href="css/bussinessLog.css"/>
    <link rel="stylesheet" type="text/css" href="css/customerComplaints.css"/>

</head>
<body>
<div class="channelAnalysis-top bussiness-log">
    <form id="logForm" method="post">
        <p class="channelAnalysis-top-name">客户名称</p>
        <select class="channelAnalysis-select" name="org_id" id="customerName"></select>
        <span class="red-required">*</span>

        <p class="channelAnalysis-top-name">开始时间</p>
        <input type="text" class="channelAnalysis-top-endTime" id="startTime"
               name="start_time_start"/>
        <span class="red-required">*</span>

        <p class="channelAnalysis-top-name">结束时间</p>
        <input type="text" class="channelAnalysis-top-endTime" id="endTime"
               name="start_time_end"/>
        <span class="red-required">*</span>

        <br>
        <p class="channelAnalysis-top-name">处理状态</p>
        <select class="channelAnalysis-select" id="proccessStatus" name="is_end">
            <option value="">请选择...</option>
            <option value="0">未完成</option>
            <option value="1">已完成</option>
        </select>
        <span class="red-required">&nbsp;</span>
        <p class="channelAnalysis-top-name">时效状态</p>
        <select class="channelAnalysis-select" id="prescriptionStatus" name="is_out_of_date">
            <option value="">请选择...</option>
            <option value="0">时限内</option>
            <option value="1">超时限</option>
        </select>
        <span class="red-required">&nbsp;</span>

        <p class="channelAnalysis-top-name">工单来源</p>
        <select class="channelAnalysis-select" id="orderSource" name="proc_def_type">
            <option value="">请选择...</option>
            <option value="0">客服工单（12329）</option>
            <option value="1">市长热线办“一号通”工单（12345、96128）</option>
        </select>
        <span class="red-required">&nbsp;</span>

        <p class="channelAnalysis-top-name">渠道</p>
        <select class="channelAnalysis-select" id="channel" name="source_type">
            <option value="">请选择...</option>
            <option value="0">12329服务热线</option>
            <option value="1">微信</option>
            <option value="2">市长热线办“一号通”</option>
            <option value="3">APP</option>
            <option value="4">微博</option>
            <option value="5">门户网站</option>


        </select>
        <span class="red-required">&nbsp;</span>
    </form>
    <div class="btn-wrap">
        <a href="javascript:;" title="查询" class="channelAnalysis-top-queryBtn" id="querybtn">查询</a>
    </div>
</div>

<div class="channelAnalysis-tab">
    <a href="javascript:;" title="投诉工单" class="on">投诉工单</a>
    <a href="javascript:;" title="渠道分布">渠道分布</a>
    <a href="javascript:;" title="投诉趋势">投诉趋势</a>
    <a href="javascript:;" title="响应时间分布">响应时间分布</a>
</div>
<div class="channelAnalysis-chats bussiness-log">
    <div id="complaintJobs">
        <!--对应表格数据-->
        <div class="orgManage-box channelBox" id="jobLists">
            <table id="setTable"></table>
            <div id="orgManage-table-pages">
                <pages :items="items" :current.sync="current" :size.sync="size"></pages>
            </div>
        </div>

        <div class="woShowDetail" id="woShowDetail" style="display: none;">
            <h2 class="woTitle" id="woTitle">工单详情</h2>
            <div class="woShowBtns">
                <a href="javascript:;" title="返回" id="orgManage-btn-back">返回</a>
            </div>
            <div class="toDeal" id="toDeal"></div>
        </div>
    </div>
    <div id="channelDistribution" style="display: none;">
        <div class="chenelUE-canvas-wrap">
            <div id="channelUE-canvas"></div>
        </div>


    </div>
    <div id="complaintTrends" style="display: none;">
        <div class="chenelUE-canvas-wrap">
            <div class="woShowBtns" id="complainTrend-btn">
                <a href="javascript:;" title="返回" id="complainTrends-back-year"><i class=""></i>返回</a>
                <a href="javascript:;" title="返回" id="complainTrends-back-month">返回</a>
            </div>
            <div id="complaintTrends-canvas-year" style="display:none;height:280px !important;"></div>
            <div id="complaintTrends-canvas-month" style="display:none;height:280px !important;"></div>
            <div id="complaintTrends-canvas-day" style="display:none;height:280px !important;"></div>
        </div>

    </div>
    <div id="responseTimeDistribution" style="display: none;">
        <h4>未完成的工单数量：<span id="count_not_end"></span>个</h4>
        <div class="chenelUE-canvas-wrap">
            <div id="response-canvas" style="height:280px !important;"></div>
        </div>

    </div>
</div>


<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/3rd/laydate.js"></script>
<script type="text/javascript" src="js/3rd/echarts.common.min.js"></script>
<script type="text/javascript" src="js/customerComplaints.js"></script>
</body>
</html>
