<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>table_building</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/network.css">
</head>
<body>
<!--building search form-->
<section class="main">
<div class="buildingSearch">
	<ul>
		<li><p>网点名称</p><span><input type="text" id="websiteName"></span></li>
		<li><p>所在区域</p>
			<span>
				<select id="areaId">
					<option>请选择</option>
				</select>
			</span>
		</li>
		<li><p>网点地址</p><span><input type="text" id="address"></span></li>
		<li><p>营业时间</p><span><input type="text" id="serviceTime"></span></li>
	</ul>
	<a href="javascript:;" title="查询" class="btnSearch" id="btnquery">查询</a>
	<div class="clear"></div>
</div>

<div class="orgManage-box buildingBox">	
    <div class="orgManage-table-btns buiManageBtns">
        <a href="javascript:;" title="新建" id="orgManage-btn-add">新建</a>
        <a href="javascript:;" title="修改" id="orgManage-btn-modify">修改</a>
        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
        <a href="javascript:;" title="地图信息" id="orgManage-btn-mapinfo">地图信息</a>
        <a href="javascript:;" title="批量导入" id="orgManage-btn-import">批量导入</a>
        <a href="downloadimg.file?filePathParam=import_file_path&fileName=wdxxmb.xls&isFullUrl=false" title="模板下载" id="orgManage-btn-download">模板下载</a>
    </div>
    <table id="networkTable"></table>
    <div id="orgManage-table-pages">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
</div>
</section>
<!--地图-->
<div class="orgManage-popup-info-container">
    <div class="orgManage-popup-info-btns">
        <a href="javascript:;" title="返回" id="orgManage-info-goBack">返回</a>
        <span> | 地图信息</span>
    </div>
    <div class="maparea">
        <div class="mapTItle">
            <input type="text" class="mapCity">
            <input type="text" class="mapFullAddr">
            <a href="#" title="定位" class="mapPosition" id="setposition">定位</a>
            <form id="formUpImg" name="formUpImg" method="post" enctype="multipart/form-data" novalidate="novalidate">
                <span class="mapPictext">图片</span>
                <a href="javascript:void(0);" class="mapViews" title="">浏览选择图片...</a>
                <input type="file" class="imginput" name="file" id="imgfile" onchange="upImg()" validType="fileType['PNG']" invalidMessage="请选择(PNG)等格式的图片" accept=".PNG"/>
                <span id="imgname" class="imgname">未上传</span>
                <a href="javascript:;" class="mapViewBigimg" title="图片预览"><img src="images/ico_pic.png"></a>
                <input type="hidden" name="magecenterId" id="imgcenterid" value=""/>
                <input type="hidden" name="imageid" id="imageid" value=""/>
            </form>
            <a href="#" title="保存" class="mapsave">保存地图</a>
            <div class="clear"></div>
        </div>
        <div class="mapWrap" id="mapWrap">
        </div>
    </div>
</div>


<div class="orgManage-popup-hidden">
    <!-- add & edit common Vue:orgManageEdit -->
    <div class="orgManage-popup-edit-container">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>网点信息 - 增加</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>网点编码</p>
                        <input type="text"  id="buiCode" value="" /><span class="red-link">*</span>
                        <p>网点名称</p>
                        <input type="text" value="" id="buiArea" /><span class="red-link">*</span>
                        <p>网点区域</p>
                        <select id="buiName"></select> <span class="red-link">*</span>
                        <p>网点类型</p>
                        <select id="buiType"></select> <span class="red-link">*</span>
                        <p>业务类型</p>
                        <input type="text" value="" id="buiBuzType" />
                        <p>网点地址</p>
                        <input type="text" value="" id="buiAddr" /><span class="red-link">*</span>
                        <p>营业时间</p>
                        <input type="text" value="" id="buiContacter" /><span class="red-link">*</span>
                        <p>联系电话</p>
                        <input type="text" value="" id="buiTel" /><span class="red-link">*</span>
                        <p>是否开通取号</p>
                        <div style="display:inline-block;margin-top:0;color:#666">
                            <label>
                                <input type="radio" name="isOpen" value="0" checked/>
                                <span>不开通</span>
                            </label>
                            <label>
                                <input type="radio" name="isOpen" value="1" />
                                <span>开通</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="确定" class="popup-btns-ok"  onclick="window.frames['main'].network.add();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>


    
    <div class="orgManage-popup-edit-container1">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>网点信息 - 修改</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <div class="wechat-baseQuery-popup-create">
                        <p>网点编码</p>
                        <input type="text"  id="buiCode1"  disabled="disabled" /><span class="red-link">*</span>
                        <p>网点名称</p>
                        <input type="text" value="" id="buiArea1" /><span class="red-link">*</span>
                        <p>网点区域</p>
                        <select id="buiName1"></select> <span class="red-link">*</span>
                        <p>网点类型</p>
                        <select id="buiType1"></select> <span class="red-link">*</span>
                        <p>业务类型</p>
                        <input type="text" value="" id="buiBuzType1" />
                        <p>网点地址</p>
                        <input type="text" value="" id="buiAddr1" /><span class="red-link">*</span>
                        <p>营业时间</p>
                        <input type="text" value="" id="buiContacter1" /><span class="red-link">*</span>
                        <p>联系电话</p>
                        <input type="text" value="" id="buiTel1" /><span class="red-link">*</span>
                        <p>是否开通取号</p>
                        <div style="display:inline-block;margin-top:0;color:#666">
                            <label>
                                <input type="radio" name="isOpen" value="0" checked/>
                                <span>不开通</span>
                            </label>
                            <label>
                                <input type="radio" name="isOpen" value="1" />
                                <span>开通</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="修改" class="popup-btns-ok" onclick="window.frames['main'].network.edit();">确定</a>
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 图片预览 -->
	<div class="orgManage-popup-edit-container2">
        <div class="popup-bg"></div>
        <div class="popup-box">
            <div class="popup-relative">
                <div class="popup-close" onclick="Common.popupClose();"></div>
                <h2 class="popup-title">
                    <span>图片预览</span>
                </h2>
                <div class="wechat-baseQuery-popup-content">
                    <img src="" id="peview" width="100%" />
                </div>
                <div class="popup-btns">
                    <a href="javascript:;" title="取消" class="popup-btns-cancel" onclick="Common.popupClose();">取消</a>
                </div>
            </div>
        </div>
    </div>

	<!--批量导入-->
	
	<div class="orgManage-popup-edit-container5">
        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <div class="import">
                	<h3>楼盘信息批量导入</h3>
                    <form id = "uploadform" class="dlg-form" method="post" action="webapi10101_check.do" ENCTYPE="multipart/form-data" novalidate="novalidate">
                    	<div class="importFile" style="display: inline-block;">
                            上传路径：<a class="importChooseFileBtn" href="javascript:;">选择...</a> 
                            <span id="excelfile">未上传</span>
                            <input type="file" id="file" name="excelfile" required="required" accept=".xls">
                        </div>
                        <input type="hidden" id="citycode" name="citycode" value=""/>
                        <input type="hidden" id="cityname" name="cityname" value=""/>
                        <input type="hidden" id="path" name="path" value=""/>
                        <input type="hidden" id="ruleMapStr" name="ruleMapStr" value="{websiteCode:'#2',businessType:'#3',websiteName:'#4',areaId:'#5',address:'#6',tel:'#7',serviceTime:'#8'}"/>
                        <input type="hidden" id="tableName" name="tableName" value="mi201"/>
                    </form>
                </div>
                <div class="orgManage-popup-btns">
                    <p class="orgManage-popup-btns-ok" onclick="window.frames['main'].network.submitExl();">确定</p>
                    <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                </div>
            </div>
        </div>
    </div>
	
</div>

<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/lib/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.form.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7db9536a2794ce477288908163157bc6"></script>
<script type="text/javascript" src="js/network.js"></script>
</body>
</html>