<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" href="css/3rd/main.css">
    <link rel="stylesheet" href="css/3rd/960.css">
    <link rel="stylesheet" href="css/3rd/mmGrid.css">
    <link rel="stylesheet" href="css/3rd/mmPaginator.css">
    <link rel="stylesheet" type="text/css" href="css/orgManagement.css" />
</head>
<body>
<div class="orgManage-box">
    <div class="orgManage-table-btns">
        <a href="javascript:;" title="新建" id="orgManage-btn-add">新建</a>
        <a href="javascript:;" title="删除" id="orgManage-btn-del">删除</a>
        <a href="javascript:;" title="激活" id="orgManage-btn-active">激活</a>
        <a href="javascript:;" title="区域信息" id="orgManage-btn-info">区域信息</a>
    </div>
    <table id="orgManage-table"></table>
</div>
<!-- regional info -->
<div class="orgManage-popup-info-container">
    <h2 class="orgManage-popup-info-title">
        <span>区域信息维护</span>
    </h2>
    <div class="orgManage-popup-info-btns">
        <a href="javascript:;" title="返回" id="orgManage-info-goBack">返回</a>
        <a href="javascript:;" title="新建" id="orgManage-info-add">新建</a>
        <a href="javascript:;" title="删除" id="orgManage-info-del">删除</a>
        <a href="javascript:;" title="上移" id="orgManage-info-moveUp">上移</a>
        <a href="javascript:;" title="下移" id="orgManage-info-moveDown">下移</a>
        <a href="javascript:;" title="保存顺序" id="orgManage-info-save">保存顺序</a>
    </div>
    <div id="orgManage-popup-info-table"></div>
</div>
<div class="orgManage-popup-hidden">
    <!-- add & edit common Vue:orgManageEdit -->
    <div class="orgManage-popup-edit-container">
        <div class="orgManage-popup-bg"></div>
        <div class="orgManage-popup-edit orgManage-popup-edit-top">
            <div class="orgManage-popup-relative">
                <div class="orgManage-popup-edit-close orgManage-popup-close" onclick="Common.popupClose();"></div>
                <h2 class="orgManage-popup-edit-title">
                    <span>{{ isAdd ? title[0] : title[1] }}</span>
                </h2>
                <ul class="orgManage-popup-from">
                    <li>
                        <p class="orgManage-popup-text">城市名称</p>
                        <input type="text" class="orgManage-popup-shortInput" id="orgManageFreeuse1" value="{{form.freeuse1}}" />
                        <span class="red-required">*</span>
                        <p class="orgManage-popup-text">机构代码</p>
                        <input type="text" class="orgManage-popup-shortInput" id="orgManageCenterid" value="{{ form.centerid }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">机构名称</p>
                        <input type="text" class="orgManage-popup-longInput" id="orgManageCenterName" value="{{ form.centername }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">客户服务级别</p>
                        <select id="orgManageCenterLevel" v-model="form.uselevel">
                            <option value="1">普通</option>
                            <option value="2">高级</option>
                            <option value="3">合作伙伴</option>
                        </select>
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">联系人</p>
                        <input type="text" class="orgManage-popup-shortInput" id="orgManageContactName" value="{{ form.contactname }}" />
                        <span class="red-required">*</span>
                        <p class="orgManage-popup-text">联系人电话</p>
                        <input type="text" class="orgManage-popup-shortInput" id="orgManageContactTel" value="{{ form.contacttel }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">客服电话</p>
                        <input type="text" class="orgManage-popup-longInput" id="orgManageCustsvctel" value="{{ form.custsvctel }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">机构官网</p>
                        <input type="text" class="orgManage-popup-longInput" id="orgManagePortalUrl" value="{{ form.portalurl }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">邮政编码</p>
                        <input type="text" class="orgManage-popup-longInput" id="orgManagePostCode" value="{{ form.postcode }}" />
                        <span class="red-required">*</span>
                    </li>
                    <li>
                        <p class="orgManage-popup-text">备注</p>
                        <textarea name="" cols="30" rows="10" id="orgManageFreeuse2" class="orgManage-popup-textarea">{{ form.freeuse2 }}</textarea>
                    </li>
                    <li>
                        <div class="orgManage-popup-btns">
                            <p class="orgManage-popup-btns-ok" onclick="OrgManageEditFn.orgVerify(true);" v-if="isAdd">确定</p>
                            <p class="orgManage-popup-btns-ok" onclick="OrgManageEditFn.orgVerify(false);" v-else="isAdd">修改</p>
                            <p class="orgManage-popup-btns-cancel" onclick="Common.popupClose();">取消</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/3rd/plugins.js"></script>
<script type="text/javascript" src="js/lib/json2.js"></script>
<script type="text/javascript" src="js/3rd/mmGrid.js"></script>
<script type="text/javascript" src="js/3rd/mmPaginator.js"></script>
<script type="text/javascript" src="js/orgManagement.js"></script>
</body>
</html>