<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.droplist.css" />
    <link rel="stylesheet" type="text/css" href="css/hx.pages.css" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/userView.css" />
</head>
<body>
<div class="userview-sub-title">
    <a href="userView.html" title="返回">返回</a>
    <span>|</span>
    <p class="userview-sub-title-icons5">客服记录</p>
</div>
<div class="userview-sub5-header">
    <a href="javascript:;" title="人工及自助语音客服" class="on">人工及自助语音客服</a>
    <a href="javascript:;" title="新媒体客服">新媒体客服</a>
</div>
<div class="userview-sub5-box1">
    <div class="userview-sub3-search">
        <p>电话号码</p>
        <input type="text" class="userview-sub5-input" id="tel-number">
        <a href="javascript:;" title="查询" id="userview-sub5-query">查询</a>
    </div>
    <table cellpadding="0" class="userview-sub1-view userview-block" v-show="typeof phonelist != 'undefined' && phonelist.length > 0">
        <tr align="center" class="userview-sub1-table-title">
            <td height="48" width="118">序号</td>
            <td width="146">电话号码</td>
            <td width="132">呼叫时间</td>
            <td width="148">通话时长</td>
            <td width="246">接听坐席</td>
            <td width="200">操作</td>
        </tr>
        <tr align="center" v-for="item in phonelist">
            <td height="48" width="118">{{ $index + 1 }}</td>
            <td width="146">{{ item['电话号码'] }}</td>
            <td width="132">{{ item['呼入时间'] }}</td>
            <td width="148">{{ item['通话时长'] }}</td>
            <td width="246">{{ item['接听分机'] }}</td>
            <td width="200">
                <a href="javascript:;" v-show="item['通话时长'] > 0" @click="showView(item.smallIndex, item);" title="详情">详情</a>
            </td>
        </tr>
    </table>
    <div id="userView5-page" v-show="typeof phonelist != 'undefined' && phonelist.length > 0">
        <pages :items="items" :current.sync="current" :size.sync="size"></pages>
    </div>
    <h4 class="userview-sub1-view" v-show="typeof phonelist == 'undefined' || phonelist.length <= 0">暂无数据</h4>
</div>
<div class="userview-sub5-box2">
    <div class="sub5-list" v-show="lists.length > 0">
        <ul>
            <template v-for="item in lists">
                <li :class="{'on': item.chat_id == select }" @click="getHistory(item.chat_id);">
                    <div class="sub5-list-icon sub5-list-icon-{{ item.app_plat_name }}"></div>
                    <div class="sub5-list-no">
                        <div>
                            <p>会话编号 {{ item.chat_id }}</p>
                            <span>{{ ((new Date(item.last_a_time)).getTime() - (new Date(item.createtime)).getTime())/1000 }} 秒</span>
                        </div>
                        <h4>
                            <span class="sub5-list-time">{{ item.modifytime }}</span>
                            <span class="sub5-list-evaluate">{{ item.is_score ? '已评价' : '未评价' }}</span>
                        </h4>
                    </div>
                </li>
            </template>
        </ul>
    </div>
    <div class="sub5-content" id="sub5-content" v-show="lists.length > 0">
        <ul>
            <template v-for="row in contents" v-if="row.msg_cmd != 'task' && row.msg_cmd != 'forward' && row.msg_cmd != 'forwarded' && row.msg_cmd != 'timeout' && row.msg_cmd != 'score'">
                <li v-if="row.msg_type == 'app2org'">
                    <div class="sub5-chat-q">
                        <div class="sub5-chat-q-left"></div>
                        <div class="sub5-chat-q-content">
                            {{row.msg_cmd}}
                            <p>
                                <span>{{ row.app_user_nickname }}</span>
                                <span>{{ row.createtime }}</span>
                            </p>
                            <div v-if="row.msg_cmd == 'picture'">
                                <img v-bind:src="imgUrl + '/YDNMC/gridfs/downloadimg/'+row.msg_data" alt="图片">
                            </div>
                            <div v-else>{{{ row.msg_data }}}</div>
                        </div>
                    </div>
                </li>
                <li v-else="row.msg_type == 'org2app'">
                    <div class="sub5-chat-a">
                        <div class="sub5-chat-a-right"></div>
                        <div class="sub5-chat-a-content">
                            ({{row.msg_cmd}})
                            <p>
                                <span>{{ row.org_user_nickname }}</span>
                                <span>{{ row.createtime }}</span>
                            </p>
                            <div v-if="row.msg_cmd == 'picture'">
                                <img v-bind:src="imgUrl + '/YDNMC/gridfs/downloadimg/'+row.msg_data" alt="图片">
                            </div>
                            <div v-else>{{{ row.msg_data }}}</div>
                        </div>
                    </div>
                </li>
            </template>
        </ul>
    </div>
    <h4 v-show="typeof lists == 'undefined' || lists.length <= 0">暂无数据</h4>
</div>
<div class="userview-sub5-view">
    <div class="userview-sub5-view-title-box">
        <h2 class="userview-sub5-view-title">人工及自助语音客服明细</h2>
    </div>
    <div class="userview-sub5-view-header">
        <p class="userview-sub5-view-header-left">{{ tel }}</p>
        <div class="userview-sub5-view-header-right">
            <h3>接听坐席：{{ pickUp }}</h3>
            <p>添加坐席：指派员3</p>
        </div>
    </div>
    <div class="userview-sub5-view-con">
        <div class="userview-sub5-view-qus">
            <h4>{{ currentView['问题'] }} </h4>
            <div>{{ callTime }}</div>
        </div>
        <div class="userview-sub5-view-anw">
            <h4>{{ currentView['答案'] }} </h4>
            <div>{{ callTime }}</div>
        </div>
    </div>
    <div class="userview-sub5-view-bottom">
        <span>添加人：{{ currentView['添加人'] }}</span>
        <span>添加时间：{{ currentView['添加时间'] }}</span>
    </div>
</div>
<script type="text/javascript" src="js/base/hx.core.js"></script>
<script type="text/javascript" src="js/lib/jquery.js"></script><script type="text/javascript" src="js/lib/jquery-migrate.js"></script>
<script type="text/javascript" src="js/lib/vue.js"></script>
<script type="text/javascript" src="js/hx.droplist.js"></script>
<script type="text/javascript" src="js/hx.pages.js"></script>
<script type="text/javascript" src="js/userView.js"></script>
</body>
</html>