/* channel Analysis */
.channelAnalysis-top{margin:15px 10px;border:1px solid #eee;background:#f4f5f9;height:70px;font-size:0;vertical-align: top;}
.channelAnalysis-top-name{display:inline-block;font:12px/70px "microsoft yahei";color:#333;margin-right:5px;width:72px;text-align:right;vertical-align: top}
#channelAnalysis-top-droplist-customerName,#channelAnalysis-top-droplist-channel{display:inline-block;vertical-align:top;width:180px;height:30px;margin-top:20px;}
.channelAnalysis-top select{display:inline-block;width:200px;padding:0 20px 0 5px;height:28px;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow: 0;background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;border:1px solid #dadbdd;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.channelAnalysis-top select::-ms-expand{display: none;}
#custom-name{display:inline-block;vertical-align: top;margin-top:20px;}
#table-vue{margin:10px;font-size:0;display:none;}
.table-vue-left,.table-channel{display:inline-block;width:10%;height:auto;border:1px solid #eee;box-sizing: border-box;}
.table-channel{border-left:0;}
.table-vue-left li,.table-channel li{height:46px;border-bottom:1px solid #eee;background:#f4f5f9;font-size:12px;line-height:46px;color:#333;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.table-channel li {background:#fff;}
.table-channel li.table-channel-title{background:#f4f5f9;}
.table-vue-left li.table-vue-left-title{position:relative;background:url(../images/table_title_bg.png) 0 0 no-repeat;background-size:100% 100%;}
.table-vue-left li:last-child,.table-channel li:last-child{border-bottom:0;}
.table-vue-left-title1{position:absolute;left:12px;bottom:-8px;}
.table-vue-left-title2{position:absolute;right:12px;top:-8px;}
/*#searchChannel{width: 110px;}*/
.channelAnalysis-top-startTime,.channelAnalysis-top-endTime{display:inline-block;width:150px;height:28px;border:1px solid #dadbdd;background:url(../images/date.jpg) 141px center no-repeat #fff;padding:0 5px;margin-top:20px;}
.startTime,.endTime{display:inline-block;width:150px;height:28px;border:1px solid #dadbdd;background:url(../images/date.jpg) 130px center no-repeat #fff;padding:0 10px;margin-top:20px;}
.channelAnalysis-top-queryBtn{display:inline-block;width:90px;height:30px;background:#66cc66;text-align:center;font:13px/30px "microsoft yahei";color:#fff;margin-left:11px;}
#channelAnalysis-top-droplist-customerName .hx-droplist,#channelAnalysis-top-droplist-channel .hx-droplist{width:178px;}
#channelAnalysis-top-droplist-customerName .hx-droplist-placeholder,#channelAnalysis-top-droplist-channel .hx-droplist-placeholder{width:146px;background-position:152px center;}
#channelAnalysis-top-droplist-customerName .hx-droplist:hover,#channelAnalysis-top-droplist-channel .hx-droplist:hover{border-color:#66cc66}
.channelAnalysis-tab{margin:0 10px 10px;height:41px;border-bottom:1px solid #e0e0e0;}
.channelAnalysis-tab a{display:inline-block;height:40px;width:136px;border:1px solid #e0e0e0;text-align:center;font:12px/40px "microsoft yahei";color:#333;margin-right:7px;vertical-align: top}
.channelAnalysis-tab a:first-child{margin-left:14px;}
.channelAnalysis-tab a.on{border-top:2px solid #ff814c;height:39px;line-height:39px;border-bottom-color:#fff;}
#views-canvas{width:908px;height:300px;margin:0 auto;}
#activity-canvas{width:734px;height:300px;margin:0 auto;}
#period-canvas{width:1100px;height:300px;margin:0 auto;}
#activity, #period{display:none;}
.channelAnalysis-chats p{width:100%;height:30px;text-align:center;font:14px/30px "microsoft yahei";color:#666;}
.channelAnalysis-chats p span:first-child{display:inline-block;width:14px;height:14px;background:#4e96f8;margin-right:12px;vertical-align: middle}
/* bus Analysis */
#busAnalysis1,#busAnalysis3,#busAnalysis4{height:360px;margin:0 20px;}
#busAnalysis2,#busAnalysis3,#busAnalysis4{display: none;}
.multiple-table{width:auto;margin-left:10px;color:#333;margin-bottom:20px;margin-right:10px;overflow-y:hidden;font-size:0;}
.multiple-table-wrap{position:relative;margin:0 auto;}
#busAnalysis2 label{font:12px/48px "microsoft yahei";color:#333;margin-left:10px;display:block;text-align: center;}
#busAnalysis2 label input{vertical-align: middle;margin-top:-2px;marign-right:14px;}
.multiple-table-title{display:inline-block;width:172px;height:auto;vertical-align: top;border:1px solid #dcdcdc;background:#fff;border-left:0}
.multiple-table-title li,.multiple-class-title li{border-bottom:1px solid #dcdcdc;height:30px;box-sizing: border-box;padding:0 10px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;line-height:30px;font-size:12px;}
.multiple-table-title li:last-child,.multiple-class-title li:last-child{border-bottom:0;}
.multiple-table-title li.multiple-table-top-title,.multiple-class-title li.multiple-table-top-title{width:172px;height:80.5px;background-color: #f3f3f3;}
.multiple-table-top-nameX{display: block;width: 120px;height: 20px;font: bold 12px/20px 'microsoft yahei';color: #666;position: absolute;left: 135px;top: 17px;}
.multiple-table-top-nameY{display: block;width: 120px;height: 20px;font: bold 12px/20px 'microsoft yahei';color: #666;position: absolute;top: 46px;left: -2px;}
.multiple-table-title-hr{display: block;width: 284.5px;height: 1px;transform: rotate(16.1deg);margin: 0px;padding: 0px;position: absolute; top: 40px;left: -4px;border: none; border-top: 1px solid #dcdcdc;}
.isfunds-multiple-table-top-nameX{left: 105px;}
.isfunds-multiple-table-top-nameY{left:inherit;}
.isfunds-multiple-table-title-hr{width: 190.5px;transform: rotate(24.5deg); left: -8px;}
.multiple-table-title-light-color{background-color:#f8f8f8;}
.multiple-table-title-deep-color{background-color:#f3f3f3;}
.multiple-tables{display:inline-block;width:312px;height:auto;vertical-align: top;border:1px solid #dcdcdc;border-left:0;}
.multiple-tables-title{width:312px;height:80.5px;box-sizing: border-box;white-space: nowrap;overflow:hidden;border-bottom:1px solid #dcdcdc}
.multiple-tables-title h2{width:100%;height:40px;line-height:40px;text-align:center;font-size:12px;box-sizing: border-box;border-bottom:1px solid #dcdcdc;background:#f3f3f3;}
.multiple-tables-title p{display:inline-block;width:25%;height:40.5px;line-height:40.5px;box-sizing: border-box;border-right:1px solid #dcdcdc;text-align:center;vertical-align: top;font-size:12px;}
.multiple-tables-title p:last-child{border-right:0;}
.multiple-tables ul{display:inline-block;width:25%;}
.multiple-tables ul li{width:100%;height:30px;text-align:center;border-bottom:1px solid #dcdcdc;line-height:30px;font-size:12px;box-sizing: border-box;border-right:1px solid #dcdcdc}
.multiple-tables ul li:last-child{border-bottom:0;}
.multiple-tables ul:last-child li{border-right:0;}
.null-filter{height:30px;line-height:30px;color:#666;font-size:14px;padding:20px 0;text-align:center;}
.multiple-class-title{display:inline-block;width:100px;height:auto;vertical-align: top;border:1px solid #dcdcdc;background:#fff;}
.multiple-class-title li{text-align:center;}
.multiple-table-title.multiple-table-title-border{border-left:1px solid #dcdcdc;}
/* ue */
#channelUE-top-droplist-customerName{display:inline-block;vertical-align:top;width:220px;height:30px;margin-top:20px;}
#channelUE-top-droplist-customerName .hx-droplist:hover{border-color:#66cc66}
.time-bigger-width{width:180px;background-position:171px;}
.chenelUE-canvas-wrap{width:450px;height:auto;margin-left:10px;float:left;}
.classification{text-align: center;font-size:14px;}
.classification span{font-size:16px;font-weight: bold}
#channelUE-canvas,#channelUE-canvas-table{width:100%;height:280px;}
.channelUE-table{float:left;border:1px solid #e5e5e5;width:275px;height:145px;margin-top:140px;font-size:14px;color:#333;}
.channelUE-table tr td:last-child{font-size:30px;font-weight: 700;}
.channelUE-table-left,.channelUE-table-right{width:400px;height:300px;margin-left:10px;float:left;}
.channelUE-table-right{width:600px;height:auto;}
.channelUE-table-right.channelUE-table-satisty{width: 800px; margin: 0 auto; float: none;}
.channelUE-table-policy,.channelUE-table-service{display: none;}
#channelUE-fund-taken,#channelUE-fund-loan,#channelUE-service{width:100%;height:320px;margin-bottom:20px;}
.orgManage-title{font-size:14px;margin-left:10px;}
.channelUE-title{font-size:16px;font-weight: bold;margin-bottom:10px;}
.channelUE-title span{font-size:14px;font-weight: normal;margin-left:5px;}
.managerTable{width:961px;}
.hide{display: none;}
/*ue---eval*/
.orgManage-box,.eval-box,.netPoint-manager{width:1100px;display: none;}
.evalTitle {margin:0 auto;padding:20px 15px;}
.evalTitle a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.evalTitle a:hover {border-color:#eee;}
.evalTitle a.backBtn {background:url(../images/goback.jpg) 14px center no-repeat;}
.evalTitle span {font:14px/18px 'microsoft yahei';padding-left:10px;}
.evalTitle i {font:18px/18px "arial";color:#eee;padding-right:10px;}
.evalTablesWrap {padding:0 15px;}
.evalTablesWrap::after {content:'';display:block;width:0px;height:0px;clear:both;}
.evalTable {float:left;width:488px;float:left;margin-right:20px;}
.evalTable .mmg-head,.managerTable .mmg-head{border:1px solid #dddddf !important;}
.evalTable .mmg-body,.managerTable .mmg-body{border:1px solid #dddddf;border-top:none;margin-bottom:15px;}
.evalTable .mmg-head th,.managerTable .mmg-head th{border-right: 1px solid #dddddf !important;}
.evalTable .mmg-body td,.managerTable .mmg-body td{border-right: 1px solid #dddddf !important;border-bottom: 1px solid #dddddf;!important;}
.evalTable .mmg-body td:last-child,.managerTable .mmg-body td:last-child,.evalTable .mmg-head th:last-child,.managerTable .mmg-head th:last-child{border-right: 1px solid transparent !important;}
.evalTable .mmg-body tr:last-child td,.managerTable .mmg-body tr:last-child td{border-bottom:none !important;}
.evalTable .mmg-body img{vertical-align: top;}
.evalTable h2 {font:bold 16px/50px 'microsoft yahei';color:#333;}
.evalNo {width:78px;}
.evalUid,.evalName {width:90px;}
.evalStars {width:118px;text-align:center;}
.evalPercent {width:86px;}
/* user analysis */
#growth{margin:0 10px;height:auto;}
.growth-btns{height:33px;padding-top:14px;padding-left:102px;font-size:0;}
.growth-btns a{display:inline-block;width:98px;height:31px;text-indent:28px;border:1px solid #66cc66;font:12px/31px "microsoft yahei";color:#666;background:url(../images/user_search1.jpg) 9px center no-repeat #fff;margin-right:7px;}
.growth-btns a.on{background:url(../images/user_search2.jpg) 9px center no-repeat #66cc66;color:#fff;}
#growth-canvas{margin:0 10px;height:360px;}
.growth-table-box{margin:0 10px 50px;}
#gender{width:1100px;margin:20px auto;height:360px;display:none;}
#age{margin:20px;height:360px;display:none;}
.deep-gray-bg{background:#e5e5e5;font-weight: bold;}
/* 业务量统计表 & 各渠道业务量统计表 */
.box3 {width: 800px; height: auto; overflow: hidden; margin: 20px auto 0;}
.box3-left-title { float: left; width: 300px; height: 240px; border: 1px solid #dcdcdc;box-sizing: border-box;background: #f3f3f3;}
.box3-left-title li {width: 200px; height: 40px; line-height: 40px; font-size: 12px; font-weight: bold; text-align: center; border-bottom: 1px solid #dcdcdc; float: left; box-sizing: border-box; color: #666;}
.box3-left-title li:first-child { width: 98px; padding: 94px 10px; height: 240px; border-right: 1px solid #dcdcdc; border-bottom:0; line-height: 24px;}
.box3-left-title li:last-child {border-bottom: 0;}
.box3-list {float:left;width:110px;box-sizing: border-box;border-right: 1px solid #dcdcdc;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; height: 240px;}
.box3 ul:last-child {width: 170px;}
.box3-list li { width: 100%; box-sizing: border-box; text-align: right; padding:0 10px; overflow: hidden; height: 40px;border-bottom: 1px solid #dcdcdc; color: #666; font-size: 12px; line-height: 40px;}
.box3-list li:first-child { font-weight: bold;background: #f3f3f3; text-align: center;}
.box3-list li:last-child {text-align: center;}
.box3-count { width: 800px; height: 80px; box-sizing: border-box; margin:0 auto 20px;}
.box3-count-title { float:left; width: 300px;background: #f3f3f3; text-align: center; height: 80px; font-size: 12px; font-weight: bold; color: #666; line-height: 80px;border: 1px solid #dcdcdc;border-top: 0; box-sizing: border-box; }
.box3-count ul{float:left; width: 500px; height: 80px;}
.box3-count ul li {float:left; width:110px; height: 80px;overflow: hidden;}
.box3-count ul li h3 {font-size: 12px; height: 40px; line-height: 40px;background: #f3f3f3; color: #666; text-align: right;padding: 0 10px; box-sizing: border-box;border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; }
.box3-count ul li h3:first-child{text-align: center;}
.box3-count ul li h3:nth-child(2n) { font-weight: normal;background: #fff;}
.box3-count ul li:nth-child(4), .box3-count ul li:nth-child(5){width:85px;}
.added,.channelAnalysis-top select.added{display: none;}
.channelAnalysis-top select {height: 30px;}
.channelAnalysis-top select.added{margin-top: 20px;}
.box3-download{ width: 800px; margin: 10px auto;overflow:hidden;}
.box4-download{ width: 1060px; margin: 10px auto;overflow:hidden;}
.box3-download a,.box4-download a{display: block; float:right; width: 90px; height:30px; color: #fff; line-height: 30px; text-align: center;background: #66cc66; font-size: 13px;}
.box4 { width: 1060px; height: 600px; overflow: scroll; margin: 20px auto 0;}
.box4-container{width: 1180px; height: auto; overflow: hidden; position: relative;}
.box4-left{ float:left; width: 154px; height: auto; overflow: hidden; box-sizing: border-box; border:1px solid #dcdcdc; background: #f3f3f3;color: #333;/* position: absolute; left: 0; top: 0;*/}
/*    .box4-left-placeholder{float:left; width: 154px; height: 1022px;}*/
.box4-left h3.box4-left-title{width:100%;height:60px;line-height:60px;text-align: center; font-size:12px;border-bottom: 1px solid #dcdcdc;box-sizing: border-box;}
.box4-left h3{width:100%;height:30px;line-height:30px;text-align: center; font-size:12px;}
.box4-left dl{width: 100%;height:auto;overflow:hidden;}
.box4-left dl dt{float:left;width:38px; font-size: 12px; font-weight: bold; color: #333; border-bottom: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;box-sizing: border-box; overflow: hidden;text-align: center;display: table-cell;}
.box4-left dl dd {float:left;width: 114px; text-indent:5px; line-height: 30px; height: 30px; font-size: 12px; color: #333;border-bottom: 1px solid #dcdcdc;box-sizing: border-box; overflow: hidden;}
.box4-right{float:left;width:1026px;height: auto; overflow: hidden;box-sizing: border-box; border-top: 1px solid #dcdcdc}
.box4-right-title{overflow:hidden;background: #f3f3f3;/*position: absolute; left: 154px;top:0;*/}
/*    .box4-right-title-placeholder{width:1026px;height: 60px;}*/
.box4-right-title li{width: 114px;height:60px;float:left;text-align: center;}
.box4-right-title li p{font-size:12px; font-weight: bold; box-sizing: border-box;height: 30px;border-bottom: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;}
.box4-right-title li span{display: block; float:left; width:54px; height: 30px; line-height: 30px; font-size: 12px; box-sizing: border-box;border-bottom: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;}
.box4-right-title li span:nth-child(2){width:60px;}
.box4-right dl{float:left; width:100%;height: 30px;overflow: hidden;}
.box4-right dl dd:nth-child(2n){width:54px;text-align: center;}
.box4-right dl dd{width:60px;height:30px;box-sizing: border-box; border-bottom: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc; font-size: 12px; padding:0 5px; line-height:30px;float:left;text-align:right;}
.box4-left-title-count{background:#e5e5e5;text-align:center;font-weight: bold}