.orgManage-box{padding-left:10px;}
/* orgManage-table-btns */
.orgManage-table-btns{width:100%;height:auto;margin:0 auto;}
.orgManage-table-btns a,.orgManage-popup-info-btns a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.orgManage-table-btns a:hover,.orgManage-popup-info-btns a:hover{border-color:#eee;}
.orgManage-table-btns a#orgManage-btn-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-active{background:url(../images/active.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-info{background:url(../images/info.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveUp{background:url(../images/move_up.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveDown{background:url(../images/move_down.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-save{background:url(../images/save_icon.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-goBack{background:url(../images/goback.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-modify {background:url(../images/eidt.jpg) 12px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-mapinfo {background:url(../images/ico_map.png) 12px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-import {background:url(../images/ico_import.png) 12px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-download {background:url(../images/ico_download.png) 12px center no-repeat;}


/* popup edit&create */
.orgManage-popup-hidden{display:none;overflow:hidden;width:0;height:0;}
.orgManage-popup-edit-container{width:100%;height:100%;}
.orgManage-popup-bg{width:100%;height:100%;position:fixed;top:0;left:0;background:#000;filter:alpha(opacity=50);opacity: 0.5;z-index:99;}
.orgManage-popup-edit{width:754px;height:auto;position:fixed;top:40px;left:0;bottom:0;right:0;margin:auto;z-index:100}
.orgManage-popup-relative{width:754px;position:relative;background:#fff;}
.orgManage-popup-close{background:url(../images/dialog_close.png) -40px 0 no-repeat;width:26px;height:26px;cursor: pointer;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-ms-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
.orgManage-popup-close:hover{background-position: 0 0;}
.orgManage-popup-edit-close,.orgManage-popup-info-close{position:absolute;right:-13px;top:-13px;}
.orgManage-popup-edit-title,.orgManage-popup-info-title{width:100%;text-align:center;height:54px;margin-top:13px;font:18px/54px "microsoft yahei";color:#666;}
.orgManage-popup-edit-title span,.orgManage-popup-info-title span{display:inline-block;border-bottom:2px solid #66cc66;padding:0 18px;}
.orgManage-popup-shortInput{width:188px;height:28px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;font-size:13px;color:#666}
.orgManage-popup-longInput{width:482px;height:28px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;color:#666}
.orgManage-popup-textarea{width:482px;height:48px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;resize: none;color:#666}
.orgManage-popup-from{margin: 34px auto 0;overflow:hidden;width:592px;}
.orgManage-popup-from li {width:100%;height:auto;overflow:hidden;padding-bottom:10px;}
.orgManage-popup-text{float:left;width:72px;padding-right:10px;text-align:right;font:14px/34px "microsoft yahei";color:#666;}
.red-required{float:left;display:block;height:40px;width:12px;font:14px/36px "microsoft yahei";color:#ff0000;text-align:right;overflow:hidden;}
.orgManage-popup-btns{width:100%;text-align:center;font-size:0;padding:24px 0 33px;}
.orgManage-popup-btns p{cursor: pointer;width:92px;height:33px;text-align:center;display:inline-block;color:#fff;font:13px/33px "microsoft yahei";}
.orgManage-popup-btns p.orgManage-popup-btns-ok{background:#66cc66;margin-right:6px;}
.orgManage-popup-btns p.orgManage-popup-btns-cancel{background:#ccc}
/* orgManage-table-btns */
.orgManage-table-btns{width:100%;height:58px;margin:0 auto;}
.orgManage-table-btns a,.orgManage-popup-info-btns a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.orgManage-table-btns a:hover,.orgManage-popup-info-btns a:hover{border-color:#eee;}
.orgManage-table-btns a#orgManage-btn-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-active{background:url(../images/active.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-info{background:url(../images/info.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveUp{background:url(../images/move_up.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveDown{background:url(../images/move_down.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-save{background:url(../images/save_icon.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-goBack{background:url(../images/goback.jpg) 14px center no-repeat;}
/* popup regional info */
.regional{width:100%;height:100%;}
.orgManage-popup-info{width:754px;height:auto;position:fixed;top:40px;left:0;bottom:0;right:0;margin:auto;z-index:100}
.orgManage-popup-info-btns{padding:15px 5px 0;}
#orgManage-popup-info-container{width:1100px;height:auto;margin:20px auto;}
.orgManage-popup-info-container{width:1100px;height:auto;margin:20px auto;display:none;}
.orgManage-popup-info-container .mmGrid{margin-top:20px;}
.info-area-code{width:70px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-area-name{width:190px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-save-link,.info-create-link{color:#66cc66;}
.info-save-link{display:none;}
.info-area-code.show,.info-area-name.show{display:inline-block;}


.channelStateBtns {padding:15px;height:auto;}
.jtree {width:238px;height:600px;border-left:solid 1px #ddd;border-right:solid 1px #ddd;background:#f4f5f9;float:left;}
.jtree a {display:block;width:238px;border-right:none;background:url(../images/ico_minus1.png) 30px center no-repeat;display:block;height:40px;border-bottom:solid 1px #eee;text-indent:53px;color:#333;font:13px/40px "microsoft yahei";position:relative;top:0;left:0;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.jtree a.on {background:url(../images/ico_minus1.png) #fff 30px center no-repeat;border-right:solid 1px #fff;}
.contentRight {width:873px;height:auto;float:left;margin-left:10px;}

.userStat {height:66px;padding:20px 0;}
.userStat::after {content:'';display:block;width:0px;height:0px;clear:both;}
.userStatItem {float:left;padding-left:52px;width:105px;margin-left:22px;margin-top:12px;}
.userStatItem p {font:20px/20px tahoma,arial;color:#66cc66;text-indent:0px;text-align:left;}
.userStatItem span {font:14px/14px "microsoft yahei";color:#666;padding-top:9px;display:block;}
.userStatbg1 {background:url(../images/ico_flow_05.png) left center no-repeat;}
.userStatbg2 {background:url(../images/ico_flow_03.png) left center no-repeat;}
.userStat i {font:normal normal 18px/66px "microsoft yahei";color:#333;float:left;display:block;padding-left:20px;border-left:solid 1px #ddd;margin-left:12px;padding-right:20px;}
.userStatbg3 {background:url(../images/ico_flow_6.png) left center no-repeat;}
.userStatbg4 {background:url(../images/ico_flow_04.png) left center no-repeat;}
.statTitle {height:44px;border:solid 1px #ddd;background:#f4f5f9;font:14px/44px "microsoft yahei";color:#333;text-indent:28px;margin-top:10px;display:none;}
.statCont {min-height:150px;padding:10px;border:solid 1px #ddd;border-top:none;display:none;}
.statCont-query{padding:20px;}
.statCont-query p{display:inline-block;font:14px/30px "microsoft yahei";color:#666;padding:0 10px;text-indent:0;}
.statCont-query input{display:inline-block;width:200px;height:30px;border:1px solid #eee;background:url(../images/date.jpg) 180px center no-repeat #fff;font:14px/30px "microsoft yahei";}
.statCont-query a{display:inline-block;width:92px;height:30px;text-align:center;font:14px/30px "microsoft yahei";color:#fff;background:#44b549;margin-left:10px;}





