input[type=number] {-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
.searchYear {padding:20px 25px;background:#f4f5f9;border:solid 1px #ddd;font:14px/28px 'microsoft yahei';color:#666;margin:10px;}
.searchYear::after {content:'';display:block;width:0px;height:0px;clear:both;}
.searchYear span {float:left;display:inline;margin-right:20px;}
.searchYear strong {float:left;width:30px;height:30px;text-align:center;font:700 20px/30px 'simsun';color:#999;display:block;background:#fff;cursor: pointer;}
.minus {border:solid 1px #ddd;border-right:none;}
.plus {border:solid 1px #ddd;border-left:none;}
.yearNumber {width:140px;height:30px;border:none;background:#fff;text-align:center;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;font:14px/30px 'microsoft yahei';color:#666;float:left;}
.yearNumber:focus {outline:none;}
.datebox {border:solid 1px #ddd;margin:10px;}
.datebox::after {content:'';display:block;width:0px;height:0px;clear:both;}
.calendar {width:300px;height:auto;float:left;}
.marks {float:left;width:500px;}
.marks ul {}
.marks ul li {}
.marks ul li::after {content:'';width:0px;height:0px;display:block;clear:both;}
.marks ul li p {float:left;display:inline-block;font:14px/36px 'microsoft yahei';color:#666;width:105px;padding-right:10px;text-align:right;}
/* last */
#fullCalendar{border:0;border-right:1px solid #eee;}
#date-query-btn{width:100px;height:30px;text-align:center;font:14px/28px "microsoft yahei";color:#fff;display:inline-block;background:#66cc66;margin-left:20px;}
.date-right{float:left;width:400px;height:auto;padding-left:20px;padding-top:40px;display:none;}
.date-right li{width:100%;height:auto;overflow:hidden;padding-bottom:10px;}
.date-right li p{float:left;width:100px;text-align:right;padding-right:16px;font:14px/30px "microsoft yahei";color:#333;min-height:30px;}
.date-right li label{float:left;font:14px/30px "microsoft yahei";color:#333;margin-right:10px;}
.date-right li input{vertical-align: middle;margin-top:-2px;}
.date-right li input#date{float:left;width:130px;height:28px;border:1px solid #eee;padding:0 5px;margin-top:0;background:#fff;}
#remarks{width:200px;height:100px;resize:none;border:1px solid #eee;padding:5px;}
#save{display:inline-block;width:100px;height:30px;text-align:center;font:14px/30px "microsoft yahei";color:#fff;background:#66cc66;}
.calendar table td font:last-child{max-width:30px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}