/* CSS Reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea{ margin:0; padding:0; }
body,button,input,select,textarea{ font-family: Lucida Grande,'Microsoft YaHei',"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif }
ul,ol,li{ list-style:none }
a{ text-decoration:none }
img{ border:0 }
table{ border-collapse:collapse;border-spacing:0 }
template{display:none;}
/* common placeholder */
.alpha-placeholder-bg{position:fixed;width:100%;height:100%;top:0;left:0;background:#000;filter:alpha(opacity = 0);opacity: 0;z-index:9998;cursor: default;}
/*body::-webkit-scrollbar-thumb{height:50px;outline-offset:-2px;outline:2px solid #44b549;-webkit-border-radius:3px;border: 4px solid #44b549;} !*---鼠标点击滚动条显示样式--*!*/
/*body::-webkit-scrollbar-thumb:hover{height:50px;-webkit-border-radius:4px;-webkit-border-radius:3px;}!*---滚动条大小--*!*/
/*body::-webkit-scrollbar{width:8px;height:8px;} !*---纵向滚动条的宽度，横向滚动条的高度6px--*!*/
/*body::-webkit-scrollbar-track-piece{-webkit-border-radius:2px;}*/
/*body::-webkit-scrollbar-track {background-color: #fff; }*/