.orgManage-box{width:1100px;margin:20px auto;}
.orgManage-table-links,.orgManage-table-links a{color:#666}
.orgManage-table-links a.red-link{color:red;}
.orgManage-table-links span{margin:0 4px;}
/* popup edit&create */
.orgManage-popup-hidden{display:none;overflow:hidden;width:0;height:0;}
.orgManage-popup-edit-container{width:100%;height:100%;}
.orgManage-popup-bg{width:100%;height:100%;position:fixed;top:0;left:0;background:#000;filter:alpha(opacity=50);opacity: 0.5;z-index:99;}
.orgManage-popup-edit{width:754px;height:auto;position:fixed;top:40px;left:0;bottom:0;right:0;margin:auto;z-index:100}
.orgManage-popup-relative{width:754px;position:relative;background:#fff;}
.orgManage-popup-close{background:url(../images/dialog_close.png) -40px 0 no-repeat;width:26px;height:26px;cursor: pointer;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-ms-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;}
.orgManage-popup-close:hover{background-position: 0 0;}
.orgManage-popup-edit-close,.orgManage-popup-info-close{position:absolute;right:-13px;top:-13px;}
.orgManage-popup-edit-title,.orgManage-popup-info-title{width:100%;text-align:center;height:54px;margin-top:13px;font:18px/54px "microsoft yahei";color:#666;}
.orgManage-popup-edit-title span,.orgManage-popup-info-title span{display:inline-block;border-bottom:2px solid #66cc66;padding:0 18px;}
.orgManage-popup-shortInput{width:168px;height:28px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;font-size:13px;color:#666}
.orgManage-popup-longInput{width:462px;height:28px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;color:#666}
#orgManageCenterLevel{width:474px;height:38px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;color:#666;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;}
#orgManageCenterLevel::-ms-expand{display: none;}
.orgManage-popup-textarea{width:462px;height:48px;border:1px solid #dadbdd;padding:5px;border-radius:2px;float:left;resize: none;color:#666}
.orgManage-popup-from{margin: 34px auto 0;overflow:hidden;width:592px;}
.orgManage-popup-from li{width:100%;height:auto;overflow:hidden;padding-bottom:8px;}
.orgManage-popup-text{float:left;width:92px;padding-right:10px;text-align:right;font:14px/40px "microsoft yahei";color:#666;white-space: nowrap;}
.red-required{float:left;display:block;height:40px;width:12px;font:14px/42px "microsoft yahei";color:#ff0000;text-align:right;overflow:hidden;}
.orgManage-popup-btns{width:100%;text-align:center;font-size:0;padding:24px 0 33px;}
.orgManage-popup-btns p{cursor: pointer;width:92px;height:33px;text-align:center;display:inline-block;color:#fff;font:13px/33px "microsoft yahei";}
.orgManage-popup-btns p.orgManage-popup-btns-ok{background:#66cc66;margin-right:6px;}
.orgManage-popup-btns p.orgManage-popup-btns-cancel{background:#ccc}
/* orgManage-table-btns */
.orgManage-table-btns{width:100%;height:58px;margin:0 auto;}
.orgManage-table-btns a,.orgManage-popup-info-btns a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.orgManage-table-btns a:hover,.orgManage-popup-info-btns a:hover{border-color:#eee;}
.orgManage-table-btns a#orgManage-btn-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-active{background:url(../images/active.jpg) 14px center no-repeat;}
.orgManage-table-btns a#orgManage-btn-info{background:url(../images/info.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-add{background:url(../images/add.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-del{background:url(../images/del.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveUp{background:url(../images/move_up.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-moveDown{background:url(../images/move_down.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-save{background:url(../images/save_icon.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-goBack{background:url(../images/goback.jpg) 14px center no-repeat;}
.orgManage-popup-edit-top{top:12px;}
/* popup regional info */
.regional{width:100%;height:100%;}
.orgManage-popup-info{width:754px;height:auto;position:fixed;top:40px;left:0;bottom:0;right:0;margin:auto;z-index:100}
.orgManage-popup-info-btns{padding:15px 5px 0;}
#orgManage-popup-info-container{width:1100px;height:auto;margin:20px auto;}
.orgManage-popup-info-container{width:1100px;height:auto;margin:20px auto;display:none;}
.orgManage-popup-info-container .mmGrid{margin-top:20px;}
.info-area-code{width:70px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-area-name{width:190px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-save-link,.info-create-link{color:#66cc66;}
.info-save-link{display:none;}
.info-area-code.show,.info-area-name.show{display:inline-block;}
.orgNameReshow {width:680px;height:50px;margin:20px auto;font:14px/50px "microsoft yahei";color:#333;text-align:center;border:solid 1px #ddd;background:#F4F5F9;display:block;}


/*xingmc*/
.selectBank {width:60px;height:36px;font:14px/36px "microsoft yahei";color:#fff;background:#ddd;color:#333;text-align:center;float:left;margin-left:10px;display:inline-block;border-radius:2px;}
/*列表操作*/
.selectBankWrap {width:724px;height:338px;margin:0 auto;padding:25px 0 ;position:relative;}
.selectLeft {width:318px;height:336px;float:left;border:solid 1px #ddd;}
.selectCommonTitle {font:14px/48px "microsoft yahei";display:block;height:48px;text-indent:20px;border-bottom:solid 1px #ddd;color:#999;}
.selectCommonTitle input {font-size:14px;font-family:"microsoft yahei";border:none;background:none;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow: 0; -webkit-appearance:none;height:48px;line-height:48px;display:block;margin-left:20px;width:260px;}
.toSelect1 {}
.toSelect1 span {display:block;height:36px;text-indent:20px;font:14px/36px "microsoft yahei";color:#333;cursor:pointer;}
.selectOption {width:85px;height:auto;position:absolute;left:320px;top:130px;}
.selectOption #moveToRight {font:14px/30px "microsoft yahei";color:#333;display:inline-block;width:84px;text-indent:40px;background:url(../images/ico_right.png) 12px center no-repeat;}
.selectOption #moveToLeft {font:14px/30px "microsoft yahei";color:#333;display:inline-block;width:84px;text-indent:40px;background:url(../images/ico_left.png) 14px center no-repeat;margin-top:5px;}
.selectRight {width:318px;height:336px;float:right;border:solid 1px #ddd;}
.bgGray {background:#f4f5f9;}
.toSelect1 {height:268px;padding:10px 0;}
.toSelect1 span.onSelect {color:#fff;background:#ccc;}
.toSelect1 select {border:none;background:#fff;display:block;width:100%;font:14px/36px "microsoft yahei";color:#333;height:267px;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow: 0; -webkit-appearance:none;padding:0px 0;}
.toSelect1 option {display:block;font:14px/20px "microsoft yahei";color:#333;height:20px;padding:8px 0 8px 10px;}
.toSelect1 option:focus {background:#ddd;}
.toSelect1 select::-webkit-scrollbar-thumb{height:50px;outline-offset:-2px;outline:2px solid #fff;-webkit-border-radius:4px;border: 2px solid #fff;} /*---鼠标点击滚动条显示样式--*/
.toSelect1 select::-webkit-scrollbar-thumb:hover{height:50px;-webkit-border-radius:4px;}/*---滚动条大小--*/
.toSelect1 select::-webkit-scrollbar{width:0px;height:8px;} /*---滚动框背景样式--*/
.toSelect1 select::-webkit-scrollbar-track-piece{-webkit-border-radius:0;} 
.toSelect1 select::-webkit-scrollbar-track {background-color: #fff; }

/*地图*/
.mapTItle {width:700px;height:30px;padding:12px;font:14px/30px "microsoft yahei";color:#333;border:solid 1px #ddd;background:#F4F5F9;margin:0 auto;}
.mapCity {width:96px;height:28px;border:solid 1px #ddd;background:#fff;font:14px/28px "microsoft yahei";color:#666;padding:0 7px;float:left;}
.mapFullAddr {width:206px;height:28px;border:solid 1px #ddd;background:#fff;font:14px/28px "microsoft yahei";color:#666;padding:0 7px;float:left;margin-left:10px;}
.mapPosition {float:left;margin-left:10px;font:14px/34px "microsoft yahei";background:url(../images/ico_location.png) #66cc66 11px center no-repeat;padding:0 15px 0 30px;display:block;color:#fff;position:relative;top:-2px;}
.mapPictext {float:left;display:inline-block;padding-left:12px;padding-right:12px;height:34px;position:relative;top:-2px;line-height:34px;}
.mapViews {float:left;display:inline-block;background:#ddd;color:#333;padding:0 10px;}
.mapViewBigimg {float:right;display:inline-block;margin-right:10px;}
.mapWrap {width:726px;height:333px;margin:0 auto;padding-bottom:6px;}
.hei12 {height:12px;clear:both;}
.import {text-align:center;}
.import h3 {font:normal normal 16px/16px "microsoft yahei";color:#333;text-align:center;display:block;padding:40px 0;}
.importFile {font:14px/30px "microsoft yahei";padding-bottom:44px;position:relative;width:100%;height:30px;}
.importChooseFileBtn {font:14px/30px "microsoft yahei";color:#333;background:#ddd;display:inline-block;padding:0 15px;margin-left:5px;margin-right:10px;}
.importFile input {width:160px;height:30px;position:absolute;left:50%;margin-left:-80px;display:block;top:0;z-index:2;opacity:0;}


/*xingmc*/
.channelShortForm {width:485px;}
.channelShortForm input[type="text"], .channelShortForm input[type="number"] {width:320px;padding:3px 5px;-moz-appearance:textfield;}
.channelShortSelect {width:332px;padding:8px 5px;background:#fff;border:solid 1px #ddd;display:inline-block;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow:0px;float:left;color:#666;border-radius:2px;}

.textWrap {width:332px;float:left;position:relative;}
.textWrap a {position:absolute;width:140px;height:34px;text-align:center;background:#66CC66;color:#fff;display:block;top:1px;right:1px;font:12px/34px "microsoft yahei";}
.getKey {width:332px;float:left;position:relative;}
.getKey a {position:absolute;width:73px;height:34px;text-align:center;background:#66CC66;color:#fff;display:block;top:1px;right:1px;font:14px/34px "microsoft yahei";}
.serviceSearchWrap {width:700px;margin:0 auto;padding-top:15px;}
.serviceSearchWrap li {border-bottom:solid 1px #ddd;clear:both;text-align:center;}
.serviceSearchWrap li::after {content:'';display:block;clear:both;width:0px;height:0px;}
.serviceSearchWrap li p {width:66px;height:40px;font:14px/40px "microsoft yahei";color:#666;text-align:center;float:left;display:inline-block;}
.serviceSearchWrap li h2 {float:left;display:inline-block;width:400px;font:normal normal 14px/40px "microsoft yahei";color:#666;}
.serviceSearchWrap li span {float:right;display:inline-block;width:230px;font:14px/40px "microsoft yahei";color:#666;}
.serviceSearchWrap li.serviceSearchTitle {background:#F4F5F9;color;#333;border:solid 1px #ddd;}
.dialogPages {width:700px;margin:0 auto;padding:15px 0;min-height:40px;}

#orgManage-table-pages2 .hx-pages .hx-droplist-placeholder {font-size:13px;color:#999;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;border:solid 1px #ddd;}
#orgManage-table-pages2 .hx-pages .hx-droplist {width:60px;height:22px;border-radius:2px;margin-top:4px;float:left;margin-right:16px;}
#orgManage-table-pages2 .hx-pages .hx-droplist-placeholder {width:40px;line-height:22px;padding-right:20px;height:22px;background:url(../images/pages_icon.jpg) 40px center no-repeat;text-indent:4px;}
#orgManage-table-pages2 .hx-pages .hx-droplist-ul{max-height: 104px;top:auto;bottom:23px;}
#orgManage-table-pages2 .hx-pages .hx-droplist-ul li{padding:0 4px;}
#orgManage-table-pages2 .hx-pages .hx-droplist:hover{cursor: pointer;border-color:#44b549}
#orgManage-table-pages2 .hx-pages .hx-droplist:focus{cursor: pointer;border-color:#44b549}

#orgManage-table-pages2 .hx-pages-links{float:left;font:12px/30px "microsoft yahei";color:#666;}
#orgManage-table-pages2 .hx-pages-links a,.hx-pages-links span{float:left;display:block;padding:0 4px;min-width:10px;height:30px;text-align:center;color:#666;}
#orgManage-table-pages2 .hx-pages-links a.on{color:#44b549}
#orgManage-table-pages2 .hx-pages-first{background:url(../images/prev_est_icon.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-first.disabled{background:url(../images/prev_est_icon_disable.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-prev{background:url(../images/prev_icon.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-prev.disabled{background:url(../images/prev_icon_disable.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-next{background:url(../images/next_icon.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-next.disabled{background:url(../images/next_icon_disable.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-last{background:url(../images/next_est_icon.png) center center no-repeat;}
#orgManage-table-pages2 .hx-pages-last.disabled{background:url(../images/next_est_icon_disable.png) center center no-repeat;}
#app-add-releasedate {background: url(../images/date.jpg) 310px center no-repeat #fff;}
#orgManage-table-pages2 .hx-pages-left{float:left;width:450px;height:30px;}
#orgManage-table-pages2 .hx-pages-count{float:right;height:30px;overflow:hidden;font:12px/30px "microsoft yahei";color:#666}
.chear{clear:both;}
.channelViewBaseinfo {width:700px;height:auto;text-align:center;font:13px/20px "microsoft yahei";color:#333;text-align:center;padding-top:20px;}
.channelViewBaseinfo span {display:inline-block;padding:0 12px;}
.monitorThemeWrap {float:left;font:14px/28px "microsoft yahei";padding:6px 0;color:#666;display:inline-block;width:332px;}
.monitorThemeWrap input[type="checkbox"] {position:relative;top:2px;font:14px/28px "microsoft yahei";}

.nameTableWrap {width:460px;height:350px;margin:0 auto;overflow:auto;}
/* select */
.channelShortSelect,.wechat-baseQuery-popup-content select,.popup-relative select{border-radius:2px;color:#666;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;}
.radioWrap{font-size:14px;}
#orgManageCenterLevel::-ms-expand, .channelShortSelect::-ms-expand, .wechat-baseQuery-popup-content select::-ms-expand,.popup-relative select::-ms-expand{display: none;}