.channelSearch {margin:20px auto 0 10px;border:solid 1px #f4f5f9;background:#f4f5f9;padding: 25px;width: 94%;height:30px;font:14px/30px "microsoft yahei";color:#333;}
.channelSearch input {display:inline-block;width:220px;height:18px;font:14px/18px "microsoft yahei";color:#666;padding:5px 10px;border:solid 1px #ddd;background:#fff;margin:0 5px;}
.channelSearch a {display:inline-block;width:100px;height:30px;font:14px/30px "microsoft yahei";color:#fff;background:#66cc66;text-align:center;}
.channelSearch select {display:inline-block;font:14px/30px "microsoft yahei";color:#666;border:solid 1px #ddd;background:#fff;width:220px;padding:0px 20px 0 10px;outline-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; box-shadow: 0; margin-left:5px;background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;height:30px;}
.channelSearch select::-ms-expand{display: none;}
.orgManage-box{margin:10px 0 0 10px;width: 97%;border: 1px solid #ddd;}
/* orgManage-table-btns */
.orgManage-table-btns{width:100%;height:auto;margin:0 auto;}
.orgManage-table-btns a,.orgManage-popup-info-btns a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.orgManage-table-btns a:hover,.orgManage-popup-info-btns a:hover{border-color:#eee;}
.orgManage-popup-info-btns a#orgManage-info-goBack{background:url(../images/goback.jpg) 14px center no-repeat;}
.orgManage-popup-info-btns a#orgManage-info-save{background:url(../images/save_icon.jpg) 14px center no-repeat;}

/* popup edit&create */
.orgManage-popup-hidden{display:none;margin-left:10px;}
.orgManage-popup-edit-container{width:95%;height:100%;margin-left: 10px;}
.orgManage-popup-from{margin: 10px auto 0 0px;overflow:hidden;width:800px;background-color: #f4f5f9;}
.width_1080{width:1080px;position:relative;}
.template-demo-box{width:300px;}
.template-demo-box ul{border:1px solid #dadbdd;height:auto;overflow:hidden;background:#fff;padding-top:10px;padding-right:10px;}
.template-demo-box li{width:100%;padding-bottom:4px;overflow:hidden;font:14px/32px "microsoft yahei";color:#000;}
.template-demo-box li p{float:left;width:80px;padding-right:10px;text-indent:16px;text-decoration:underline;font:700 14px/32px "microsoft yahei";color:#000;white-space: nowrap;}
.template-demo-box li div{float:left;width:190px;height:auto;overflow:hidden;}
.template-demo-box li div span{color:#888}
#template-demo-not-break{display:none;}
.orgManage-popup-from li {width:100%;height:auto;overflow:hidden;padding-bottom:8px;}
.orgManage-popup-longInput{width:482px;height:28px;border:1px solid #dadbdd;padding:5px;border-radius:2px;color:#666}
.orgManage-popup-textarea{width:482px;height:48px;border:1px solid #dadbdd;padding:5px;border-radius:2px;color:#666;display:none}
.temlate-container{width:544px;height:auto;float:left;}
.template-title{display:block;width:482px;height:28px;padding:5px;margin-bottom:10px;border:1px solid #dadbdd}
.temlate-container li{width:100%;height:auto;overflow:hidden;padding-bottom:10px;position:relative;}
.template-li-del{position:absolute;right:10px;top:0;color:red;cursor: pointer;line-height:38px;display:none;}
.temlate-container li:hover span.template-li-del{display:block;}
.template-tips{color:#999;float:left;font-size:12px;margin-left:136px;}
.template-is-wrap{display:inline-block;line-height:38px;margin-right:10px;}
.template-is-wrap input{vertical-align: middle;margin-top:-3px;margin-right:4px;}
.template-left-title,.template-right-info{width:230px;height:28px;padding:5px;margin-right:10px;border:1px solid #dadbdd;float:left;}
.template-gray-input{background:#f0f0f9;color:#777}
.template-add-keywords{font:14px/1 "microsoft yahei";color:#66cc66;display:inline-block;margin-bottom:10px;}
.orgManage-popup-text{float:left;width:150px;padding-right:10px;text-align:right;font:14px/34px "microsoft yahei";color:#666;}
.orgManage-popup-span{float:left;width:350px;text-align:left;font:14px/34px "microsoft yahei";color:#666;margin-left: -20px;}
.red-required{float:left;display:block;height:40px;width:12px;font:14px/36px "microsoft yahei";color:#ff0000;text-align:right;overflow:hidden;}
#saveTem,#editTem,#save-demo-btn{margin-left: 160px;width: 180px;height: 40px;line-height:40px;display:inline-block;text-align:center;background:#66cc66;color: #fff;display: none;}
#save-demo-btn{display:inline-block;margin-left:10px;width:140px;}
/* popup regional info */
.regional{width:100%;height:100%;}
.orgManage-popup-info{width:754px;height:auto;position:fixed;top:40px;left:0;bottom:0;right:0;margin:auto;z-index:100}
.orgManage-popup-info-btns{padding:15px 5px 0;}
.orgManage-popup-info-container{width:1100px;height:auto;margin:20px auto;}
.orgManage-popup-info-container .mmGrid{margin-top:20px;}
.info-area-code{width:70px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-area-name{width:190px;height:20px;border:1px solid #dadbdd;background:#f4f5f9;padding:2px 5px;font-size:12px;color:#333;display:none;}
.info-save-link,.info-create-link{color:#66cc66;}
.info-save-link{display:none;}
.info-area-code.show,.info-area-name.show{display:inline-block;}


.channelStateBtns {padding:15px 0;height:auto;}
.jtree {width:25%;height:400px;border-left:solid 1px #ddd;border-right:solid 1px #ddd;background:#f4f5f9;float:left;overflow: auto;}
.jtree .jtitle{height: 40px;line-height: 40px;}
.jtree a {display:block;width:100%;border-right:none;height:40px;border-bottom:solid 1px #eee;color:#333;font:13px/40px "microsoft yahei";position:relative;top:0;left:0;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
.jtree a.on {background:#fff;border-right:solid 1px #fff;}
.jtree span{display: inline-block;text-align: center;}
.jtree .pram1{width: 28%;}
.jtree .pram2{width: 72%;}

.contentRight {width:72%;float:left;margin-left:10px;}
.controlTitle {font:18px/18px "microsoft yahei";color:#333;background:url(../images/ico_greenside.jpg) left  repeat-y;padding-left:15px;margin:20px auto 15px 10px;}
.contentRight .title{font-weight: bold;}
.contentRight ul li{border-bottom: 1px solid #ddd;}
.contentRight ul li span{width: 25%;height: 80px;line-height: 80px;text-align: center;display: inline-block;vertical-align: top}
.contentRight .del{color: red;}
.color-green{color:#44b549}

#page1sub,#page2{display: none;}
.right-contentDemoBox,.right-contentBox,.template-demo-box li div.right-contentBox{width:190px;border:0;resize: none;font: 14px/32px "microsoft yahei";}
.hide-place-box{margin: 10px auto 0 0px;overflow:hidden;width:1080px;background-color: #f4f5f9;}
.hide-place-box ul.orgManage-popup-from{float:left;width:720px;}
.template-demo-box{float:left;margin-left:10px;margin-top:20px;margin-bottom:20px;}