.reservation-box{width:1100px;height:auto;overflow:hidden;margin:20px auto;}
/* reservation-table-btns */
.reservation-table-btns,.set-template-btns{width:100%;height:58px;margin:0 auto;}
.reservation-table-btns a,.set-template-btns a{display:inline-block;font:14px/28px "microsoft yahei";border:1px solid transparent;color:#666;border-radius:3px;padding:0 16px 0 36px;}
.reservation-table-btns a:hover,.set-template-btns a:hover{border-color:#eee;}
.reservation-table-btns a#reservation-btn-add,.reservation-table-btns a#reservation-time-btn-add{background:url(../images/add.jpg) 14px center no-repeat;}
.reservation-table-btns a#reservation-btn-edit,.reservation-table-btns a#reservation-time-btn-edit{background:url(../images/edit.jpg) 14px center no-repeat;}
.reservation-table-btns a#reservation-btn-del,.reservation-table-btns a#reservation-time-btn-del{background:url(../images/del.jpg) 14px center no-repeat;}
#reservation-table{width:1100px;margin:0 auto;}
/* reservation-popup */
.reservation-hidden{overflow:hidden;width:0;height:0;display:none;}
.reservation-popup-title{width:722px;height:48px;border:1px solid #eee;background:#f4f5f9;margin:25px auto 0;text-align:center;font:14px/48px "microsoft yahei";color:#666;}
.reservation-type-popup-content,.reservation-time-popup-content{width:722px;height:140px;margin:0 auto;overflow:hidden;}
.reservation-type-popup-content div,.reservation-time-popup-content div{margin-top:61px;}
.reservation-type-popup-content div.reservation-edit,.reservation-time-popup-content div.reservation-edit{margin-top:45px;}
.reservation-type-popup-content div p,.reservation-time-popup-content div p{display:inline-block;width:243px;height:30px;padding-right:9px;text-align:right;font-size:14px;color:#666;}
.reservation-type-popup-content div input,.reservation-time-popup-content div input{display:inline-block;width:286px;height:28px;margin-right:4px;text-align:left;border:1px solid #dadbdd;padding:0 5px;}
.reservation-time-popup-content div.reservation-edit{margin-top:51px;}
.reservation-time-popup-content div.reservation-popup-line{margin-top:1px;margin-bottom: 1px;}
.reservation-edit span{color:#999;font:12px/1 "microsoft yahei";}
/* set template */
#setTemplate{width:1100px;height:auto;overflow:hidden;margin:0 auto;display:none;}
.set-template-title{width:100%;text-align:center;height:54px;margin-top:13px;font:18px/54px "microsoft yahei";color:#666;}
.set-template-title span{display:inline-block;border-bottom:2px solid #66cc66;padding:0 18px;}
.set-template-btns a#setTemplate-info-add{background:url(../images/add.jpg) 14px center no-repeat;}
.set-template-btns a#setTemplate-info-del{background:url(../images/del.jpg) 14px center no-repeat;}
.set-template-btns a#setTemplate-info-moveUp{background:url(../images/move_up.jpg) 14px center no-repeat;}
.set-template-btns a#setTemplate-info-moveDown{background:url(../images/move_down.jpg) 14px center no-repeat;}
.set-template-btns a#setTemplate-info-save{background:url(../images/save_icon.jpg) 14px center no-repeat;}
.set-template-btns a#setTemplate-info-goBack{background:url(../images/goback.jpg) 14px center no-repeat;}
.setTemplate-table-links{font-size:12px;color:#666;}
.setTemplate-table-links span{margin:0 4px;}
.setTemplate-margin{margin-bottom:20px;}
/* note */
.note-box{width:1100px;height:auto;overflow:hidden;margin:20px auto;}
#note-table{margin-bottom:10px;}
.reservation-note-popup-content{width:722px;margin:38px auto 24px;}
.reservation-note-popup-content p{width:248px;padding-right:9px;text-align:right;display:inline-block;font:14px/38px "microsoft yahei";color:#666;vertical-align: top}
.reservation-note-popup-content div{width:416px;text-align:left;display:inline-block;font:14px/38px "microsoft yahei";color:#666;}
.reservation-note-popup-content div input{vertical-align: middle;margin-top:-2px;}
.reservation-note-popup-content div span{margin-right:14px;}
.reservation-note-popup-content textarea{width:288px;height:78px;border:1px solid #dadbdd;resize:none;border-radius:3px;padding:5px;}
/* net query */
.netQuery-top{width:1098px;height:98px;border:1px solid #eee;background:#f4f5f9;margin:20px auto 0;}
.netQuery-area{display:inline-block;height:45px;padding-right:30px;padding-left:30px;font:12px/45px "microsoft yahei";color:#666;vertical-align: top}
.netQuery-area .hx-droplist{width:178px;}
.netQuery-area .hx-droplist-placeholder{width:146px;background-position: 152px center;}
.netQuery-area:first-child{margin-top:10px;}
#netQuery-btn{width:92px;height:30px;text-align:center;font:13px/30px "microsoft yahei";color:#fff;display:inline-block;background:#66cc66;vertical-align: middle;margin-top:12px;margin-left:68px;}
#netQuery-netList,#netQuery-busList{display:inline-block;vertical-align: middle;margin-left:5px;}
.netQuery-table-box{width:calc(100% - 324px);height:auto;margin:0 auto 20px 12px;float:left;}
.netQuery-table-title,.busQuery-table-title{background:url(../images/title_bar.jpg) 0 center no-repeat;padding-left:14px;font:16px/64px "microsoft yahei";color:#666;}
.netQuery-month{background:url(../images/select_month.jpg) 0 0 no-repeat;width:178px;height:28px;border:1px solid #cecece;text-align:center;cursor: pointer;margin-top:-1px;display:inline-block;vertical-align: middle;margin-left:5px;}
#netQuery-month-sub{display:block;float:left;width:24px;height:28px;}
#netQuery-month-add{display:block;float:right;width:24px;height:28px;}
#netQuery-month{float:left;width:128px;border:0;background:none;text-align:center;height:28px;}
.netQuery-table-box{display:none;}
#netQuery-table{margin-bottom:10px;}
.netQuery-left{width:300px;margin-left:10px;height:100%;background:#f4f5f9;border-right:1px solid #eee;border-left:1px solid #eee;overflow:hidden;float:left;}
.calendar-box{width:302px;height:290px;margin-top:28px;}
/* bus query */
.busQuery-top{width:1012px;min-height:120px;border:1px solid #eee;background:#f4f5f9;padding:20px 44px 12px;font-size:0;margin:20px auto 0;}
.busQuery-top>p{display:inline-block;width:106px;padding-right:4px;height:30px;margin-bottom:10px;text-align:right;font:12px/30px "microsoft yahei";color:#666;vertical-align: top}
.busQuery-top-input{display:inline-block;width:130px;height:28px;padding:0 5px;border:1px solid #dadbdd;background:#fff;vertical-align: top}
.busQuery-top-input:hover{border-color:#44b549}
.busQuery-top-droplist{display:inline-block;width:142px;height:30px;vertical-align: top}
.busQuery-top-droplist .hx-droplist{width:140px;}
.busQuery-top-droplist .hx-droplist-placeholder{width:106px;background-position: 112px center;}
.busQuery-table-box{width:1100px;margin: 0 auto;display:none;}
.busQuery-query-btn{display:inline-block;width:92px;height:33px;text-align:center;color:#fff;background:#66cc66;font:13px/33px "microsoft yahei";vertical-align: top}
#busQuery-beginTime,#busQuery-endTime{background:url(../images/date.jpg) 120px center no-repeat #fff;}
.busQuery-change-btn-box{height:36px;margin:10px auto;}
.reservation-type-popup-content div input.radio{width:14px;height:14px;vertical-align: middle;font-size:14px;color:#666;}
.reservation-type-popup-content div label span{font-size:14px;color:#666;}
.reservation-type-popup-content div label{margin-right:12px;}
.busQuery-popup-margin{margin-right:12px;padding-left:80px;}
.busQuery-popup{display:none;}
/* net management */
/*.netManagement-tree{width:238px;height:100%;border:1px solid #eee;background:#f4f5f9;display: inline-block;vertical-align: top;overflow-x:hidden;}*/
/*.netManagement-tree-title{width:100%;height:58px;border-bottom:1px solid #eee;background:url(../images/list.jpg) 86px center no-repeat;font:16px/58px "microsoft yahei";color:#666;text-align:center;text-indent:14px;}*/
/* code table */
.code-table-left{float:left;width:240px;margin-left:10px;height:100%;overflow-x:hidden;background:#f4f5f9;border-right:1px solid #eee;border-left:1px solid #eee;}
.code-table-left>h2{width:100%;height:58px;border-bottom:1px solid #eee;background:url(../images/list.jpg) 56px center no-repeat;font:16px/58px "microsoft yahei";color:#666;text-align:center;text-indent:14px;}
.code-table-tree>li>p{background:url(../images/tree_1.jpg) 9px center no-repeat;text-indent:30px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;}
.code-table-tree dl, .code-table-tree>li>dl>dd>ul{display:none;}
.code-table-tree>li>dl>dd>p{background:url(../images/tree_1.jpg) 19px center no-repeat;text-indent:40px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;}
.code-table-tree>li>dl>dd p{background-image:url(../images/tree_1.jpg); background-repeat: no-repeat}
.code-table-tree>li>dl>dd>dl>dd>p{text-indent:50px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 29px center;}
.code-table-tree>li>dl>dd>dl>dd>dl>dd>p{text-indent:60px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 39px center;}
.code-table-tree>li>dl>dd>dl>dd>dl>dd>dl>dd>p{text-indent:70px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 49px center;}
.code-table-tree>li>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>p{text-indent:80px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 59px center;}
.code-table-tree>li>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>p{text-indent:90px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 69px center;}
.code-table-tree>li>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>dl>dd>p{text-indent:100px;font:14px/38px "microsoft yahei";height:38px;border-bottom:1px solid #eee;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;cursor: pointer;background-position: 79px center;}
.code-table-right{float:left;width:calc(100% - 272px);height:100%;margin:0 10px;}
.code-table-right .common-btns{margin-top:10px;height:36px;}
.code-table-tree>li>p.on,.code-table-tree>li>dl>dd>p.on,.code-table-tree>li>dl>dd p.on{background-image:url(../images/tree2.jpg);}
.code-table-tree p.background-none{background-image: none !important;}
.netManagement-top{height:280px;border:1px solid #ededf0;margin-top:10px;padding:0 10px;}
.netManagement-top .common-btns,.netManagement-bottom .common-btns{padding-top:10px;height:36px;padding-left:10px;}
#netManagement-table{margin-bottom:10px;}
.netManagement-bottom{height:210px;border:1px solid #ededf0;margin-top:10px;padding:0 10px;display: none;}
.netManagement-right{width:calc(100% - 276px);margin-left:16px;display: inline-block;vertical-align: top;}
.netManagement-hidden{display:none;}
.reservation-create select{width:298px;height:28px;border:1px solid #dadbdd;font:14px/28px "microsoft yahei";color:#666;}
.netManagement-popup-height{height:auto;margin-bottom:20px;}
/* content management */
.mobile-fixed{position:fixed;z-index:100;width:300px;height:611px;margin: auto;top:0;left:0;right:0;bottom:0;background:url(../images/mobile_bg.png) 0 0 no-repeat;}
.mobile-relative{width:300px;height:611px;position:relative;}
.mobile-list-title{width:225px;margin:0 auto;padding-top:126px;font:16px/26px "microsoft yahei";color:#333;text-align:center;}
.message-title{padding-top:66px;line-height:50px;color:#fff;height:50px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.mobile-list-date{width:225px;margin:0 auto;font:14px/20px "microsoft yahei";color:#999;}
.mobile-list-desc{width:225px;margin:12px auto 0;font:13px/20px "microsoft yahei";color:#666;height:40px;overflow: hidden;}
.mobile-popup-btns{position:absolute;width:129px;left:-128px;top:111px;}
.pc-popup-btns{position:absolute;width:129px;left:-30px;top:64px;}
.mobile-popup-btns a,.pc-popup-btns a{display:block;width:114px;height:40px;margin-bottom:6px;color:#333;text-align:right;font:14px/40px "microsoft yahei";padding-right:14px;background:#fff;}
.mobile-popup-btns a.on,.pc-popup-btns a.on{background:#47b54a;color:#fff;}
.mobile-popup-btns a.popup-mobile-close,.pc-popup-btns a.popup-mobile-close{background:#ff6666;color:#fff;}
.mobile-list{border-bottom:1px solid #ededf0;height:234px;width:225px;margin:0 auto;}
.mobile-content1{width:260px;height:414px;overflow:auto;margin:0 auto;}
.mobile-content{width:240px;height:414px;overflow:auto;margin:0 auto;}
.mobile-placeholder{height:120px;width:225px;margin:0 auto;}
/*.mobile-con-title{width:225px;min-height:42px;margin:0 auto;border-bottom:1px solid #ededf0;font:16px/40px "microsoft yahei";color:#333333;text-align:center;}*/
.mobile-con-title{width:225px;min-height:42px;margin:0 auto;font:16px/40px "microsoft yahei";color:#333333;text-align:center;}
.mobile-con-date{width:225px;height:32px;font:12px "microsoft yahei";color:#999999;text-align:center;margin:0 auto;}
.mobile-content-html{width:225px;height:auto;overflow:hidden;margin:0 auto;}
.pc-fixed{position:fixed;z-index:100;width:1058px;height:609px;margin: auto;top:0;left:0;right:0;bottom:0;background:url(../images/pc_bg.png) 0 0 no-repeat;}
.pc-list{padding-left:368px;padding-top:54px;width:530px;}
.pc-columns-title{width:100%;height:34px;background:url(../images/gray_title_bar.jpg) 0 center no-repeat;text-indent:10px;font:16px/34px "microsoft yahei";color:#a9a9a9;}
.pc-list li{width:100%;height:92px;}
.pc-list-img{float:left;width:133px;height:80px;text-align:center;line-height:80px;}
.pc-list-img img{display: inline-block;vertical-align: middle;max-width: 133px;max-height: 80px;}
.pc-list-fonts{float:left;width:376px;height:79px;border-bottom:1px solid #d6d6d6;margin-left:14px;}
.pc-list-fonts h2{width:100%;height:26px;font:14px/26px "microsoft yahei";color:#333333;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.pc-list-fonts-content{height:44px;font:14px/22px "microsoft yahei";color:#999999;overflow:hidden;}
.pc-content-wrap{margin-left:127px;margin-top:-16px;height:502px;overflow:auto;width:804px;display:none;}
.pc-content{padding:10px;}
/*.pc-content-title{width:518px;min-height:44px;text-align:center;font:16px/44px "microsoft yahei";color:#333333;border-bottom:1px solid #ededf0;}*/
.pc-content-title{width:100%;min-height:44px;text-align:center;font:16px/44px "microsoft yahei";color:#333333;}
.pc-content-date{width:100%;height:36px;text-align:center;font:12px "microsoft yahei";color:#999999;}
.pc-content-box{width:100%;height:auto;}
.pc-placeholder{width:100%;height:54px;}

/*preview*/
blockquote{padding:10px 0;margin:0;font-size: 14px;border-left: none;color: #333;line-height: 32px;}
blockquote span {font-size: 14px !important; color: #333 !important; font-family: "Microsoft YaHei" !important; }
blockquote img{max-width:100%; }
blockquote table, blockquote tr, blockquote th, blockquote td{border: 1px solid #e8e8e8; padding: 3px; text-align: center; }

.mobile-content{margin:6px 10px 0 28px;overflow-x: hidden;}
.mobile-content span{margin:10px 0 20px ;font-size: 12px;color: #909090;display: inline-block;}
.mobile-content .cn{margin-left: 5px;color: #68778e}
.mobile-content p{word-wrap:break-word;}
/*内容示例维护*/
#demoPopupTextarea{width:366px;height:150px;resize: none;border: 1px solid #e8e8e8;padding:5px;}
/*消息群发-文本-多渠道预览*/
.mobile-fixed.popup-app{background:url(../images/app.png) 0 0 no-repeat;}
.popup-app .message-title{line-height:64px;height:64px;font-size:20px;width:223px;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;color:#222;padding-top:126px;}
.popup-app .mobile-content{margin-top:0;height:402px;font-size:14px;line-height:26px;color:#222;width:224px;margin-left:39px;padding-top:10px;}
.mobile-fixed.popup-wechat{background:url(../images/webchat.png) 0 0 no-repeat;}
.popup-wechat .message-title{line-height:67px;height:59px;font-size:12px;width:150px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.popup-wechat .mobile-content{margin-top:0;height:412px;}
.mobile-fixed.popup-sms{background:url(../images/dx.png) 0 0 no-repeat;}
.popup-sms .message-title{font-size:0}
.popup-sms .mobile-content{margin-top:83px;height:300px;}
.mobile-fixed.popup-weibo{background:url(../images/weibo.png) 0 0 no-repeat;}
.popup-weibo .message-title{font-size:12px;text-align:left;margin:0 auto 0 68px;width:150px;padding-top:124px;color:#666;}
.popup-weibo .mobile-content{margin-top:9px;height:312px;margin-left:20px;width:260px;}
#mobile-font-wechat, #mobile-font-sms, #mobile-font-weibo, #mobile-font-app{display:none;}
#mobile-font-wechat{background:#fff;border:1px solid #e5e5e5;border-radius:5px;font-size:12px;line-height:24px;color:#000;padding:6px;width:150px;position:relative;margin:35px 0 20px 50px;word-break: break-all;min-height:24px;}
#mobile-font-wechat:before{content:'';background:url(../images/wechat_arrow.png) 0 0 no-repeat;position:absolute;left:-7px;width:7px;height:12px;top:10px;}
#mobile-font-wechat:after{content:'';background:url(../images/touxiang.png) 0 0 no-repeat;position:absolute;left:-50px;width:36px;height:36px;top:0;background-size:100% 100%;}
#mobile-font-wechat.wechat-audio-show{width:140px;text-indent:153px;color:#999;cursor: pointer;white-space: nowrap;background:url(../images/voice_off.gif) 10px center no-repeat #fff;background-size:18px;}
#mobile-font-wechat.wechat-audio-show audio{display:none;}
#mobile-font-wechat.run-play{background:url(../images/voice_on.gif) 10px center no-repeat #fff;background-size:18px;}
#mobile-font-sms{background:#ededed;width:188px;margin-left:10px;border-radius:10px 10px 0 0;position:relative;font-size:12px;line-height:24px;color:#000;word-break: break-all;padding:6px 6px 0 6px;min-height:24px;}
#mobile-font-sms:after{content:"";position:absolute;background:url(../images/qipao_foot.png) 0 0 no-repeat;width:206px;height:15px;bottom:-10px;left:-6px;border-radius:0 0 10px 0}
#mobile-font-weibo{position:relative;font-size:12px;color:#000;line-height:24px;margin-bottom:155px;width:220px;padding:0 20px 10px 20px;background:#fff;}
#mobile-font-weibo:after{content:'';width:261px;height:155px;background:url(../images/weibo_pl.png) 0 0 no-repeat;background-size:100% auto;position:absolute;bottom:-155px;left:0;}
/* 消息群推-多图文消息-发送预览消息-选择用户 */
.select-user-box{width:90%;position:fixed;z-index:100;left:5%;top:5%;background:#fff;}
.select-user-box-relative{position:relative;width:100%;}
#select-user{width:100%;height:580px;overflow: auto;}


/*2018年3月24日*/

.channelSelect {width:332px;height:36px;float:left;padding:3px 5px;border:solid 1px #ddd;border-radius:2px;background:url(../images/droplist.png) #ffffff right center no-repeat;-webkit-appearance: none; -moz-appearance: none;appearance:none;color:#666;}
.channelSelect::-ms-expand{display: none;}
.channelSelect:focus {border:solid 1px #66cc66;}
.channelSelect[disabled="disabled"] {background:url(../images/droplist.png) #efefef right center no-repeat;}