body{ background-color: #FFFFFF;}
.wel_title_01{ padding-top: 40px; font-size: 25px; color: #333333; line-height: 40px; text-align: center; font-weight: normal;}
.wel_title_02{ font-size: 36px; color: #333333; line-height: 40px; text-align: center; font-weight: normal;}
.wel_nav_box{ width: 638px; height: 257px; margin: 30px auto 0 auto; position: relative; background: url(../images/wel_nav_bg.gif) left top no-repeat;}
.wel_nav { position: absolute;}
.wel_nav_item{ display: block; background-color: #FFFFFF; position: relative; width: 65px; height: 112px; border-top: 1px solid #dedede; border-bottom: 1px solid #DEDEDE; -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg);transform: rotate(30deg);}
.tdeg{ display: block; background-color: #FFFFFF; width: 65px; height: 112px; border-top: 1px solid #dedede; border-bottom: 1px solid #DEDEDE;}
.tldeg{ z-index: -1; -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg);transform: rotate(60deg);}
.trdeg{ z-index: -2; position: absolute; top: 0; -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -o-transform: rotate(-60deg);transform: rotate(-60deg);}
.w_nav_p01{ left: 88px; top: 35px;}
.w_nav_p02{ left: 201px; top: 35px;}
.w_nav_p03{ left: 314px; top: 35px;}
.w_nav_p04{ left: 427px; top: 35px;}
.w_nav_p05{ left: 144px; top: 133px;}
.w_nav_p06{ left: 257px; top: 133px;}
.w_nav_p07{ left: 370px; top: 133px;}
.w_nav_p08{ left: 483px; top: 133px;}
.wel_nav_text{ width: 100%; height: 60px; position: absolute; left: 0; top: 34px; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -ms-transform: rotate(-30deg); -o-transform: rotate(-30deg);transform: rotate(-30deg);white-space: nowrap;}
.wel_nav_text p{ font-size: 12px; color: #33cc33; text-align: center; padding-top: 6px;}
.wico{ display: block; width: 56px; height: 39px; margin: 0 auto; background-image: url(../images/wel_ico.png); background-repeat: no-repeat;}
.w_nav_p01 .wico{ background-position: 0px 0px;}
.w_nav_p02 .wico{ background-position: 0px -39px;}
.w_nav_p03 .wico{ background-position: 0px -78px;}
.w_nav_p04 .wico{ background-position: 0px -117px;}
.w_nav_p05 .wico{ background-position: 0px -273px;}
.w_nav_p06 .wico{ background-position: 0px -195px;}
.w_nav_p07 .wico{ background-position: 0px -156px;}
.w_nav_p08 .wico{ background-position: 0px -234px;}

.wel_nav a{cursor: default;}
.wel_nav.w_nav_p01:hover .wico{ background-position: -64px 0px;}
.wel_nav.w_nav_p02:hover .wico{ background-position: -64px -39px;}
.wel_nav.w_nav_p03:hover .wico{ background-position: -64px -78px;}
.wel_nav.w_nav_p04:hover .wico{ background-position: -64px -117px;}
.wel_nav.w_nav_p05:hover .wico{ background-position: -64px -273px;}
.wel_nav.w_nav_p06:hover .wico{ background-position: -64px -195px;}
.wel_nav.w_nav_p07:hover .wico{ background-position: -64px -156px;}
.wel_nav.w_nav_p08:hover .wico{ background-position: -64px -234px;}


.wel_nav:hover .wel_nav_item, .wel_nav:hover .tdeg{ background-color: #33cc33; border-color: #33cc33;}
.wel_nav:hover .wel_nav_text p{ color: #FFFFFF;}
