<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" type="text/css" href="css/hx.core.css" />
    <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>
<body>
<img src="images/toplogo.gif" class="header-logo" alt="">
<div class="header-user-info">
    <p class="header-user-icons1" onclick="top.frames['main'].location.href = 'channelRunning.html?centerNb=true';">渠道应用运行状态监控</p>
    <p class="header-user-icons1" id="centerName"></p>
    <p class="header-user-icons2" id="userName"></p>
    <a href="javascript:;" onclick="top.Common.logout();" class="header-user-icons3">退出登录</a>
</div>
</body>
</html>